.btn
    padding .5em 1em

.btn-mini
    padding .1em 1em

.btn-azul, .btn-a_marina, .btn-gris, .btn-rosa, .btn-rosa_02, .btn-azul-claro,.btn-azul-claro-02, .btn-verde-claro, .btn-verde-claro-02, .btn-amarillo-claro, .btn-amarillo-claro-02, .btn-lila, .btn-lila-02, .btn-gris-claro
    display inline-block
    font-family tbold
    font-weight 400
    border-radius 8px
    height auto

.btn-right
    float right

.btn-left
    float left

//BOTON AZUL*******************************************************************

.btn-azul
    color #FFFFFF
    background #335e94 url("../images/back_btns.png") repeat-x
    background-position 0 0
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    border-color #004D7C

    &:hover, &:focus, &:active, &.active, &.disabled, &[disabled]
        color #FFFFFF
        background-position 0 -49px
        border 1px solid #004D7C !important

//BOTON AZUL AGUA MARINA*******************************************************************

.btn-a_marina
    color #FFFFFF
    background #669ea6 url("../images/back_btns.png") repeat-x
    background-position 0 -98px
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    border-color #2F858A

    &:hover, &:focus, &:active, &.active, &.disabled, &[disabled]
        color #FFFFFF
        background-position 0 -146px
        border 1px solid #2F858A !important

//BOTON GRIS*******************************************************************

.btn-gris
    color #FFFFFF
    background #7A7A7A url("../images/back_btns.png") repeat-x
    background-position 0 -196px
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    border-color #7A7A7A

    &:hover, &:focus, &:active, &.active, &.disabled, &[disabled]
        color #FFFFFF
        background-position 0 -244px
        border 1px solid #7A7A7A !important

//BOTON ROSA*******************************************************************

.btn-rosa
    color #FFFFFF
    background #D25F9F url("../images/back_btns.png") repeat-x
    background-position 0 -294px !important
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    border-color #D25F9F

    &:hover, &:focus, &:active, &.active, &.disabled, &[disabled]
        color #FFFFFF
        background-position 0 -343px !important
        border 1px solid #D25F9F !important

//BOTON ROSA DOS*******************************************************************

.btn-rosa_02
    color #666
    background #F1F0F0 url("../images/back_btns.png") repeat-x
    background-position 0 -391px
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    border-color #F1F0F0

    &:active, &:hover, &.active, &.disabled, &[disabled]
        color #FFF
        background #D25F9F
        text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
        border 1px solid #D25F9F !important

//BOTON AZUL CLARO*******************************************************************

.btn-azul-claro
    color #FFFFFF
    background #D25F9F url("../images/back_btns.png") repeat-x
    background-position 0 -489px
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    border-color #599FD2

    &:hover, &:focus, &:active, &.active, &.disabled, &[disabled]
        color #FFFFFF
        background-position 0 -538px
        border 1px solid #599FD2 !important

//BOTON AZUL CLARO DOS*******************************************************************

.btn-azul-claro-02
    color #666
    background #F1F0F0 url("../images/back_btns.png") repeat-x
    background-position 0 -391px
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    border-color #F1F0F0

    &:active, &:hover, &.active, &.disabled, &[disabled]
        color #FFF
        background #599FD2
        text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
        border 1px solid #599FD2 !important

//BOTON VERDE CLARO*******************************************************************

.btn-verde-claro
    color #FFFFFF
    background #509CB3 url("../images/back_btns.png") repeat-x
    background-position 0 -587px
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    border-color #509CB3

    &:hover, &:focus, &:active, &.active, &.disabled, &[disabled]
        color #FFFFFF
        background-position 0 -636px
        border 1px solid #509CB3 !important

//BOTON VERDE CLARO DOS*******************************************************************

.btn-verde-claro-02
    color #666
    background #F1F0F0 url("../images/back_btns.png") repeat-x
    background-position 0 -391px
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    border-color #F1F0F0

    &:active, &:hover, &.active, &.disabled, &[disabled]
        background #509CB3
        text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
        border 1px solid #509CB3 !important

//BOTON AMARILLOS CLARO*******************************************************************

.btn-amarillo-claro
    color #FFFFFF
    background #DFA238 url("../images/back_btns.png") repeat-x
    background-position 0 -685px
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    border-color #DFA238

    &:hover, &:focus, &:active, &.active, &.disabled, &[disabled]
        color #FFFFFF
        background-position 0 -734px
        border 1px solid #DFA238 !important

//BOTON AMARILLO CLARO DOS*******************************************************************

.btn-amarillo-claro-02
    color #666
    background #F1F0F0 url("../images/back_btns.png") repeat-x
    background-position 0 -391px
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    border-color #F1F0F0

    &:active, &:hover, &.active, &.disabled, &[disabled]
        color #FFFFFF
        background #DFA238
        text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
        border 1px solid #DFA238 !important

//BOTON LILA*******************************************************************

.btn-lila
    color #FFFFFF
    background #8787B7 url("../images/back_btns.png") repeat-x
    background-position 0 -783px
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    border-color #8787B7

    &:hover, &:focus, &:active, &.active, &.disabled, &[disabled]
        color #FFFFFF
        background-position 0 -832px
        border 1px solid #8787B7 !important

//BOTON LILA DOS*******************************************************************

.btn-lila-02
    color #666
    background #F1F0F0 url("../images/back_btns.png") repeat-x
    background-position 0 -391px
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    border-color #F1F0F0

    &:active, &:hover, &.active, &.disabled, &[disabled]
        color #FFFFFF
        background #8787B7
        text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
        border 1px solid #8787B7 !important

//BOTON GRIS CLARO*******************************************************************

.btn-gris-claro
    color #666
    background #F1F0F0 url("../images/back_btns.png") repeat-x
    background-position 0 -391px
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    border-color #F1F0F0

    &:hover, &:focus, &:active, &.active, &.disabled, &[disabled]
        color #666
        background-position 0 -439px
        border 1px solid #F1F0F0 !important

//TEXTOS INTERNOS DE TODOS LOS BOTONES*********************************************

section.boton_center, .boton_center
    display block
    width auto
    text-align center

span.boton_azul, .boton_azul
    font-family tbold
    color #FFF
    font-size 1.2em
    line-height 1.1em
    margin 0 !important
    padding 0 !important

span.boton_text, .boton_text
    font-family tbold
    color #FFF
    font-size 1.3em
    margin 0 !important
    padding 0 !important

span.boton_text_gris, .boton_text_gris
    font-family tnormal
    color #9b9b9b
    font-size 1.3em
    margin 0 !important
    padding 0 !important

span.boton_text_canales_01, .boton_text_canales_01
    color #FFF
    font-size 1.1em
    font-family tbold
    margin 0 !important
    padding 0 !important

span.boton_vinculos02, .boton_vinculos02
    font-family tbold
    background url(../images/arrow_01.png) no-repeat 100% 50%
    padding 0 25px 0 0 !important
    display block
    color #FFF
    font-size 1.1em
    line-height 1.2em
    margin 0 !important

span.boton_text_votar, .boton_text_votar
    display block
    background url("../images/internas/check_button.png") no-repeat 100% 50%
    font-family tbold
    color #FFF
    font-size 1.3em
    line-height 1.3em
    margin 0 !important
    padding 5px 30px 5px 10px !important