#bfade-home-panales

    ul.bjqs

        li

            article
        
                margin-top 200px

        li.bebes_01
            background url(../images/canales/banners/banner-bebes-1.jpg)

        li.bebes_02
            background url(../images/canales/banners/banner-bebes-1.jpg)

        li.bebes_03
            background url(../images/canales/banners/banner-bebes-1.jpg)

        li.embarazo_01
            background url(../images/canales/banners/banner-embarazo-1.jpg)

        li.embarazo_02
            background url(../images/canales/banners/banner-embarazo-1.jpg)

        li.embarazo_03
            background url(../images/canales/banners/banner-embarazo-1.jpg)

        li.palabritas_01
            background url(../images/canales/banners/banner-palabritas-1.jpg)

        li.palabritas_02
            background url(../images/canales/banners/banner-palabritas-1.jpg)

        li.palabritas_03
            background url(../images/canales/banners/banner-palabritas-1.jpg)

        li.pasitos_01
            background url(../images/canales/banners/banner-pasitos-1.jpg)

        li.pasitos_02
            background url(../images/canales/banners/banner-pasitos-1.jpg)

        li.pasitos_03
            background url(../images/canales/banners/banner-pasitos-1.jpg)

        li.rnacidos_01
            background url(../images/canales/banners/banner-rnacidos-1.jpg)

        li.rnacidos_02
            background url(../images/canales/banners/banner-rnacidos-1.jpg)

        li.rnacidos_03
            background url(../images/canales/banners/banner-rnacidos-1.jpg)

.blue-block-100-perc
    background #eef7fd
    height 370px
    max-height 360px
    overflow hidden
    width 100%
    margin 20px 0

#otros_temas .bx-wrapper .bx-prev, #otros_temas .bx-wrapper .bx-next
    width 45px
    height 43px

#otros_temas .bx-wrapper .bx-prev
    left 0
    top -50px
    background url(../images/sprite_arrow.png) no-repeat 0 -45px

#otros_temas .bx-wrapper .bx-next
    right 0
    top -50px
    background url(../images/sprite_arrow.png) no-repeat 0 0

#otros_temas .bx-wrapper .bx-prevhover
    background-position -45px -45px

#otros_temas .bx-wrapper .bx-nexthover
    background-position -45px 0

div.border_top-1
    border-top 5px solid #fbe3f3
    width 100%

a.leer-vinculo
    display block
    color #71C1CD
    font-weight 700
    font-family Verdana
    font-size .9em
    line-height 1.2em
    margin 15px 0 0
    &:hover
        text-decoration underline

    span
        background url(../images/arrow_01.png)no-repeat
        width 18px
        height 18px
        display inline-block
        margin-left 10px

.standart-block-100-perc
    height 370px
    max-height 360px
    overflow hidden
    width 100%
    margin 25px 0

.standart-block-100-perc.embarazo
    background #fdf0f9

.standart-block-100-perc.bebes
    background #ebe9f4

.standart-block-100-perc.palabritas
    background #e7f2f4

.standart-block-100-perc.pasitos
    background #fbf3e6

.standart-block-100-perc.rnacidos
    background #e6f3fb

.contenido_gnrl

    .left-side
        margin-top 20px
        margin-right 10px
        width 350px
        height auto
        display inline-block
        vertical-align top

        div
            div.round-block-conte
                width 100%
                min-height 460px
                margin-top 10px
                background #FFF

        .standart-round-block
            border-radius 10px
            padding 10px

        .embarazo
            background #fbe3f3

        .bebes
            background #d5d7ec

        .palabritas
            background #d5e8ec

        .pasitos
            background #f8e9d2

        .rnacidos
            background #d3e9f7

.contenido_gnrl

    .right-side
        margin-top 20px
        width 655px
        height auto
        display inline-block
        vertical-align top

        h4
          font-family tbold
          font-weight 400
          text-align left
          line-height 1em

        .title-pink
            font-family tbold
            color #d15b9d
            font-size 1.8em
            margin 0
            text-align left

        .subtitle-pink
            font-family tnormal
            color #d15b9d
            font-size 1.4em
            font-weight 400
            margin 0
            text-align left

        .title-rnacidos
            font-family tbold
            color #7cbbe4
            font-size 1.8em
            font-weight 400
            margin 0
            text-align left

        .subtitle-rnacidos
            font-family tnormal
            color #7cbbe4
            font-size 1.4em
            font-weight 400
            margin 0
            text-align left

        .title-bebes
            font-family tbold
            color #8788b8
            font-size 1.8em
            font-weight 400
            margin 0
            text-align left

        .subtitle-bebes
            font-family tnormal
            color #8788b8
            font-size 1.4em
            font-weight 400
            margin 0
            text-align left

        .title-pasitos
            font-family tbold
            color #e2a344
            font-size 1.8em
            font-weight 400
            margin 0
            text-align left

        .subtitle-pasitos
            font-family tnormal
            color #e2a344
            font-size 1.4em
            font-weight 400
            margin 0
            text-align left

        .title-palabritas
            font-family tbold
            color #67a8b9
            font-size 1.8em
            font-weight 400
            margin 0
            text-align left

        .subtitle-palabritas
            font-family tnormal
            color #67a8b9
            font-size 1.4em
            font-weight 400
            margin 0
            text-align left

    .standart-round-block

        h2
            font-family tbold
            font-weight 400
            font-size 1.4em
            text-align center
            line-height 1.1em
            margin 0

        h2.embarazo
            color #d15c9d

        h2.bebes
            color #8788b6

        h2.palabritas
            color #66a2ba

        h2.pasitos
            color #e3a534

        h2.rnacidos
            color #7abae6

        h4
            font-size 1em
            color #0b4b85
            text-align center
            letter-spacing -1px
            line-height 2em
            margin 10px 0

        h5.no_estas_segura
            font-size .9em
            color #054884
            text-align left
            line-height 1.4em
            margin 10px 0 0

        p.calcula_semana
            font-size .8em
            line-height 1em
            color #808284
            text-align left
            margin 0 0 0

ul.total_semanas
    display block

    li
        width 25px
        height 25px

        a
            display block
            width 25px
            height 25px
            border-radius 5px
            background #e3e3e3
            box-shadow inset 0 0 3px #adadad
            color #b6b6b6
            line-height 1.8em
            font-size .9em

ul.total_semanas.embarazo li a:hover, ul.total_semanas.embarazo li.tab a.active
    background #d15b9d
    color #FFF

ul.total_semanas.bebes li a:hover, ul.total_semanas.bebes li.tab a.active
    background #8788b6
    color #FFF

ul.total_semanas.palabritas li a:hover, ul.total_semanas.palabritas li.tab a.active
    background #66a2ba
    color #FFF

ul.total_semanas.pasitos li a:hover, ul.total_semanas.pasitos li.tab a.active
    background #e3a534
    color #FFF

ul.total_semanas.rnacidos li a:hover, ul.total_semanas.rnacidos li.tab a.active
    background #7abae6
    color #FFF

.contenido_gnrl .left-side div div.round-block-conte .bx-viewport
    width 305px !important

.contenido_gnrl .left-side div div.round-block-conte div.bx-wrapper .bx-prev, .contenido_gnrl .left-side div div.round-block-conte div.bx-wrapper .bx-next
    width 11px
    height 15px

.contenido_gnrl .left-side div div.round-block-conte div.bx-wrapper .bx-prev
    left 15px
    top -14px
    background url(../images/canales/flecha_semanas.png) no-repeat 0 0

.contenido_gnrl .left-side div div.round-block-conte div.bx-wrapper .bx-next
    right 15px
    top -14px
    background url(../images/canales/flecha_semanas.png) no-repeat -12px 0

.contenido_gnrl .left-side div div.round-block-conte div.bx-wrapper .bx-prevhover
    opacity .6

.contenido_gnrl .left-side div div.round-block-conte div.bx-wrapper .bx-nexthover
    opacity .6

section.contenidos_semanas
    width 310px
    display block
    margin 10px auto
    padding 10px
    background linear-gradient(to bottom,rgba(206,206,206,1) 0%,rgba(239,239,239,1) 3%,rgba(255,255,255,1) 6%,rgba(255,255,255,1) 100%)

    h5
        font-size 1em
        text-align left
        font-weight bold
        &.embarazo_t01
            color #d15b9d
        &.bebes_t01
            color #8788b6
        &.palabritas_t01
            color #66a2ba
        &.pasitos_t01
            color #e3a534
        &.rnacidos_t01
            color #7abae6

    p.titulo_subbottom
        font-family tbold
        font-weight 400
        font-size 1.1em
        color #83a1c1
        text-align center
        margin 10px 0 0

section.contenidos_semanas .secciones_izq, section.contenidos_semanas .secciones_redes, .secciones_izq
    padding 0
    margin 5px 0
    display block
    vertical-align top
    text-align left

section.contenidos_semanas

    .secciones_redes
        text-align center !important

        p.invitacion, a.facebook, a.mail
            display inline-block
            vertical-align middle
            margin 0 2px

        p.invitacion
            width 120px
            font-size 1em
            color #999999
            text-align left
        
        a.facebook
            background url(../images/s01_home.png) no-repeat -520px -82px
            width 32px
            height 32px
            opacity .8
            &:hover
                opacity 1

        a.mail
            background url(../images/s01_home.png) no-repeat -556px -82px
            width 37px
            height 32px
            opacity .8
            &:hover
                opacity 1

    .secciones_izq

        p.info_lite, p.info_bold
            width 150px
            display inline-block
            text-align left
            color #808284
            margin 0 5px 0 0
            font-size .9em

        p.info_lite
            font-weight 400

        p.info_bold
            font-weight 700

        figure.imagen_semana, article.descripcion_semana
            display inline-block
            vertical-align top

        figure.imagen_semana
            background url(../images/canales/img_semana04.png) no-repeat
            width 89px
            height 89px
            margin 0 10px 0 0

        article.descripcion_semana
            width 205px

            h4
                font-size 1.1em
                font-weight bold
                line-height 1.1em
                color #466b93
                text-align left
                margin 0

            p
                font-size .8em
                line-height 1.2em
                color #808284
                text-align left
                margin 10px 0 0

#embarazo-tab-container

    .etabs
        background url(../images/canales/bg-tab-nav.jpg) repeat-x
        height 50px
        margin 0
        padding 5px 20px
        line-height 40px
        text-align left

    .tab
        display inline-block

        a
            font-family tnormal
            display inline-block
            font-weight 400
            font-size 1.2em
            line-height 1em
            outline none
            padding 5px 10px
            border-radius 6px

    li.active
        display inline-block
        background url(../images/canales/bg-tabs-pestana.png) no-repeat bottom
        height 41px

.text-white
    font-size 1.1em
    line-height 1.2em

#block1-tab .bx-viewport
    width 580px !important
    margin 0 auto 0

#block1-tab div.bx-wrapper .bx-prev, .contenido_gnrl .left-side div div.round-block-conte div.bx-wrapper .bx-next
    width 19px
    height 33px

#block1-tab div.bx-wrapper .bx-prev
    left -20px
    top 50%

#block1-tab div.bx-wrapper .bx-next
    right -20px
    top 50%

#block1-tab div.bx-wrapper .bx-prevhover
    opacity .6

#block1-tab div.bx-wrapper .bx-nexthover
    opacity .6

#block1-tab, #block2-tab, #block3-tab
    margin 20px auto !important
    min-height 240px
    width 610px

#block1-tab
    
    ul.slider_tab
        margin 0 0 0 -2px
        li
            border-left 1px dotted #C6C6C6
            min-height 240px
            padding 0 10px !important

            h4
                color #466b93
                text-align left

            figure.images, a.images
                cursor pointer
                border 3px solid #FFF
                border-radius 12px
                display block
                height 116px
                margin 0 auto
                overflow hidden
                position relative
                width 167px
                &:hover
                    border 3px solid #3ac7d0
                img
                    display block
                    height auto
                    width 100%

                &.private
                    background #000
                    &:before
                        background rgba(0, 0, 0,.5)
                        content ""
                        display block
                        width 100%
                        height 116px
                        position absolute
                    &:after
                        background url("../images/sprite_internas.png") -174px -323px
                        content ""
                        height 41px
                        left 20px
                        position absolute
                        top 0px
                        width 32px

            .pan-button
                bottom 0
                margin auto
                position absolute
                text-align left
                vertical-align bottom
                width 150px

.form-ayuda
    margin 20px auto 0
    width 621px
    height 225px

    h1
        font-family tbold
        font-weight 400
        font-size 1.8em
        margin 0 0 0
        text-align left

    .inner
        margin 0 300px 0 20px

    .text
        font-family tnormal
        font-weight 400
        color #474747
        font-size 1.1em
        text-align left

    div._label
        color #474747
        font-size .9em
        padding-top 10px
        text-align left

    div.register-zone
        color #474747
        font-size .7em !important
        text-align left
        margin-top 10px

        a
            color #474747
            text-decoration underline
            font-weight bold

    select
        font-size .9em

.form-ayuda.embarazo
    background url(../images/canales/bg-winny-embarazo.jpg)

.form-ayuda.recien-nacidos
    background url(../images/canales/bg-winny-recien-nacidos.jpg)

.form-ayuda.bebes
    background url(../images/canales/bg-winny-bebes.jpg)

.form-ayuda.pasitos
    background url(../images/canales/bg-winny-pasitos.jpg)

.form-ayuda.palabritas
    background url(../images/canales/bg-winny-palabritas.jpg)

#block2-tab

    .content_videoconferencias
        width 610px
        display block
        vertical-align top
        text-align center

        .content_left, .content_right
            display inline-block
            vertical-align top
            margin 0 5px
            text-align left
            
            h5.text
                color #D15B9D
                font-size 1em
                font-weight bold
                line-height 1.2em
                margin 0 0 1em
                text-align left
            h5.rnacidos_t01
                color #7abae6
            h5.bebes_t01
                color #8a87bc
            h5.pasitos_t01
                color #e2a344
            h5.palabritas_t01
                color #67a8b9


        .content_left
            width 330px
            border-right 1px dotted #c2c2c2
            figure.video, a.video
                border 3px solid #FFF
                border-radius 12px
                cursor pointer
                display block
                height 148px
                overflow hidden
                position relative
                width 301px
                figure.iconPlay
                    background url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat scroll -111px -346px transparent
                    height 53px
                    position absolute
                    right 50%
                    top 50%
                    margin -26.5px -26.5px 0 0
                    width 53px
                &:hover
                    border 3px solid #3ac7d0
                img
                    width 100%
                    height auto
                &.private
                    background #000
                    &:before
                        background rgba(0, 0, 0,.5)
                        content ""
                        display block
                        width 100%
                        height 148px
                        position absolute
                    &:after
                        background url("../images/sprite_internas.png") -174px -323px
                        content ""
                        height 41px
                        left 20px
                        position absolute
                        top 0px
                        width 32px

            h4.titulo
                color #054884
                font-size 1.3em
                line-height 1em
                margin .5em 0
                text-align left

            p.parrafo
                color #808284
                font-size .8em
                line-height 1.2em
                margin 10px 0 0
                text-align left

        .content_right
            width 230px


#block3-tab

    h4.titulo_principal
        color #D15B9D
        font-size 1.2em
        line-height 1.3em
        margin 0 0 1em
        text-align left
    
    .content_articulos
        width 610px
        display block
        vertical-align top
        text-align center
        .rnacidos_t01
            color #7abae6
        .bebes_t01
            color #8a87bc
        .pasitos_t01
            color #e2a344
        .palabritas_t01
            color #67a8b9

        .content_uno, .content_dos, .content_tres
            width 185px
            display inline-block
            vertical-align top
            padding 0 5px
            text-align left

        .content_uno, .content_dos
            border-right 1px dotted #C6C6C6

        h3.titulo_seccion
            font-size 1em
            line-height 1.2em
            text-align left
            color #656565
            margin 5px 0

        .bloque_azul
            background #e3eef5
            padding 15px 10px
            margin 15px 0 0

            h4.titulo_principal
                font-family tnormal
                font-weight 300
                color #054884
                font-size 1em
                margin 0 20px 0 0
                text-align left
                display inline-block
                strong
                    font-family tbold
                    font-size 1.4em
                    font-weight 400 !important
                    margin 0
                    text-align left

#block2-tab, #block3-tab

    ul.listas
        display block
        margin 0
        padding 0
        width 100%
        text-align left
        line-height 1.2em !important
        float none

        li
            margin 10px 0 !important
            padding 0 0 0 15px !important
            list-style none
            background url("../images/bullet-azul.png") no-repeat 0 3px
            font-weight 300
            font-size .8em
            line-height 1.2em !important
            text-align left !important
            color #626262
            float none
            width 100%

            a
                clear both
                display block
                color #626262
                background none
                float none
                z-index 999
                &:hover
                    text-decoration underline
                    color #054883

                span.lock
                    background url("../images/s01_home.png")no-repeat -578px -52px
                    width 16px
                    height 16px
                    display inline-block
                    margin -2px 0 0 10px
