@font-face{font-family:'VAGRounded-BT';src:url("fonts/VAGRounded-BT/10915-webfont.eot");src:url("fonts/VAGRounded-BT/10915-webfont.eot?#iefix") format('embedded-opentype'),url("fonts/VAGRounded-BT/10915-webfont.woff") format('woff'),url("fonts/VAGRounded-BT/10915-webfont.ttf") format('truetype'),url("fonts/VAGRounded-BT/10915-webfont.svg#vagrounded_btregular") format('svg');font-weight:400;font-style:normal}
@font-face{font-family:'VAGRounded-LT';src:url("fonts/VAGRounded-LT/VAGRounded-Light.eot");src:url("fonts/VAGRounded-LT/VAGRounded-Light.eot?#iefix") format('embedded-opentype'),url("fonts/VAGRounded-LT/VAGRounded-Light.woff") format('woff'),url("fonts/VAGRounded-LT/VAGRounded-Light.ttf") format('truetype'),url("fonts/VAGRounded-LT/VAGRounded-Light.svg#vagrounded_btregular") format('svg');font-weight:400;font-style:normal}

.contentBabyShower{
	display:block;
	margin:20px auto 60px;
	text-align:center;
	width:730px;
	font-size: 15px;
}
h2.titleShower {
	font-family:VAGRounded-BT,sans-serif !important;
	color:#3967ad;
	font-size:2em;
	line-height:1.1em;
	font-weight:400;
	text-align:left;
}
h2.titleShower02 {
	color:#3967ad;
	font-size:1.4em;
	line-height:1.1em;
	font-weight:700;
	text-align:left;
}
h2.titleShower03 {
	color:#3967ad;
	font-size:1.2em;
	line-height:1.1em;
	font-weight:700;
	text-align:left;
}
h2.nameShower {
	color:#d15c9d;
	font-size:2.2em;
	line-height:1em;
	font-weight:700;
	text-align:left;
}
h2.nameShower02 {
	color:#3967ad;
	font-family:VAGRounded-BT,sans-serif !important;
	font-size:2.2em;
	line-height:1em;
	font-weight:400;
	text-align:left;
}
h3.subtitleShower {
	font-family:VAGRounded-BT,sans-serif !important;
	color:#3ccdd6;
	font-size:1.6em;
	line-height:1.1em;
	margin-bottom: 1em;
	font-weight:400;
	text-align:left;
}
p.textShower{
	color:#7b7b7b;
	font-size:.8em;
	line-height:1.2em;
	font-weight:400;
	text-align:left;
}
p.textShower .special{
	font-family:VAGRounded-BT,sans-serif !important;
	font-size: 1.1em;
}
p.textShower.alg-center{
	text-align: center;
}
p.textPrinShower{
	color:#7b7b7b;
	font-size:1.1em;
	font-family:VAGRounded-LT,sans-serif !important;
	font-weight:400;
	line-height:1.2em;
	margin-top: .5em;
	text-align:center;
}
.infoShower{
	background:#fcfcfc;
	border-radius:15px;
	border: 2px solid #f1f1f1;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left: 0px !important;
	margin-top: 1em;
	margin-bottom: 1em;
}
.infoShower a.btn.btn-shower{
	margin: 5px 0;
}
.infoShower02{
	background:#fef9ed;
	border-radius:15px;
	border: 2px solid #fff1cf;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 0px !important;
	margin-top: 1em;
	margin-bottom: 1em;
}
.infoShower02 p.subtitle{
	color: #35719f;
	font-family: VAGRounded-LT,sans-serif;
	font-size: 1em;
	text-align: center;
}
.infoShower02 p.subtitle strong{
	font-family: VAGRounded-BT,sans-serif;
	font-weight: 400 !important;
}
.infoShower02 figure.icono{
	background: url("../images/babby-shower/spriteBabyShower.png") no-repeat -1px -171px;
	content: '';
	display: block;
	height: 47px;
	margin: 0 auto;
	width: 47px;
}
.infoShower02 ul.botones{
	text-align: center;
}
.infoShower02 ul.botones li{
	display: inline-block;
	margin: 0 .5em;
	vertical-align: top;
	width: 150px;
}
.infoShower02 ul.botones li a{
	border-radius: 50%;
	display: block;
	height: 70px;
	margin: .2em auto .5em;
	text-align: center;
	width: 75px;
}
.infoShower02 ul.botones li a:hover{
	-webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,.3);
	box-shadow: 0 0 2px 1px rgba(0,0,0,.3);
}
.infoShower02 ul.botones li p{
	display: block;
	font-family: VAGRounded-LT,sans-serif !important;
	font-size: .9em;
	line-height: 1.2em;
	text-align: center;
}
.infoShower02 ul.botones li p.facebook{color: #647ba7;}
.infoShower02 ul.botones li p.manual{color: #7cc8d4;}

.infoSearch{
	background:#ffffff;
	border-radius:15px;
	border: 2px solid #eaeaea;
	padding: 1em;
	margin-left: 0px !important;
	margin-top: 1em;
	margin-bottom: 1em;
}
.infoSearch ul.addInv{
	margin: 0;
	padding: 0;
	text-align: left;
}
.infoSearch ul.addInv li{
	display: inline-block;
	margin: 0 .2em;
	padding: 0;
	text-align: left;
	vertical-align: top;
}
.infoSearch ul.addInv li p{
	display: block;
	font-family: VAGRounded-LT,sans-serif !important;
	font-size: 1em;
	line-height: 1.2em;
	margin: .3em 0 0;
	text-align: center;
}
.infoSearch ul.addInv li a{
	border-radius: 50%;
	display: block;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	width: 30px;
}
.infoSearch ul.addInv li a:hover{
	-webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,.3);
	box-shadow: 0 0 2px 1px rgba(0,0,0,.3);
}
.infoSearch ul.addInv li a img{display: block; width: 100%;}
.infoSearch ul.paginate{
	margin: 0;
	padding: 0;
}
.infoSearch ul.paginate li{
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
.infoSearch ul.paginate li p, .infoSearch  p{
	display: block;
	font-family: VAGRounded-LT,sans-serif !important;
	font-size: .9em;
	line-height: 1.2em;
	margin: .3em .2em 0;
	text-align: left;
}
.infoSearch ul.paginate li a{
	background: url("../images/babby-shower/spriteBabyShower.png");
	display: block;
	height: 24px;
	width: 24px;
}
.infoSearch ul.paginate li a.left{background-position: -27px -142px;}
.infoSearch ul.paginate li a.right{background-position: -1px -142px;}
.infoSearch ul.paginate li a.left_last{background-position: -149px -297px;}
.infoSearch ul.paginate li a.right_last{background-position: -175px -297px;}
.contentBabyShower h4{
	color: #3ccdd6;
	font-family: VAGRounded-BT,sans-serif !important;
	font-size: 1.6em;
	margin-bottom: 1em;
	text-align: left;
}
.infoSearch form, .infoSearch form input {
    margin: 0px 0px 0px !important;
}
.contentBabyShower p{
	color: #7b7b7b;
	font-size: 1em;
	text-align: left;
}
.contentBabyShower label{
	color: #1a4782;
	font-size: 1em;
	font-weight: bold;
	text-align: left;
}
.contentBabyShower .btnCont{
	color: #1a4782;
	font-size: 1em;
	font-weight: bold;
	text-align: left;
}
.contentBabyShower .control-group{
	display: block;
}
.contentBabyShower .camposFrm{
	text-align: left;
	padding-left: 1em;
	padding-right: 1em;
}
.contentBabyShower .btnCont{
	margin-bottom: 6em;
}
.contentBabyShower input, .contentBabyShower select, .contentBabyShower textarea, .contentBabyShower .uneditable-input{
	padding:4px 2.5%;
	outline:none;
	width: 95%;
}
.contentBabyShower input[type="checkbox"], .contentBabyShower input[type="radio"]{
	width: 20px;
	margin-right: 20px;
	margin-top: 0;
}
.contentBabyShower label.checkbox, .contentBabyShower label.radio{
	color: #7b7b7b;
	display: block;
	font-size: .9em;
	font-weight: normal;
	text-align: left;
	width: 100%;
}
.contentBabyShower textarea{
	min-width: 95%;
	max-width: 95%;
	height: 150px;
	max-height: 150px;
	min-height: 150px;
}
.contentBabyShower select{
	padding:4px 6px;
	width: 100%;
}
.contShower{
	margin-left: 0px !important;
}
.bloqBtnShower{
	margin-bottom: 2em;
}
figure.iconBullet{
	background:url("../images/babby-shower/spriteBabyShower.png") no-repeat 0 0;
	display:block;
	height:139px;
	margin:0 auto;
	width:139px;
}
a.newBabe{
	background:#f0f8ff;
	-webkit-border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
	border:none;color:#18437c;
	display:block;
	font-family:'VAGRounded-LT';
	font-size:1.1em;
	margin:2em 1em 1em;
	outline:none;
	padding:.7em 1em;
	position:relative;
	text-align:left;
}
a.newBabe:hover{
	color:#0097dc;
	text-decoration:none;
}
a.newBabe:focus{
	text-decoration:none;
}
a.newBabe:after{
	background:url("../images/sprite_arrow.png") no-repeat -63px -92px;
	content:'';
	height:19px;
	margin-top:-9.5px;
	position:absolute;
	right:20px;
	top:50%;
	width:33px;
}
a.newBabe.active:after{
	background-position:-63px -115px;
}
.ml-none{
	margin-left: 0px !important;
}
.nuevoBebeCont{
	display: none;
}
a.linkStandar{
	display: block;
	color: #d15c9d;
	font-size: .8em;
	margin-top: 2.2em;
	text-align: left;
}
a.linkStandar:hover{
	text-decoration: underline;
}

/*ESTILOS PARA LOS BULLETS DEL FORM*/

ul.pasos_registro{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	width:650px;
	display:block;
	position:relative;
	height:12px;
	background:#dfdfdf;
	margin:30px auto 100px;
	list-style:none;
	padding:0;
	text-align:justify;
}
ul.pasos_registro:after{
	content:".";
	display:inline-block;
	width:100%;
	height:0;
	visibility:hidden
}
ul.pasos_registro:before{
	background:url("../images/corazones_sprite.png") no-repeat -12px -140px;
	content:"";
	display:block;
	height:133px;
	position:absolute;
	left:-230px;
	top:50px;
	width:135px
}
ul.pasos_registro li{
	display:inline-block;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	position:relative;
	height:40px;
	margin-left: -2px;
	margin-right: -2px;
	top:-17px;
	width:39px;
}
ul.pasos_registro li a{
	background: url("../images/babby-shower/spriteBabyShower.png") no-repeat -78px -184px;
	font-family:VAGRounded-LT,sans-serif;
	font-size:1.4em;
	line-height:2.1em;
	font-weight:normal;
	display:block;
	color:#fff;
	padding:0;
	width:39px;
	height:40px;
	text-decoration:none;
	text-align:center;
	outline:none;
}
ul.pasos_registro li p.parraf{
	font-family:'VAGRounded-BT';
	font-size: 1em;
	margin-top: .8em;
	margin-left: -90px;
	text-align: center;
	position: absolute;
	left: 50%;
	line-height: 1.2em;
	width: 180px;
}
ul.pasos_registro li a:active, ul.pasos_registro li a.active{
	background: url("../images/babby-shower/spriteBabyShower.png") no-repeat -78px -142px;
}
ul.barraEstados{
	border: 1px solid white;
	display: block;
	left: 0;
	right: 0;
	margin: 10px auto 20px;
	padding: 0;
	position: absolute;
	width: 684px;
}
ul.barraEstados li{
	color: white;
	display: inline-block;
	font-family: VAGRounded-LT,sans-serif;
	margin: 0;
	padding: .1em 0;
}
ul.barraEstados li.eta1{
	background: #d0d0d0;
	width: 11.9%;
}
ul.barraEstados li.eta2{
	background: #c0c0c0;
	width: 43.9%;
}
ul.barraEstados li.eta3{
	background: #b2b2b2;
	width: 43.9%;
}
table.table.table-babyshower{
	border: none;
	color: #7b7b7b;
	text-align: left;
}
table.table.table-babyshower th, table.table.table-babyshower td{
	font-size: 1em;
	font-weight: 400;
	text-align: left;
}
table.table.table-babyshower th{
	border: none;
	font-family: VAGRounded-BT,sans-serif;
	font-size: 1em;
}
table.table.table-babyshower th.acomp{
	min-width: 125px;
}
table.table.table-babyshower td p{
	border: none;
	font-size: .85em;
	line-height: 1.2em;
	font-weight: 100;
	margin: 0;
}
table.table.table-babyshower td a{
	color: #35719f;
	font-size: .8em;
	font-weight: 100;
	line-height: 1.1em;
	outline: none;
	margin: 0;
}
table.table.table-babyshower td a:hover{
	text-decoration: underline;
}
table.table.table-babyshower td a.trash, table.table.table-babyshower th a.trash{
	background: url("../images/babby-shower/spriteBabyShower.png") no-repeat -120px -142px;
	display:  block;
	float:  left;
	height: 23px;
	margin: 0 auto 0;
	width: 19px;
}
table.table.table-babyshower td a.print, table.table.table-babyshower th a.print{
	background: url("../images/babby-shower/spriteBabyShower.png") no-repeat -90px -234px;
	display:  block;
	float: right;
	height: 22px;
	margin: 0 auto 0;
	width: 21px;
}
table.table.table-babyshower td a.more, table.table.table-babyshower td a.less{
	background: url("../images/babby-shower/spriteBabyShower.png")  no-repeat -55px -183px;
	display:  block;
	height: 13px;
	margin: 1px auto 0;
	width: 13px;
}
table.table.table-babyshower td a.less{
	background: url("../images/babby-shower/spriteBabyShower.png")  no-repeat -55px -198px;
}

.contentBabyShower table.table.table-babyshower input[type="radio"]{
	margin-right: 0;
	margin-top: 50%;
}
.contentBabyShower table.table.table-babyshower input[type="text"]{
	margin-bottom: 5px !important;
}
.contentBabyShower table.table.table-babyshower .img-responsive{
	border-radius: 10px;
	border: 1px solid #dcdcdc;
	display: block;
	margin: 0 auto;
	width: 100%;
}
.contentBabyShower table.table.table-babyshower .infoPadding{
	margin-top: .5em;
}
.contentBabyShower table.table.table-babyshower .alg-center{
	text-align: center;
}
.contentBabyShower .templates{
	margin: 25px 0;
}
.contentBabyShower .imgTemplate{
	box-shadow: 2px 2px 5px -5px rgba(0,0,0,1);
	-webkit-box-shadow: 2px 2px 5px -5px rgba(0,0,0,1);
	border-radius: 10px;
	display: block;
	margin: 0 auto;
	max-width: 210px;
	position: relative;
	overflow: hidden;
	width: 100%;
}
.contentBabyShower .imgTemplate a{
	background: rgba(255,255,255,0);
	opacity: 0;
	height: 210px;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
	width: 210px;
}
.contentBabyShower .imgTemplate:hover a{
	background: rgba(255,255,255,0.8);
	position: absolute;
	opacity: 0.8;
	top: 0;
	left: 0;
}
.contentBabyShower .imgTemplate a span{
	background: url("../images/babby-shower/spriteBabyShower.png") no-repeat -4px -227px;
	display: block;
	height: 52px;
	left: 50%;
	margin: -26px 0 0 -26px;
	position: absolute;
	top: 50%;
	width: 52px;
}

.contentBabyShower .templates .templateInvit{
	background: #f9feff;
	border: 1px solid #dcdcdc;
	border-radius: 15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-webkit-box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.5);
	box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.5);
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-align: center;
	width: 695px;
}
.contentBabyShower .templates{
	position: relative;
}
.contentBabyShower .templates .templateInvit figure.pic{
	display: block;
	height:  530px;
	position: relative;
	width: 695px;
}
.contentBabyShower .templates .templateInvit figure.pic .round{
	background: url("../images/babby-shower/round-pics.png") no-repeat 50% 0;
	bottom: 0;
	display: block;
	height: 180px;
	position: absolute;
	width: 695px;
	z-index: 900;
}
.contentBabyShower .templates .templateInvit figure.pic .top{
	top: 0;
	display: block;
	left: 0;
	height: 119px;
	position: absolute;
	width: 290px;
	z-index: 900;
}
.contentBabyShower .templates .templateInvit figure.pic a.link{
	background: rgba(255,255,255,0.3);
	display: block;
	height: 530px;
	left: 0;
	position: absolute;
	top: 0;
	width: 695px;
	z-index: 800;
}
.contentBabyShower .templates .templateInvit figure.pic a.link:hover{
	background: rgba(255,255,255,0.5);
}
.contentBabyShower .templates .templateInvit figure.pic a.link:hover span{
	opacity: 1;
}
.contentBabyShower .templates .templateInvit figure.pic a.link span{
	display: block;
	color: white;
	left: 50%;
	font-family: VAGRounded-BT,sans-serif;
	font-size: 2em;
	margin: 0 0 0 -65.5px;
	opacity: 0.5;
	position: absolute;
	top: 50%;
	text-align: center;
	width: 131px;
	z-index: 801;
}
.contentBabyShower .templates .templateInvit figure.pic a.link span:after{
	background: url("../images/babby-shower/spriteBabyShower.png") no-repeat -3px -283px;
	display: block;
	content: '';
	height: 97px;
	left: 50%;
	margin: 0 0 0 -65.5px;
	position: absolute;
	top: -100px;
	width: 131px;
	z-index: 801;
}
.contentBabyShower .templates .templateInvit p, .contentBabyShower .templates .templateInvit h2, .contentBabyShower .templates .templateInvit h3, .contentBabyShower .templates .templateInvit h4{
	text-align: center;
}
.contentBabyShower .templates .templateInvit h2{
	color: #3967ad;
	font-weight: bold;
	text-align: center;
}
.contentBabyShower .templates .templateInvit p{
	font-family: VAGRounded-LT,sans-serif;
	font-size: 1.2em;
}
.contentBabyShower .templates .templateInvit p.txt-sm{
	font-size: 1em;
}
.contentBabyShower .templates .templateInvit p strong{
	color: #3967ad;
	font-family: VAGRounded-BT,sans-serif;
	font-size: 1.2em;
	font-weight: 400 !important;
}
.contentBabyShower p{
	font-size: 0.9em;
}
.contentBabyShower p.txt-md{
	font-size: 1.2em;
}
.contentBabyShower p strong{
	font-size: 1.1em;
}
.contentBabyShower .templates .templateInvit h3{
	color: #adadad;
	font-family: VAGRounded-LT,sans-serif;
	font-size: 2.2em;
}
.contentBabyShower .templates .templateInvit h4{
	color: #76ccd5;
	font-family: VAGRounded-BT,sans-serif;
	font-size: 2.2em;
	font-weight: 400;
	line-height: 1em;
}
.contentBabyShower .templates .templateInvit .osoImg:before{
	background: url("../images/babby-shower/spriteBabyShower.png") no-repeat -149px -110px;
	display: block;
	content: '';
	height: 41px;
	right: 30px;
	position: absolute;
	top: 50px;
	width: 40px;
	z-index: 901;
}
.contentBabyShower .templates .templateInvit .textos:before{
	background: url("../images/babby-shower/spriteBabyShower.png") no-repeat -131px -221px;
	display: block;
	content: '';
	height: 67px;
	left: 70px;
	position: absolute;
	bottom: -40px;
	width: 68px;
	z-index: 901;
}
.contentBabyShower .templates .templateInvit .textos:after{
	background: url("../images/babby-shower/spriteBabyShower.png") no-repeat -143px -157px;
	display: block;
	content: '';
	height: 57px;
	right: 50px;
	position: absolute;
	top: -20px;
	width: 54px;
	z-index: 901;
}
.contentBabyShower .templates .templateInvit img.img-responsive, img.img-responsive{
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
}
.contentBabyShower ul.results-search{
	display: block;
	margin: 0;
	padding: 0;
	text-align: left;
}
.contentBabyShower ul.results-search li{
	border-right: 1px solid #bbbbbb;
	color: #7b7b7b;
	display: inline-block;
	font-size: 1em;
	font-weight: 100;
	letter-spacing: -1px;
	margin: 0;
	padding: 0 1em;
	text-align: left;
	vertical-align: top;
}
.table-border-bottom td, .table-border-bottom th{
	border-top: none;
	border-bottom: 1px solid #DDD;
}
.contentBabyShower .box-decoration{
	margin: 1em 0;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 1em;
}
.contentBabyShower ul.bullets-text{
	text-align: left;
	margin-left: 15px;
	padding: 0;
}
.contentBabyShower ul.bullets-text li{
	color: #7bbbe7;
	margin: 0;
	padding-left: 10px;
	text-align: left;
}
.contentBabyShower ul.redesSocialesInv{
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
}
.contentBabyShower ul.redesSocialesInv li{
	display: inline-block;
	margin: 0 1em;
	padding: 0;
	text-align: center;
}
.contentBabyShower ul.redesSocialesInv li a{
	background: url("../images/babby-shower/spriteBabyShower.png") no-repeat;
	display: block;
	height: 36px;
	margin: 0 auto;
	width: 36px;
}
.contentBabyShower ul.redesSocialesInv li a.facebook{
	background-position: -158px -66px;
}
.contentBabyShower ul.redesSocialesInv li a.email{
	background-position: -158px -25px;
}

.content-perfil ul.listMenu{
	background-color:#fff;
	border:1px solid #d1ecff;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	list-style:none;
	margin:15px 13px;
	overflow:hidden;
	text-align:left;
}
.content-perfil ul.listMenu li{
	border-bottom:1px solid #d1ecff;
	padding:0;
}
.content-perfil ul.listMenu li:last-child, .content-perfil ul.listMenu li ul.subMenu li:last-child{
	border-bottom:none;
}
.content-perfil ul.listMenu li a{
	color:#b8acac;
	display:block;
	font-family:VAGRounded-LT,sans-serif !important;
	padding:.5em 1em;
}
.content-perfil ul.listMenu li a:hover, .content-perfil ul.listMenu li a.active, .content-perfil ul.listMenu li a:focus, .content-perfil ul.listMenu li a:active{
	color:#fff;
	background-color:#7bbbe7;
}
.content-perfil ul.listMenu li a span{
	padding:0;
}
.content-perfil ul.listMenu li ul.subMenu{
	display: none;
	border: none;
	margin: 0;
	padding:0;
	border-radius: 0px;
}/***/
.content-perfil ul.listMenu li ul.subMenu li{
	border-bottom:1px solid #d1ecff;
	display: block;
	margin: 0;
	padding:0;
}
.content-perfil ul.listMenu li ul.subMenu li:first-child{
	border-top:1px solid #d1ecff;
}
.content-perfil ul.listMenu li ul.subMenu li a{
	background:#f0f9ff;
	color: #7bbbe7;
	display:block;
	font-family:VAGRounded-LT,sans-serif !important;
	padding:.5em 1em;
}
.content-perfil ul.listMenu li ul.subMenu li a:hover{
	background:#cfebff;
	color: #7bbbe7;
}

.contentBarra{
	position: relative;
}

.ui-slider{
	background: none !important;
	border-radius: 0 !important;
	height: 22px !important;
	left: 0;
	right: 0;
	margin: 10px auto;
	padding: 0;
	position: absolute;
	width: 684px;
	z-index: 900;
}

.contentBarra .ui-corner-all, .contentBarra .ui-corner-bottom, .contentBarra .ui-corner-right, .contentBarra .ui-corner-br{
	background: rgba(60,205,214,0.7);
	border-radius: 0 !important;
}

.contentBarra .ui-state-default, .contentBarra .ui-widget-content .ui-state-default, .contentBarra .ui-widget-header .ui-state-default {
    border: 1px solid #CC1C77;
    background: #D2247E;
    border-radius: 4px !important;
    cursor: pointer;
    font-weight: normal;
    color: #555;
    height: 28px;
    width: 1em;
}

p.textRango{
	color: #3967ad;
	font-family: VAGRounded-LT,sans-serif;
	font-size: 1.4em;
	font-weight: 400 !important;
	margin-top: 1em;
	text-align: center;
}

p.textRango strong{
	font-family: VAGRounded-BT,sans-serif;
	font-size: 1.4em;
	font-weight: 400 !important;
}

.ui-state-disabled{
	opacity: 1 !important;
}

/** 	Modales	**/

.col-xs-12 {
	width: 100%;
}

.col-xs-3 {
	width: 22%;
}

.col-xs-9 {
	width: 72%;
}

.col-xs-6 {
	width: 50%;
}

.dis-inl{
	display: inline-block;
	vertical-align: top;
}

div.modal-dialog h2.titleShower03{
	text-align: center;
	font-family: VAGRounded-LT;
	font-size: 1.65em;
	font-weight: 600;
}

.modal-baby-text {
	color: #919191;
	font-size: 12px;
	font-family: Verdana;
	margin-top: .5em;
}

label.radio.modal-baby-text {
	color: #919191;
	font-size: 14px;
	font-family: Verdana;
}

p.modal-baby-text span.especial {
	font-weight: bold;
}

p.modal-baby-text > span.sastifaccion {
	font-size: 22px;
	font-family: VAGRounded-BT;
}

label.modal-baby-text {
	color: #73c1ce;
	font-size: 16px;
	font-family: VAGRounded-BT;
}

label.modal-baby-text span {
	color: #d15c9d;
}

.controls>.radio:first-child, .controls>.checkbox:first-child {
	padding-top: 0;
}
.modal-body.modal-baby-form{max-height: 566px !important;}
/**/
.info-baby-shower {
	margin-left: 0 !important;
	padding-bottom: 25px;
	padding-top: 25px;
}

.info-baby-shower .contentBabyShower h4 {
	margin-bottom: 10px;
}
.btn-shower-list {
	position: relative;
	top: 45px;
}

.popover{
	background: rgba(254,249,237,.5);
	color: #d05c9d;
	font-family: VAGRounded-LT;
	font-size: 1em;
	text-align: center;
}
.popover .popover-title{
	background: none;
	border: none;
	color: #d05c9d;
	font-family: VAGRounded-BT;
	font-size: 1.2em;
	text-align: center;
}

