/*ESTILOS ICONFONTS*/

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icon_winnyShower/icomoon.eot?32af7q');
	src:url('fonts/icon_winnyShower/icomoon.eot?#iefix32af7q') format('embedded-opentype'),
		url('fonts/icon_winnyShower/icomoon.ttf?32af7q') format('truetype'),
		url('fonts/icon_winnyShower/icomoon.woff?32af7q') format('woff'),
		url('fonts/icon_winnyShower/icomoon.svg?32af7q#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\f09a";
}
.icon-icon_corazon:before {
	content: "\e600";
}
.icon-icon_corazon2:before {
	content: "\e601";
}

/*ESTILOS GENERALES*/

.bodyWinnyShower {
	background: #f6fbff url('../images/winnyshower/fondo_gnrl.png') 50% 0 no-repeat
}

.bodyWinnyShower__interna {
	background: #f6fbff url('../images/winnyshower/fondo_gnrl.png') 50% 20% no-repeat
}
.bodyWinnyShower__interna__nocorazones {
	background: #f6fbff url('../images/winnyshower/fondo_gnrl_nocorazones.png') 50% 20% no-repeat
}

.containt1024{
	margin: 0 auto;
	width: 1024px;
}

.contWinnyShower {
	display: block;
	max-width: 1300px;
	min-width: 1024px;
	margin: 8em auto 3em;
	text-align: center;
	width: 100%;
}

.contWinnyShower .text-title {
	color: #5aaae0;
	font-family:'VAGRounded-BT';
	font-size: 3em;
	letter-spacing: -1px;
	line-height:  1.2em;
}

.contWinnyShower .text-title span {
	color: #3967ad;
	font-size: 1.2em;
}


.contWinnyShower .text-title2 {
	color: #5aaae0;
	font-family:'VAGRounded-BT';
	font-size: 2.2em;
	letter-spacing: -1px;
	line-height:  1.2em;
}

.contWinnyShower .text-title2 span {
	color: #4484c3;
}

.contWinnyShower .text-title3 {
	color: #5aaae0;
	font-family:'VAGRounded-LT';
	font-size: 1.8em;
	line-height:  1.2em;
}

.text-title-interno {
	color: #5aaae0;
	font-family:'VAGRounded-BT';
	font-size: 2.5em;
	letter-spacing: -1px;
	line-height:  1.2em;
	text-align: left;
}
.parraf-interno {
	color: #9c9d9e;
	font-family:'VAGRounded-LT';
	font-size: 1.5em;
	line-height:  1.2em;
	text-align: left;
}

.contWinnyShower .text-subTitle {
	color: #9c9d9e;
	font-family:'VAGRounded-LT';
	font-size: 1.5em;
	line-height:  1.2em;
}

.contWinnyShower .text-subTitle strong {
	font-family:'VAGRounded-BT';
	font-weight: 400;
}

.navegacion_winnyShower{
	background: url('../images/winnyshower/fondo_menu.png') 50% 50% no-repeat;
	display: block;
	height:350px;
	margin: 2em 0 2em;
	position: relative;
	z-index: 99;
}

.navegacion_winnyShower_bot{
	background: url('../images/winnyshower/fondo_menu_bot.png') 50% 50% no-repeat;
	display: block;
	height:300px;
	margin: 2em 0 2em;
	position: relative;
	z-index: 99;
}

.navegacion_winnyShower .menuItem, .navegacion_winnyShower_bot .menuItem{
	height: 8.5em;
	position: absolute;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	width: 9.5em;
}

.navegacion_winnyShower .menuItem:before, .navegacion_winnyShower_bot .menuItem:before{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

/*CORAZON 1*/

.navegacion_winnyShower .menuItem__1{
	bottom: 30px;
	left: 40px;
	-moz-transform: rotate(-4deg);
	-webkit-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	transform: rotate(-4deg);
}
.navegacion_winnyShower .menuItem__1:hover{
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-o-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}
.navegacion_winnyShower .menuItem__1:before{
	color: #8fd5e6;
}
.navegacion_winnyShower .menuItem__1:after{
	color: #d7f0f6;
}
.navegacion_winnyShower .menuItem__1:hover:before{
	color: #7dcbdd;
}

/*CORAZON 2*/

.navegacion_winnyShower .menuItem__2{
	top: 35px;
	left: 115px;
	-moz-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	transform: rotate(4deg);
}
.navegacion_winnyShower .menuItem__2:hover{
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-o-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}
.navegacion_winnyShower .menuItem__2:before{
	color: #f072b1;
}
.navegacion_winnyShower .menuItem__2:after{
	color: #f3e2f4;
}
.navegacion_winnyShower .menuItem__2:hover:before{
	color: #e660a3;
}
/*CORAZON 3*/

.navegacion_winnyShower .menuItem__3{
	top: 50px;
	left: 328px;
	-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
.navegacion_winnyShower .menuItem__3:hover{
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-o-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}
.navegacion_winnyShower .menuItem__3:before{
	color: #fbd368;
}
.navegacion_winnyShower .menuItem__3:after{
	color: #f9f1d6;
}
.navegacion_winnyShower .menuItem__3:hover:before{
	color: #f9c857;
}

/*CORAZON 4*/

.navegacion_winnyShower .menuItem__4{
	top: 10px;
	left: 550px;
	-moz-transform: rotate(-6deg);
	-webkit-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	-ms-transform: rotate(-6deg);
	transform: rotate(-6deg);
}
.navegacion_winnyShower .menuItem__4:hover{
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-o-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}
.navegacion_winnyShower .menuItem__4:before{
	color: #a795d3;
}
.navegacion_winnyShower .menuItem__4:after{
	color: #ebdffd;
}
.navegacion_winnyShower .menuItem__4:hover:before{
	color: #9c83d9;
}

/*CORAZON 5*/

.navegacion_winnyShower .menuItem__5{
	top: 130px;
	left: 670px;
	-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
.navegacion_winnyShower .menuItem__5:hover{
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-o-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}
.navegacion_winnyShower .menuItem__5:before{
	color: #c4df68;
}
.navegacion_winnyShower .menuItem__5:after{
	color: #e2f5d4;
}
.navegacion_winnyShower .menuItem__5:hover:before{
	color: #b5d357;
}

/*CORAZON 6*/

.navegacion_winnyShower .menuItem__6{
	top: 45px;
	left: 860px;
	-moz-transform: rotate(6deg);
	-webkit-transform: rotate(6deg);
	-o-transform: rotate(6deg);
	-ms-transform: rotate(6deg);
	transform: rotate(6deg);
}
.navegacion_winnyShower .menuItem__6:hover{
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-o-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}
.navegacion_winnyShower .menuItem__6:before{
	color: #9fc6f5;
}
.navegacion_winnyShower .menuItem__6:after{
	color: #deecfa;
}
.navegacion_winnyShower .menuItem__6:hover:before{
	color: #83afe7;
}

.navegacion_winnyShower .menuItem span{
	color: white;
	font-family:'VAGRounded-BT';
	font-size: 1.3em;
	position: relative;
	line-height: 1em;
	top: 35%;
	z-index: 102
}
.navegacion_winnyShower .menuItem__6 span{
	top: 27%;
}

/*NAV BOT*/

.navegacion_winnyShower_bot .menuItem__a{
	top: 70px;
	left: 50px;
	-moz-transform: rotate(-4deg);
	-webkit-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	transform: rotate(-4deg);
}
.navegacion_winnyShower_bot .menuItem__b{
	top: 120px;
	left: 220px;
	-moz-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	transform: rotate(4deg);
}
.navegacion_winnyShower_bot .menuItem__c{
	top: 30px;
	left: 450px;
}
.navegacion_winnyShower_bot .menuItem__d{
	top: 110px;
	left: 640px;
	-moz-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	transform: rotate(4deg);
}
.navegacion_winnyShower_bot .menuItem__e{
	top: 30px;
	left: 830px;
	-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
}

.navegacion_winnyShower_bot .menuItem span{
	color: white;
	font-family:'VAGRounded-BT';
	font-size: 1.3em;
	position: relative;
	line-height: 1em;
	top: 35%;
	z-index: 102
}
.navegacion_winnyShower_bot .menuItem__6 span{
	top: 27%;
}

/* ********************************************************* */



.navegacion_winnyShower .menuItem:before{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: 8em;
	text-transform: none;
	line-height: 1;
	display: block;
	content: "\e600";
	bottom: 0;
	height: 1em;
	position: absolute;
	top: 0;
	width: 1.2em;
	z-index: 101;
}

.navegacion_winnyShower .menuItem:after{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: 8.7em;
	text-transform: none;
	line-height: 1;
	left: -.05em;
	display: block;
	content: "\e601";
	height: 1em;
	position: absolute;
	top: -0.03em;
	z-index: 100;
	width: 1.2em;
}

.imgHome {
	margin-top: -12em;
	position: relative;
}

.imgHome .info {
	color: #5a96d0;
	display: block;
	font-family:'VAGRounded-LT';
	font-size: 1.2em;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 88px;
	width: 280px;
}

.imgHome .info .small {
	font-size: .9em;
	margin-top: .25em;
}

.imgHome .info a {
	color: #e965a8;
	font-family:'VAGRounded-BT';
}

.clearfix{
	display: block;
	width: 100%;
}

.columLeft, .columRight, .columRight2 {
	display: inline-block;
	vertical-align: middle;
}

.columLeft {
	width: 220px;
}
.columRight {
	width: 600px;
}

.columRight2 {
	width: 184px;
}

.sep-winnyShower
{
	border-color: #c8c8c8;
	border-bottom:  0;
}

.contentImageInterna
{
	display: block;
	position: relative;
}

.contentImageInterna .textInterna
{
	display: block;
	position: absolute;
	right: 35px;
	top: 280px;
	width: 530px;
}

.contentImageInterna .textInterna .text-title
{
	color: #5aaae0;
	font-family:'VAGRounded-BT';
	font-size: 2em;
	letter-spacing: -1px;
	line-height:  1.2em;
}

.contentImageInterna .textInterna .text-title span
{
	color: #4484c3;
	font-size: 1.2em;
}

.btn-bs-xlg
{
	font-size: 2em;
	border-radius: 12px;
}
/******  *****/
.btn-verde-claro2{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aee9f2+0,71c1cd+100 */
	background: rgb(174,233,242); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(174,233,242,1) 0%, rgba(113,193,205,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,233,242,1)), color-stop(100%,rgba(113,193,205,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(174,233,242,1) 0%,rgba(113,193,205,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(174,233,242,1) 0%,rgba(113,193,205,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(174,233,242,1) 0%,rgba(113,193,205,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(174,233,242,1) 0%,rgba(113,193,205,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aee9f2', endColorstr='#71c1cd',GradientType=0 ); /* IE6-9 */
	border: 1px solid #aee9f2;
	border-radius: 10px;
	font-size: 1.3em;
	padding: .8em 3em;
	text-shadow:none;
}
.btn-verde-claro2:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#71c1cd+0,aee9f2+100 */
	background: rgb(113,193,205); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(113,193,205,1) 0%, rgba(174,233,242,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(113,193,205,1)), color-stop(100%,rgba(174,233,242,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(113,193,205,1) 0%,rgba(174,233,242,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(113,193,205,1) 0%,rgba(174,233,242,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(113,193,205,1) 0%,rgba(174,233,242,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(113,193,205,1) 0%,rgba(174,233,242,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71c1cd', endColorstr='#aee9f2',GradientType=0 ); /* IE6-9 */
}
.btn-conectateFacebook{
	border: none;
	box-shadow: none;
}
.btn[disabled]{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,b6b4b4+100 */
	background: rgb(229,229,229); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(182,180,180,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(182,180,180,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(182,180,180,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(182,180,180,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(182,180,180,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(182,180,180,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#b6b4b4',GradientType=0 ); /* IE6-9 */
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	border-color:#bbbbbb;
	color: white;
}
.text-title-2 {
	font-family:'VAGRounded-BT';
	font-size: 3em;
	letter-spacing: -1px;
	line-height:  1.2em;
}
.text-title-3 {
	font-family:'VAGRounded-BT';
	letter-spacing: -1px;
}
.text--xxs {
  font-size: 0.7em;
}
.text--xs {
  font-size: 0.8em;
}
.text--sm {
  font-size: 0.9em;
}
.text--normal{font-size: 1em}
.text--md {
  font-size: 1.2em;
}
.text--lg {
  font-size: 1.4em;
}
.text--xlg {
  font-size: 1.8em;
}
.text--xxlg {
  font-size: 2.5em;
}
.text--bold2{ font-weight: bold;}
.text-gris{ color: #7b7b7b}
.text-azul4{color: #1a4782;}
.text-azul3{ color: #3966ac}
.text-verdeOsc{ color: #00787b}
.text-verde2{color: #73c1ce}
.text-rosado{ color: #E55CA9}
.margin--t0 {
  margin-top: 0em;
}
.margin--t1 {
  margin-top: 1em;
}
.margin--t2 {
  margin-top: 2em;
}
.margin--t3 {
  margin-top: 3em;
}
.margin--t4 {
  margin-top: 4em;
}
.margin--b0 {
  margin-bottom: 0em;
}
.margin--b1 {
  margin-bottom: 1em;
}
.margin--b2 {
  margin-bottom: 2em;
}
.margin--l0 {
  margin-left: 0em;
}
.margin--l1 {
  margin-left: 1em;
}
.margin--l2 {
  margin-left: 2em;
}
.margin--l3 {
  margin-left: 3em;
}
.margin--r0 {
  margin-right: 0em;
}
.margin--r1 {
  margin-right: 1em;
}
.margin--r2 {
  margin-right: 2em;
}
.margin--r3 {
  margin-right: 3em;
}
.padding--t2 {
  padding-top: 2em;
}
.col-xs-5-5{ width: 45%; float: left; padding-left: 15px; padding-right: 15px}
.img-rounded-10{ border-radius: 10px}
.img-border-verde{ border: 2px solid #3ccdd6}
.text-fonVerdana{ font-family: verdana,sans-serif }
.contentInfoInterna{ margin: 2em .5em}
ul.nav-disc { color: #80cbd6; font-size: 3em;  list-style: inherit; margin: 0 1em; padding: 0;}
ul.nav-disc > li{ padding: .2em 0;}
ul.nav-disc > li > span{ color: #7b7b7b;text-decoration: underline;font-size: .4em;position: relative; top: -9px; padding: .3em 0;}

.panel-amarillo{ background: #fffff5; border-radius: 10px;  padding: .7em}
.form--registro{}
.form--registro input{ border-radius: 10px; padding: .8em; width: 94% }
.form--registro input.ingreso_fechas{ width: 84%}
.form--registro input[type="checkbox"]{ width: auto}
.form--registro input:focus{ outline: none; box-shadow:  none}
.buttons-action{ float: none}
.campos_captcha{display:inline-block;margin:20px 2px;vertical-align:top;width:180px;}
.campos_captcha a{color:$azul;font-size:.8em;line-height:1.1em;margin:0 0 0 10px;outline:none;}
.campos_captcha a:hover{text-decoration:underline}
.captcha_genetator{background:url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat 0 -777px;display:inline-block;height:26px;margin:20px 0 0;width:26px}
figure.fecha_icon{background:url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat -30px -774px;display:inline-block !important;width:28px;height:28px;position:static;padding:0;margin:2px 0 0 5px;vertical-align:top;cursor:pointer}
.form--registro select{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}

.modal-home{}
.modal-home .modal-body{ padding: 2em}
.modal-home .modal-footer{  border: none; background: none; border-top: 0;}
.modal-home  .modal-header{ border-bottom: 0}
.modal-home  .modal-header .btn-close{
	background: rgb(113,193,205);
	border-radius: 100%;
	width: 28px;
	height: 28px;
	opacity: 1;
	color: white;
	margin-top: 0;
}
.btn-verde-claro3{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aee9f2+0,71c1cd+100 */
background: rgb(174,233,242); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(174,233,242,1) 0%, rgba(113,193,205,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,233,242,1)), color-stop(100%,rgba(113,193,205,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(174,233,242,1) 0%,rgba(113,193,205,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(174,233,242,1) 0%,rgba(113,193,205,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(174,233,242,1) 0%,rgba(113,193,205,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(174,233,242,1) 0%,rgba(113,193,205,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aee9f2', endColorstr='#71c1cd',GradientType=0 ); /* IE6-9 */
text-shadow: none;
}
.btn-verde-claro3:hover{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#71c1cd+0,aee9f2+100 */
background: rgb(113,193,205); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(113,193,205,1) 0%, rgba(174,233,242,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(113,193,205,1)), color-stop(100%,rgba(174,233,242,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(113,193,205,1) 0%,rgba(174,233,242,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(113,193,205,1) 0%,rgba(174,233,242,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(113,193,205,1) 0%,rgba(174,233,242,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(113,193,205,1) 0%,rgba(174,233,242,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71c1cd', endColorstr='#aee9f2',GradientType=0 ); /* IE6-9 */
}
.btn-rosado{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f696cc+0,d05c9d+100,d05c9d+100 */
background: rgb(246,150,204); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(246,150,204,1) 0%, rgba(208,92,157,1) 100%, rgba(208,92,157,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,150,204,1)), color-stop(100%,rgba(208,92,157,1)), color-stop(100%,rgba(208,92,157,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(246,150,204,1) 0%,rgba(208,92,157,1) 100%,rgba(208,92,157,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(246,150,204,1) 0%,rgba(208,92,157,1) 100%,rgba(208,92,157,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(246,150,204,1) 0%,rgba(208,92,157,1) 100%,rgba(208,92,157,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(246,150,204,1) 0%,rgba(208,92,157,1) 100%,rgba(208,92,157,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f696cc', endColorstr='#d05c9d',GradientType=0 ); /* IE6-9 */

text-shadow: none;
}
.btn-rosado:hover{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d05c9d+0,f696cc+100 */
background: rgb(208,92,157); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(208,92,157,1) 0%, rgba(246,150,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,92,157,1)), color-stop(100%,rgba(246,150,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(208,92,157,1) 0%,rgba(246,150,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(208,92,157,1) 0%,rgba(246,150,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(208,92,157,1) 0%,rgba(246,150,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(208,92,157,1) 0%,rgba(246,150,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d05c9d', endColorstr='#f696cc',GradientType=0 ); /* IE6-9 */
}
.form--modalIngreso{
	margin: 0;
}
.form--modalIngreso label{ width: 20%; float: left; margin-top: .5em;}
.form--modalIngreso select{
    width: 80%;
}
.form--modalIngreso input{ border-radius: 10px; padding: .8em; width: 75%; float: left; }
.icon-regalo{
	position: relative;
  top: -16px;
  width: 55px;
  height: 62px;
  left: 30px;}

.backPage {
	position: absolute;
	top: 0;
}

.backPage .parraf-interno{
	position: relative;
	left: 30px;
}

.iconback:before {
	background: url('../images/sprite_arrow.png') no-repeat -4px -115px;
	display: block;
	content: "";
	position: absolute;
	height: 30px;
	width: 27px;
}