/* CONTENIDOS DE LOS MIXINS */

@import "mixins.styl"

/* IMPORTACION DEL NORMALIZER PARA ESTANDARIZAR LOS ESTILOS (NO MODIFICAR)*/

@import "normalize.styl"

/* IMPORTACION DE LOS ESTILOS PARA LOS BOTONES DE TODO EL SITIO */

@import "botones.styl"

/*ESTILOS GENERALES DEL PORTAL*/

*
    padding 0
    margin 0

body
    font-family verdana, sans-serif
    font-size 14px
    color #054783
    background #FFF
    padding 0
    margin 0
img
    border 0

strong
    font-weight bold !important

a:focus
    outline 0
    border 0

.nav_menuprincipal
    position absolute
    width 1024px
    margin 0 auto
    top 0
    height 0
    z-index 10
    text-align center

header
    position relative
    width 1024px
    margin 0 auto
    top 0
    height 0
    z-index 999 !important
    text-align center
    div.loginForm
        background url("../images/bg-login-form-blue.png") no-repeat
        position absolute
        top -193px
        float right
        font-size 12px
        color #FFF
        height 276px
        width 331px
        z-index 901
        left 680px
        h1
            font-family tbold
            color #054884
            font-size 1.2em
            line-height 1.1em
            font-weight 400
        .item-form
            margin 10px
            height 172px
            text-align center
            figure, article
                display inline-block
                vertical-align top
                width 140px
                margin 5px
            figure
                overflow hidden
                border-radius 5px
                border 2px solid #a7d9f7
                height 130px
            article
                a
                    color gris_o
                    display block
                    margin 5px 0
                    font-size 1em
                    text-align left
                    &.perfil
                        color azul
                        font-weight bold
                        font-size 1.1em
                        padding 5px
                    &.items
                        border-top 1px solid #eaf6fe
                        color gris_o
                        font-size 1em
                        margin 3px 0
                        padding 5px
                        &.cerrarSesion
                            position relative
                            &:before
                                background url("../images/s01_home.png") no-repeat -2px -146px
                                content ""
                                height 17px
                                position absolute
                                right 20px
                                top 5px
                                width 17px
                    &:hover
                        text-decoration underline

        .label-form
            color #054884
            font-size 1em
            font-weight bold !important
            text-align left
        input
            width 170px
            height 15px
            margin-bottom 5px !important
        select
            width 183px
            height 25px
            font-size .8em
            margin-bottom 5px !important
            border-radius 3px
        a.seccionUser
            width 150px
            color #FFF
            text-align center
            display block
            cursor pointer
            padding-right 22px
            position relative
            margin 15px 0 0 40px
            &.open
                &:after
                    background url("../images/s01_home.png") no-repeat -23px -127px
                    display block
                    content ""
                    position absolute
                    width 18px
                    height 18px
                    top 8px
                    right 0px
            &.closed
                &:after
                    background url("../images/s01_home.png") no-repeat -2px -127px
                    display block
                    content ""
                    position absolute
                    width 18px
                    height 18px
                    top 8px
                    right 0px
            span
                font-size .8em
                &:hover
                    text-decoration underline

        p.text_peque
            font-size .7em
            line-height 1.2em
            color #626262
            text-align left
            margin 10px 0 0 0

    div.content_top
        text-align left !important

    .header-search
        background url(../images/bg-search.png) no-repeat
        height 34px
        position absolute
        top 60px
        text-align left
        left 200px
        width 281px

        input
            border 0
            margin 5px 0 0 5px
            color #cfcfcf
            width 240px
            box-shadow none
            height 24px
            padding 0

        a
            display inline-block
            width 27px
            height 20px

    figure.noLogo
        width 140px
        height 90px
        margin 10px 0 0

    figure.logo
        background url(../images/s02_logos.png)
        width 140px
        height 90px
        margin 10px 0 0

        a
            display block
            width 140px
            height 90px

    figure.logo, ul.menu_top, div.comunidad, figure.noLogo
        display inline-block
        vertical-align top

    div.comunidad

        figure.arrow_comunidad
            background url(../images/s01_home.png) no-repeat -367px -76px
            height 38px
            width 38px
            display inline-block
            vertical-align top
            margin 5px 0 0 30px

        p
            width 205px
            font-size .9em
            font-weight 700
            color #FFF
            line-height 1.1em
            display inline-block
            text-align center
            vertical-align top
            margin 10px 0 0 0

    ul.menu_top
        width 460px
        margin 25px 0 0 30px

        li
            display inline-block
            margin 0
            padding 0 3px
            text-align center

            strong.azul
                font-weight 700
                color #004789

            a
                font-weight 400
                font-size .8em
                color #707070
                letter-spacing 0

                &:hover
                    text-decoration underline

        li.b_left
            border-left 1px solid #d0d0d0

    div.comunidad
        width 388px
        height 80px
        background url(../images/s02_logos.png) -275px 0
        margin 0 0 0 10px
        text-align left

#otros_temas

    h2
        font-family tbold
        font-size 1.7em
        line-height 1.5em
        color #054884
        font-weight 400
        margin 1em 0 1em

.bx-wrapper
    max-width none !important

    ul.slider_prod

        li
            padding 0 10px !important
            border-left 1px dotted #c6c6c6

        figure.images, figure.images img
            width 173px
            height auto
            margin 0 auto
            border 0
            border-radius 10px

        figure.image_promo, figure.image_promo img
            width 210px
            height auto
            margin .5em auto
            border 0

        h3.title
            font-family tbold
            font-weight 400
            margin 1em 1em 0
            text-align left
            line-height 1.1em
            font-size 1.3em
            color #054884

        h3.title02
            font-family tbold
            font-weight 400
            margin 1em 1em 0
            text-align left
            line-height 1em
            font-size 1.1em
            color #054884

        h4.title
            font-family tbold
            font-weight 400
            margin .5em 1em
            text-align left
            line-height 1em
            font-size 1.2em
            color #71c1cd

        p.textos
            margin .5em 1.5em
            text-align left
            line-height 1.2em
            font-size .9em
            color #4f8fcd
            font-weight 300

        p.textos02
            margin .5em .5em
            text-align center
            line-height 1.2em
            font-size .8em
            color #4f8fcd
            font-weight 300

        a.vinculo02
            margin .5em 1.5em
            text-align left
            line-height 1.2em
            font-size .9em
            color #4f8fcd
            font-weight 700
            display block
            &:hover
                text-decoration underline

        a.vinculo
            display block
            margin 1em 1.5em
            text-align left
            line-height 1em
            font-size 1em
            color #71c1cd
            font-weight 700
            &:hover
                text-decoration underline

.menu-etapas
    margin 0
    padding 0

    li.secciones
        display inline-block
        font-weight bold !important
        height 50px
        line-height 40px
        text-align center
        vertical-align top
        width 160px

        a.items
            font-family tbold
            font-weight 400
            color #466B93
            display block
            height 50px
            width 160px
            &:hover
                color #FFF
                text-decoration none

            h1
                font-weight 400
                font-size 1em
                line-height 1.2em
                margin 0
                padding-top 10px

            h2
                font-family tnormal
                font-size 1em
                font-weight 400
                line-height 14px
                margin 0

        a.items:hover, a.items:active, a.items:visited, a.items:link
            text-decoration none !important

    li.first
        background url(../images/bg_menu.png) 0 0 repeat-x
        border-radius 20px 0 0 20px
    li.first:hover
        background url(../images/bg_menu_hover.png) 0 0 repeat-x
    li.last
        background url(../images/bg_menu.png) 0 -260px repeat-x
        border-radius 0 20px 20px 0
    li.last:hover
        background url(../images/bg_menu_hover.png) 0 -260px repeat-x
    li.op2
        background url(../images/bg_menu.png) 0 -52px repeat-x
    li.op2:hover
        background url(../images/bg_menu_hover.png) 0 -52px repeat-x
    li.op3
        background url(../images/bg_menu.png) 0 -104px repeat-x
    li.op3:hover
        background url(../images/bg_menu_hover.png) 0 -104px repeat-x
    li.op4
        background url(../images/bg_menu.png) 0 -156px repeat-x
    li.op4:hover
        background url(../images/bg_menu_hover.png) 0 -156px repeat-x
    li.op5
        background url(../images/bg_menu.png) 0 -208px repeat-x
    li.op5:hover
        background url(../images/bg_menu_hover.png) 0 -208px repeat-x

#mundo_winny
    width 1300px
    margin 0 auto
    display none

div.border_top
    width 100%
    border-top 5px solid #D1EDF1

div.content
    width 100%
    max-width 1300px
    display block
    margin 0 auto

section.top_home
    width 100%
    display block
    max-width 1300px
    text-align center

section.carousel
    margin 0 !important

.contenido_gnrl
    width 1024px
    height auto
    display block
    margin 0 auto !important
    overflow hidden
    text-align center

#banner-fade

    ul.bjqs
        position: relative
        list-style: none
        padding: 0
        margin: 0
        overflow: hidden
        display: none
        width: 100%
        min-width: 1024px !important

        li
            width: 100%
            height: 422px !important
            max-width: 1300px
            min-width: 1024px !important
            text-align: left

            article
                display block
                margin 150px 0 0 20%
                height 200px
                width 380px

                .a_marina
                    color: #7ecdd8
                    font-family: tnormal
                    font-weight: normal

                .a_oscuro
                    color: #054884
                    font-family: tnormal
                    font-weight: normal

                p
                    margin 0 10px 0 50px
                    padding 0

                p.paraf_banner
                    font-size 2.2em
                    font-family tbold
                    letter-spacing 0
                    line-height 1em

                p.paraf_banner_l
                    font-family tnormal
                    font-size 1.8em
                    font-weight 300
                    letter-spacing 0
                    line-height .9em

        li.banner_01
            background: url(../images/banner/img_01.jpg) center top

        li.banner_02
            background: url(../images/banner/img_02.jpg) center top

        li.banner_03
            background: url(../images/banner/img_03.jpg) center top

    li.bjqs-slide
        position: absolute
        display: none
        width: 100%
        min-width: 1024px !important

    ul.bjqs-controls
        list-style: none
        margin: -220px auto 0
        padding: 0
        z-index: 900
        width: 1024px !important
        position: relative

    ul.bjqs-controls.v-centered li
        width: 1024px !important
        margin: 0 auto
        
        a
            position: absolute

    ol.bjqs-markers
        list-style: none
        padding: 0
        margin: 0
        width: 100%

    ol.bjqs-markers.h-centered
        text-align: center

    ol.bjqs-markers li
        display: inline

        a
            display: inline-block

    p.bjqs-caption
        display: block
        width: 96%
        margin: 0
        padding: 2%
        position: absolute
        bottom: 0

    ul.bjqs-controls.v-centered li.bjqs-next a
        right: 10px
        font-size: 0 !important
        width: 35px
        height: 63px
        background: url(../images/s01_home.png) -369px -4px

    ul.bjqs-controls.v-centered li.bjqs-prev a
        left: 10px
        font-size: 0 !important
        width: 35px
        height: 63px
        background: url(../images/s01_home.png) -485px -4px

    ul.bjqs-controls.v-centered li.bjqs-next a:hover
        right: 10px
        font-size: 0 !important
        width: 35px
        height: 63px
        background: url(../images/s01_home.png)  -406px -4px

    ul.bjqs-controls.v-centered li.bjqs-prev a:hover
        left: 10px
        font-size: 0 !important
        width: 35px
        height: 63px
        background: url(../images/s01_home.png)  -450px -4px

figure.comilla_p01, figure.comilla_p02, figure.comilla_p03
    background url(../images/s01_home.png) no-repeat -573px -5px
    width 18px
    height 18px
    position relative
    float right

figure.comilla_p01
    margin -18px 90px 0 0

figure.comilla_p02
    margin -20px 50px 0 0

figure.comilla_p03
    margin -20px 75px 0 0

figure.comilla_g
    background url(../images/s01_home.png) no-repeat -528px -5px
    width 40px
    height 36px
    position relative
    float left
    margin 0 0 0 0

figure.corazones01
    background url(../images/s01_corazones.png) no-repeat -5px -6px
    position relative
    float left
    z-index 100
    width 75px
    height 216px
    margin 130px 0 0 0

section.navegacion
    background url(../images/corazones_03.png) no-repeat 1160px 40px
    width 100%
    min-width 1024px
    max-width 1300px
    margin 0 auto
    text-align center

//MENU DE NAVEGACION****************************************************************

nav
    text-align center

    ul.menu_principal
        width 100%
        display block
        margin 0 auto
        padding 0

        li
            display inline-block
            width 164px
            vertical-align top
            cursor pointer
            &:hover
                text-decoration none

                div.textos_nav

                    h3, h4
                        color #FFF

                img
                    width 100%
                    opacity 1

            a
                &:hover
                    text-decoration none

            img
                width 100%
                opacity 1

                a
                    &:hover 
                        text-decoration none

            div.textos_nav
                height 40px
                display block
                text-align center
                margin 10px 0

                h3
                    font-family tbold
                    font-weight 400
                    color #466B93
                    margin 0
                    font-size 1em
                    line-height 1.3em

                h4
                    font-family tnormal
                    font-weight 400
                    color #466B93
                    margin 0
                    font-size .9em
                    line-height 1em

            div.submenu-prod
                display none
                height 50px
                text-align center
                margin 5px 0
                
                a
                    font-family tbold
                    color #FFF
                    font-size 1em
                    line-height .8em
                    font-weight 400
                    &:hover
                        font-family tbold
                        color #BEE8EF
                        font-size 1em
                        line-height .8em
                        font-weight 400

        li.item01
            background #FFE3F3
            border-top 8px solid #D15B9D
            &:hover
                background #D15B9D

        li.item02
            background #C0DEF4
            border-top 8px solid #7BBBE7
            &:hover
                background #7BBBE7

        li.item03
            background #D4D7EC
            border-top 8px solid #8686BC
            &:hover
                background #8686BC

        li.item04
            background #FDE9D1
            border-top 8px solid #E9BF79
            &:hover
                background #E9BF79

        li.item05
            background #BEE8EF
            border-top 8px solid #8BB9C9
            &:hover
                background #8BB9C9

        li.item06
            background #D7E7F2
            border-top 8px solid #456B93
            &:hover
                background #456B93

section.submenu
    background url(../images/back_submenu.png) repeat-y center
    min-width 1024px
    margin 10px 0 10px
    max-width 1300px
    width 100%
    padding 0

    article.text, ul.submenu, figure.oso
        display inline-block
        vertical-align middle

    figure.oso
        background url(../images/s02_logos.png) no-repeat -150px 2px
        height 108px
        width 116px

    article.text
        width 210px
        margin 0 0 0 30px

        p
            font-family tnormal
            font-size .9em
            color #69BDC9
            line-height 1.2em
            margin 5px 0
            text-align center

        h3
            font-family tbold
            color #004787
            font-size 1.2em
            line-height 1.4em
            width 220px
            margin 5px 0
            text-align left

        a
            span
                font-size 1.2em

    ul.submenu
        width 655px
        margin 0
        padding 0

        li
            display inline-block
            list-style none
            margin 0
            padding 0
            cursor pointer
            width 104px
            vertical-align top
            text-align center
            height 144px
            
            a
                height 144px
                width 104px
                display block
                border 0
                &:hover
                    text-decoration none
                
                p
                    font-family tnormal
                    font-size .9em
                    line-height 1.2em
                    color #A9C3D3
                    text-align center
                    margin 10px 0

            &.uno
              background #e4f3fc
            &.dos
              background #eef8fd

            &:hover
                figure.uno
                    background url(../images/s01_home.png) no-repeat -2px -63px
                figure.dos
                    background url(../images/s01_home.png) no-repeat -62px -63px
                figure.tres
                    background url(../images/s01_home.png) no-repeat -123px -64px
                figure.cuatro
                    background url(../images/s01_home.png) no-repeat -182px -64px
                figure.cinco
                    background url(../images/s01_home.png) no-repeat -243px -64px
                figure.seis
                    background url(../images/s01_home.png) no-repeat -302px -64px

            figure
                margin 30px auto 0
                height 57px
                width 57px
                &.uno
                    background url(../images/s01_home.png) no-repeat -2px -3px
                &.dos
                    background url(../images/s01_home.png) no-repeat -62px -3px
                &.tres
                    background url(../images/s01_home.png) no-repeat -123px -4px
                &.cuatro
                    background url(../images/s01_home.png) no-repeat -182px -4px
                &.cinco
                    background url(../images/s01_home.png) no-repeat -243px -4px
                &.seis
                    background url(../images/s01_home.png) no-repeat -302px -4px

a.btn_leer_art
    margin 20px 45px

    span.txbtn_leer_art
        color #FFF
        font-family tnormal
        font-size 1.1em
        line-height 0

footer
    margin 0 auto
    max-width 1300px
    min-width 1024px
    width 100%

//SECCION MENU DEL FOOTER***********************************************************

section.foot_menu
    background #4f8fcd
    margin 0 auto
    padding 0
    width 100%

    article.mapa, article.redes, figure.redes_sociales
        vertical-align top
        display inline-block

    figure.redes_sociales
        background url(../images/s01_home.png) no-repeat -410px -73px
        float right
        height 46px
        margin -17px 10px 0 10px
        position relative
        width 90px

        a.facebook, a.youtube
          display inline-block
          height 40px
          opacity .7
          vertical-align top
          width 45px

    article.mapa
        background #054884 url(../images/arrow_02.png) no-repeat 130px 50%
        padding 5px 10px 5px 20px
        width 130px

        a
            color #FFF
            display block
            font-size .8em
            width 100%
            &:hover
                text-decoration underline

    article.redes
        position relative
        float right
        margin 0 0 0 200px
        width 200px
        text-align right
        color #FFF
        font-size .8em
        padding 5px

//SECCION MAPA DE NAVEGACION***********************************************************

section.mapa_nav
    background url(../images/back_foot.png) no-repeat center bottom
    border-bottom 1px #E3E3E3 dotted
    width 100%
    min-width 1024px
    max-width 1300px
    margin 10px auto
    display none

ul.map_nav01
    border-bottom 1px #E3E3E3 solid
    display block
    width 1000px
    margin 0 auto
    padding 10px 0
    text-align left

    li
        display inline-block
        width 190px
        margin 0 10px
        text-align left

        h4.c_amarina
            font-family tbold
            font-size 1.3em
            color #3BCCD5

        h4.c_azul
            font-family tbold
            font-size 1.3em
            color #4E8FCD

ul.map_nav02
    display block
    width 1000px
    margin 0 auto
    padding 10px 0
    vertical-align top
    text-align left

    li.items
        display inline-block
        width 190px
        margin 0 10px
        text-align left
        vertical-align top

        ul
            display block
            margin 0
            padding 0

            li
                list-style none

                a
                    color #999999
                    margin 0
                    padding 0
                    font-size .8em
                    line-height 1.4em
                    font-style none
                    &:hover
                        text-decoration underline

//SECCION DE INFORMACION PARA EL PIE***********************************************************

article.info_pie
    width 440px
    margin 20px auto 10px
    text-align center

    h3
        font-family tbold
        font-size 1.5em
        line-height 1em
        margin 0
        color #8FC9E5

    h2
        font-family tbold
        font-size 2.4em
        line-height 1.4em
        margin 0
        color #054783

    p
        font-size .9em
        line-height 1em
        margin 0
        color #9E9E9E

//SECCION DE INFORMACION***********************************************************

section.informacion
    width 1024px
    margin 15px auto 0
    text-align center

    article
        display inline-block
        width 700px
        margin 0 auto

        ul.creditos
            display block
            text-align center
            margin 0
            padding 0

            li
                display inline-block
                list-style none
                margin 0
                padding 0 8px
                
                a
                    font-size .8em
                    color #9E9E9E
                    font-style none
                    &:hover
                        list-style underline

            li.border_l
                border-left 1px #9E9E9E solid

    p
        text-align center
        font-size .7em
        color #9E9E9E

    figure.logo_tq
        background url(../images/s02_logos.png) no-repeat -669px -4px
        display inline-block
        float right
        position relative
        vertical-align top
        width 44px
        height 44px

//OE OVERLAY ESTILOS GENERALES ************************************************************

.oe_overlay
    opacity 0
    top 0
    left 0
    width 100%
    height 100%

ul.oe_menu
    list-style none
    position relative
    clear both
    z-index 900 !important

    li
        position relative

        a
            display block
            opacity .8

            &:hover
                opacity 1.0

    li.selected

        a
            opacity 1.0 

    div
        display none
        height 250px
        padding 0 20px
        position absolute
        top 50px
        width 920px
        z-index 999 !important
        vertical-align top

        ul.oe_full
            width 100%

            li
                a:hover
                    background #000
                    color #fff
                    
                ul
                    list-style none
                    float left

        div.bloques
            border 0
            display inline-block
            margin 10px 0
            padding 0 20px
            width 246px
            position relative
            height 200px !important
            top 0

            a.link
                background url(../images/arrow_01.png) no-repeat right 3px
                color #27b5bc
                display block
                font-size .9em
                font-weight bold
                line-height 1em
                height 20px
                margin 15px 0 0 0 !important
                padding 5px 0 0 0
                text-align left
                width 220px
                &:hover
                    text-decoration underline

            h4.title
                display block
                font-size 1em
                font-weight 700 !important
                line-height 1.4em
                color #000
                text-align left

            article.principal
                display block
                text-align center

                figure, p
                    display inline-block
                    text-align left
                    vertical-align top

                figure
                    width 91px
                    height auto
                    img
                        width 100%
                        height auto

                p
                    width 135px
                    height auto
                    margin 0 0 0 10px
                    line-height 1.2em
                    font-size .8em
                    font-weight 300
                    color #626262
                    
                    a
                        line-height 1.2em
                        font-weight 300
                        color #626262
                        &:hover
                            color #054883
                            text-decoration underline
                p.blue
                    color #054884
                    a
                        color #054884
                        &:hover
                            text-decoration underline

            ul.listas
                display block
                margin 0
                padding 0
                width 100%
                text-align left
                line-height 1.2em !important
                float none

                li.items
                    margin 7px 0 !important
                    padding 0 0 0 15px !important
                    list-style none
                    background url(../images/bullet-azul.png) no-repeat 0 3px
                    font-weight 300
                    font-size .8em
                    line-height 1.2em !important
                    text-align left !important
                    color #626262
                    float none
                    width 100%

                    a
                        clear both
                        display block
                        color #626262
                        background none
                        float none
                        z-index 999
                        &:hover
                            text-decoration underline
                            color #054883

                li.parraf
                    margin 5px 0 !important
                    padding 0 0 0 5px !important
                    list-style none
                    font-weight 300
                    font-size .8em
                    line-height 1.2em !important
                    text-align left !important
                    color #626262
                    float none
                    width 100%

                    a
                        background none
                        color #626262
                        &:hover
                            color #054883

        div.bordes
            border-left 1px dotted #c2c2c2
            border-right 1px dotted #c2c2c2

    div.embarazo
        background #fcf1f8 url(../images/arrow_embarazo.png) no-repeat 65px 0
        left 1px

    div.recien_naci
        background #e6f3fb url(../images/arrow_rn.png) no-repeat 225px 0
        left -159px

    div.bebes
        background #ebe9f4 url(../images/arrow_bebes.png) no-repeat 385px 0
        left -319px

    div.pasitos
        background #fbf3e6 url(../images/arrow_pasitos.png) no-repeat 540px 0
        left -479px

    div.palabritas
        background #e7f2f4 url(../images/arrow_palabritas.png) no-repeat 705px 0
        left -639px

    div.productos
        background #edf5fe url(../images/arrow_palabritas.png) no-repeat 855px 0
        left -799px

.share_email
    width 670px
    padding 10px
    margin 0 auto

    div.content_gnrl
        background #FFF
        padding 10px
        box-shadow  -5px 0px 10px 1px rgba(159, 211, 214, 0.7)
        border-radius 10px
        vertical-align top
        text-align center
        h2
            font-family tbold
            font-size 2em
            line-height 1.4em
            font-weight normal
            color #7ecdd8
            text-align left
            margin 10px 0 0

        p   
            font-size 1em
            line-height 1.1em
            color #06437E
            text-align left
            &.dos
                line-height 1.2em
                margin 1em 0 0 5em

    figure.icon
        display inline-block  
        background url("../images/s01_home.png") no-repeat -488px -127px
        width 52px
        height 52px
        vertical-align top
        margin 15px 20px 0 0

    div.titulo_top
        width 460px
        display inline-block

    table.tabla_popup
        text-align left
        margin 20px auto 10px

    span.num
        font-family tbold
        font-size 2em
        font-weight normal
        line-height 1.2em
        color#7ecdd8 

    input.titles_content_dos, div.titles_content
        border-radius 10px
        margin 5px 5px
        width 270px
        padding 8px
        border 0px
        font-weight normal

    div.titles_content
        font-family tbold
        background #7ecdd8
        color#FFF
        font-size 1.4em
        text-align center

    input.titles_content_dos
        background #FFF
        color#5da3a2
        font-size 1.2em
        text-align left
        box-shadow inset 0px 0px 5px 1px rgba(0, 0, 0, 0.2)

    a.btn
        text-transform uppercase

.visible
    display block !important

.mensajes_sistema
    display block
    width 650px
    margin 10px auto

    div.content_gnrl
        background #FFF
        padding 10px
        box-shadow  -5px 0px 10px 1px rgba(159, 211, 214, 0.7)
        border-radius 10px
        min-height 70px
        vertical-align top
        text-align center
        position relative

        a.closed_message
            background url("../images/s01_home.png") no-repeat -23px -149px
            content ""
            display block
            height 21px
            position absolute
            right 10px
            top 10px
            width 21px

        h2.titulo_message
            font-family tbold
            font-size 2em
            line-height 1.4em
            text-align center
            padding 0 50px
            position relative
            &.alerta
                color #ea9f23
                &:before
                    background url("../images/s01_home.png") no-repeat -358px -128px
                    content ""
                    display block
                    height 41px
                    position absolute
                    left 20%
                    top 0
                    width 41px
            &.error
                color #eb6948
                &:before
                    background url("../images/s01_home.png") no-repeat -401px -128px
                    content ""
                    display block
                    height 41px
                    position absolute
                    left 20%
                    top 0
                    width 41px
            &.exito
                color #58a097
                &:before
                    background url("../images/s01_home.png") no-repeat -444px -128px
                    content ""
                    display block
                    height 41px
                    position absolute
                    left 20%
                    top 0
                    width 41px

        p.parraf_message
            font-family tnormal
            font-size 1em
            line-height 1.2em
            text-align center
            margin 10px 30px
    

/* IMPORTACION DE LOS ESTILOS PARA LA SECCION PRODUCTOS ******************************************************************************************/

@import "productos.styl"

/* IMPORTACION DE LOS ESTILOS PARA LA SECCION CANALES ******************************************************************************************/

@import "canales.styl"

/* IMPORTACION DE LOS ESTILOS PARA LA SECCION INSTITUCIONAL ******************************************************************************************/

@import "institucional.styl"

/* IMPORTACION DE LOS ESTILOS PARA LA SECCION INSTITUCIONAL ******************************************************************************************/

@import "internas.styl"

/* IMPORTACION DE LOS ESTILOS PARA LA SECCION INSTITUCIONAL ******************************************************************************************/

@import "mimundowinny.styl"

