#left-menu-conte
    background #054884
    margin 200px 0 0
    position absolute
    vertical-align top
    width 180px
    z-index 600

    .accordion

        .accordion-group
            border 0
            border-radius 0
            border-bottom dashed 1px #B8D1EF
            margin 0

        .accordion-heading
            text-align left

            a
                background none
                color #FFF
                font-size 14px
                margin 0
                padding 0
                
                div
                    display inline-block
                    vertical-align middle

                div.arrow
                    float right
                    margin-right 8px

                div.vin-menu-lat-1
                    background #82addc
                    height 30px
                    margin-right 8px
                    width 10px

                div.vin-menu-lat-2
                    background #91cad1
                    height 30px
                    margin-right 8px
                    width 10px

                div.vin-menu-lat-3
                    background #7e80bb
                    height 30px
                    margin-right 8px
                    width 10px

                div.vin-menu-lat-4
                    background #ca0789
                    height 30px
                    margin-right 8px
                    width 10px

                div.vin-menu-lat-5
                    background #e2a900
                    height 30px
                    margin-right 8px
                    width 10px

                div.vin-menu-lat-6
                    width 10px
                    height 30px
                    background #b7c72c
                    margin-right 8px

            a.menu1:hover, a.nav-1
                background #82addc

            a.menu2:hover, a.nav-2
                background #91cad1

            a.menu3:hover, a.nav-8
                background #7e80bb

            a.menu4:hover,a.nav-11
                background #ca0789

            a.menu5:hover,a.nav-12
                background #e2a900

            a.menu6:hover,a.nav-13
                background #b7c72c

    h1
        font-family tbold
        font-weight 400
        color #81bdf4
        font-size 14px
        line-height 15px
        padding 8px 10px
        text-transform uppercase

.subm-sobre-winny
    background #3b7aa2
    border 0
    padding 0

    ul
        width 100%
        text-align left
        padding 0
        margin 0

        li
            width 180px
            font-size 12px
            margin 0
            margin-bottom 3px
            line-height 15px

            a.nav-3, a.nav-5, a.nav-6, a.nav-7
                background url('../images/institucional/arrow-submenu-2.gif') 10px 6px no-repeat #5390af

            a
                background url('../images/institucional/arrow-submenu-2.gif') 10px 6px no-repeat
                padding 4px 8px 0 25px
                color #FFF
                display block
                height 35px
                width 152px

                &:hover
                    background url('../images/institucional/arrow-submenu-2.gif') 10px 6px no-repeat #5390af

.subm-winny-social
    border 0
    padding 0

    ul
        width 100%
        text-align left
        padding 0
        margin 0

        li
            font-size 12px
            margin 0
            line-height 37px
            height 37px

            a
                background url('../images/institucional/arrow-submenu-3.gif') 10px 50% no-repeat #797eb9
                color #FFF
                display block
                padding 0 8px 0 20px
                height 39px
                width 152px
                
                &:hover
                    background url('../images/institucional/arrow-submenu-3.gif') 10px 50% no-repeat #6267a3
                
            a.nav-9
                background url('../images/institucional/arrow-submenu-3.gif') 10px 50% no-repeat #5b70ab

            a.nav-4
                background url('../images/institucional/arrow-submenu-3.gif') 10px 50% no-repeat #6267a3

#content_tabs
    width 100%
    height 700px
    max-height 700px
    overflow hidden
    position relative
    float left

    .infozone
        float left
        position relative
        display none

    #nav-1, #nav-3, #nav-5, #nav-6, #nav-7
        padding 200px 0 0 235px
        height 500px
        max-width 1300px
        min-width 1065px

    #nav-2, #nav-4
        height 700px
        max-width 1300px
        min-width 1024px
        width 100%

    #nav-1
        background url(../images/institucional/bg_01.jpg) no-repeat right

    #nav-4
        background url(../images/institucional/back_pqrs.png) no-repeat left bottom

    #nav-5
        background url(../images/institucional/back_pf.png) no-repeat left bottom

    #nav-3
        background url(../images/institucional/bg_08.jpg) no-repeat left bottom

    #nav-7
        background url(../images/institucional/bg_07.jpg) no-repeat left bottom

.content_gnrl_slide
    display block
    height auto
    margin 0 !important
    padding 0 30px 0 235px

article.text_content00
    width 300px
    display block
    margin 0

    h2
        font-family tbold
        font-weight 400
        margin 0 0
        font-size 4em
        line-height .7em
        color #6C6CAC
        letter-spacing -1px
        text-align left

    p.uno
        font-family tnormal
        margin 20px 0 0
        font-size 1.4em
        line-height 1em
        color #466B93

    p.dos
        font-family tbold
        margin 20px 0
        font-size 1.6em
        line-height 1em
        font-weight 400
        color #466B93

    p.title
        font-family tnormal
        font-weight 400
        margin 0 0 20px
        font-size 1.3em
        line-height 1em
        color #466B93

.contenido_slide_ins
    height auto
    display block
    margin 0 auto 0 0 !important
    max-width 940px
    min-width 800px
    width 100%
    text-align left

    article.text_content01
        width 380px
        display block
        margin 0

        h2
            font-family tbold
            font-weight 400
            margin 0 0
            font-size 4em
            color #6BB7BF
            letter-spacing -1px
            line-height 1.1em
            text-align left

        p.uno
            font-family tnormal
            margin 20px 0 0
            font-size 1.1em
            line-height 1.1em
            color #466B93

        p.dos
            font-family tnormal
            margin 0 0
            font-size 1.1em
            line-height 1.1em
            color #6BB7BF

        h3
            font-family tbold
            font-weight 400
            margin 20px 0
            font-size 2.1em
            line-height 1.1em
            color #6BB7BF

    article.text_content02
        width 400px
        display block
        margin 0

        section
            margin 20px 0 0

        h2
            font-family tbold
            font-weight 400
            margin 0 0
            font-size 3.8em
            color #6BB7BF
            line-height 1.1em
            letter-spacing -1px
            text-align left

        p.uno
            font-family tnormal
            margin 20px 0 0
            font-size 1.1em
            line-height 1.1em
            color #466B93

        p.dos
            font-family tnormal
            margin 0 0
            font-size 1.1em
            line-height 1.1em
            color #6BB7BF

        p.tres
            font-family tbold
            margin 0 0
            font-size 1.2em
            line-height 1.1em
            color #466B93

        h3
            font-family tbold
            font-weight 400
            margin 20px 0
            font-size 1.5em
            line-height 1.1em
            color #6BB7BF

    article.text_content03
        width 510px
        display block
        margin 0
        text-align left

        section.colums
            width 420px
            display block

            article

                p.uno
                    font-family tnormal
                    margin 10px 0 0
                    font-size 1.1em
                    line-height 1.1em
                    color #466B93
                    
                h3
                    font-family tbold
                    font-weight 400
                    margin 20px 0 0
                    font-size 1.5em
                    line-height 1.1em
                    color #6BB7BF
                    text-align left

            article.izq, article.der
                display inline-block
                vertical-align top
                width 190px
                height 170px
                margin 0 5px

        h2
            font-family tbold
            font-weight 400
            margin 0 0
            font-size 3.8em
            line-height 1.1em
            color #6BB7BF
            letter-spacing -1px
            text-align left

        p.uno
            font-family tnormal
            margin 10px 0 0
            font-size 1.1em
            line-height 1.1em
            color #466B93

        p.dos
            font-family tnormal
            margin 0 0
            font-size 1.1em
            line-height 1.1em
            color #6BB7BF

        p.tres
            font-family tbold
            margin 0 0
            font-size 1.1em
            line-height 1.1em
            font-weight 400
            color #466B93

figure.comilla_g_ins
    background url(../images/s01_home.png) no-repeat -528px -5px
    width 40px
    height 36px
    margin 10px 0 5px 0

.content_gnrl_w_social
    display block
    height auto
    margin 0 !important

.slider_donaciones
    height 350px !important

.slide_pictures
    padding 25px 0 0
    position absolute
    right 0
    left 0
    display block
    width 730px
    height 150px
    margin 0 auto

.contenid_w_social
    display block
    margin 0 auto 0 0 !important
    max-width 920px
    min-width 780px
    text-align left
    width 100%

    article.text_content
        width 510px
        display block
        margin 0
        text-align left

        p.uno
            font-family tnormal
            margin 10px 0 0 !important
            font-size 1.05em
            line-height 1.1em
            color #466B93

        h2
            font-family tbold
            margin 0
            font-size 4em
            line-height 1.1em
            font-weight 400
            color #466b93

        section.group_text
            width 100%
            text-align left
            height 60px
            margin 25px 0

            figure, article
                display inline-block
                vertical-align top

            figure
                width 20px
                margin 0 5px

            article
                width 230px
                margin 0 0

                h3
                    font-family tbold
                    margin 0 0
                    font-size 1.2em
                    line-height 1.4em
                    font-weight 400
                    color #466b93

                    strong
                        font-family tbold
                        font-size 1.7em
                        font-weight 400 !important

.container_pqrs
    display block
    height auto
    margin 0 !important
    padding 200px 30px 0 235px

section.content_pqrs
    display block
    margin 0 0 0 30px
    max-width 600px
    min-width 600px
    text-align left
    width auto
    position relative

    div.top
        text-align left

        article.title01, figure
            display inline-block
            vertical-align top

        article.title01
            width 580px

            h2
                font-family tbold
                font-size 3em
                color #004d7c
                font-weight 400
                letter-spacing -1px
                margin 0 0
                line-height 1.2em

            p
                font-family tnormal
                font-size 1.1em
                line-height 1.1em
                color #466b93
                font-weight 300
                letter-spacing 0
                text-align center
  

        figure
            background url(../images/institucional/sprite_pqrs.png) no-repeat
            height 106px
            width 126px
            margin 0 0 0 10px
            float right
            position absolute

    div.content
        margin 1em 0
        text-align center
        max-width 990px
        position relative
        overflow hidden

        div.top
            background #f7dd81
            text-align center
            color #454545
            font-size .9em
            margin 0
            padding 10px
            width auto

        ul
            background url(../images/institucional/back_li_pqrs.png) repeat-x 0 -89px
            width 2000px
            display block
            margin 0
            padding 0
            list-style-type none
            text-align left

            li.tab.active
                background url(../images/institucional/back_li_pqrs.png) repeat-x 0 0

            li
                list-style none
                display inline-block
                vertical-align top
                cursor pointer
                width 120px
                height 85px
                border 0
                margin 0
                &:hover
                    background url(../images/institucional/back_li_pqrs.png) repeat-x 0 0

                a
                    padding 10px
                    display block
                    width 100px
                    height 65px
                    &:hover
                        padding 10px
                        display block
                        width 100px
                        height 65px
                        text-decoration none


                    p
                        font-size .8em
                        text-align center
                        margin 0
                        color #8c8d8d

                p
                    font-size .8em
                    text-align center
                    margin 0
                    color #8c8d8d

                figure
                    width 48px
                    height 48px
                    margin 0 auto 0

            li.peticion

                figure
                    background url(../images/institucional/sprite_pqrs.png) no-repeat -139px 0

                &:hover
                    figure
                        background url(../images/institucional/sprite_pqrs.png) no-repeat -139px -50px


            li.peticion.tab.active

                figure
                    background url(../images/institucional/sprite_pqrs.png) no-repeat -139px -50px

            li.queja

                figure
                    background url(../images/institucional/sprite_pqrs.png) no-repeat -204px 0

                &:hover
                    figure
                        background url(../images/institucional/sprite_pqrs.png) no-repeat -204px -50px

            li.queja.tab.active
                
                figure
                    background url(../images/institucional/sprite_pqrs.png) no-repeat -204px -50px

            li.reclamo

                figure
                    background url(../images/institucional/sprite_pqrs.png) no-repeat -263px 0

                &:hover
                    figure
                        background url(../images/institucional/sprite_pqrs.png) no-repeat -263px -50px

            li.reclamo.tab.active
                
                figure
                    background url(../images/institucional/sprite_pqrs.png) no-repeat -263px -50px

            li.sugerencia

                figure
                    background url(../images/institucional/sprite_pqrs.png) no-repeat -325px 0
                
                &:hover
                    figure
                        background url(../images/institucional/sprite_pqrs.png) no-repeat -325px -50px


            li.sugerencia.tab.active
                
                figure
                    background url(../images/institucional/sprite_pqrs.png) no-repeat -325px -50px

            li.agradecimiento
                
                figure
                    background url(../images/institucional/sprite_pqrs.png) no-repeat -384px 0

                &:hover
                    figure
                        background url(../images/institucional/sprite_pqrs.png) no-repeat -384px -50px

            li.agradecimiento.tab.active
                
                figure
                    background url(../images/institucional/sprite_pqrs.png) no-repeat -384px -50px

        div.contenidos
            background #FFF
            margin 0
            padding 25px
            text-align left
            width auto
            height 125px
            min-height 125px
            max-height 125px
            overflow hidden

            h2
                font-family tbold
                text-align left
                font-size 1.5em
                font-weight 400
                color #004d7c !important
                margin 0 0 10px
                line-height 1.2em

            p
                text-align justify
                font-size .8em
                line-height 1.3em
                color #505050

        article.titles_top
            padding 5px
            background #f7dd81
            border-radius 10px

            h2
                font-family tnormal
                background url(../images/institucional/pqrs_alert_icon.png) 5px 5px no-repeat
                color #454545
                font-size 1.1em
                font-weight 400
                line-height 1.1em
                padding 5px 0 5px 40px

            h3
                font-family tbold
                color #466b93
                font-size 1.5em
                font-weight 400
                line-height 1.2em
                padding 5px 0 5px 0
                margin 0

            h3.gracias
                font-family tbold
                background url(../images/institucional/pqrs_check_icon.png) no-repeat 30px 50%
                color #5d9bd3
                font-size 2.2em
                font-weight 400
                line-height 1em
                padding 5px 0 5px 0
                margin 20px 0

            select.tipo
                font-size .9em
                width 400px

        article.formulario
            width 600px
            margin 10px 0 0 !important
            text-align left

            #recuperarDatos
                display none

            div.izq, div.der
                display inline-block
                margin 0 1px
                text-align left
                vertical-align top
                width 290px

            div.botones
                margin 10px 0 0
                text-align center

            div.izq
                height 200px
                min-height 200px

                h2
                    font-family tbold
                    font-size 1.6em
                    font-weight 400
                    line-height 1.2em
                    &.margenBottom
                        margin 0 0 20px 0
                
                p
                    color #6F6F6F
                    font-family tnormal
                    font-size 1em
                    font-weight 400
                    line-height 1.2em
                    text-align center
                    margin 0 0 20px 0

            div.der
                width 260px
                margin 0 0 0 30px

                h2
                    font-family tbold
                    font-size 1.4em
                    font-weight 400
                    margin 15px 0 10px
                    line-height 1.2em

                h3
                    font-family tbold
                    color #5d9bd3
                    font-size 1em
                    line-height 1.1em
                    font-weight 400
                    margin 10px 0

                ul
                    background none repeat scroll 0 0 transparent
                    display block
                    width 100%

                    li
                        background url(../images/institucional/back_li_cor.png) no-repeat 0 0
                        color #6f6f6f
                        display block
                        font-size .9em
                        height 35px
                        line-height 1.1em
                        padding 0 0 0 20px
                        width 90%

            p.text_form
                color #466b93
                font-size .8em
                font-weight 300
                margin 5px 0

                span
                    color #6d6d6d

            textarea.t_area
                font-size .9em
                width 585px
                max-width 585px
                height 110px
                max-height 110px

            div.item_cont
                display block
                width 100%
                height 35px
                &.heightAuto
                    height auto !important

                label, input, select
                    display inline-block
                    vertical-align top
                    border-radius 5px

                label
                    color #466b93
                    font-size .9em
                    margin 0 5px 0 0
                    padding 5px 0 0 0
                    width 80px

                p.principal
                    font-family tbold
                    display block
                    color #004d7c
                    font-size 2em
                    font-weight 400
                    line-height 1em
                    margin 0
                    padding 0
                    text-align center

                p.secundaria
                    color #004d7c
                    font-family tnormal
                    font-size 1.2em
                    font-weight 400
                    line-height 1.2em
                    margin 10px 0
                    padding 0
                    text-align center

                input
                    font-size .9em
                    margin 0 10px 6px 0
                    width 167px

                select
                    font-size .8em
                    margin 0 10px 6px 0
                    width 180px

                a.olvide_contrasena
                    background #f7dd81 url(../images/institucional/arrow_pass.png) no-repeat 97% 50%
                    border-radius 5px
                    display block
                    font-size .9em
                    font-weight 700
                    margin 15px 0 0
                    padding 5px 10px
                    width 250px

#scroll_btn_left, #scroll_btn_right
    position absolute
    background url("../images/sprite_carousel.png") no-repeat scroll -59px 0 transparent
    display block
    width 19px
    height 33px
    cursor pointer
    top 185px

#scroll_btn_left
    left -25px
    background url("../images/sprite_carousel.png") no-repeat scroll -59px 0 transparent
    display none
    &:hover
        background-position -40px 0

#scroll_btn_right
    right -25px
    background url("../images/sprite_carousel.png") no-repeat scroll 0 0 transparent
    &:hover
        background-position -19px 0

.ocultar_flechas
    display none !important




.tabs_draclown
    margin 22px 0 0 0

    ul.dra_clown_tabs
        margin 0
        padding 0

        li
            background url(../images/institucional/back_tabs_draclown.png) repeat-x 0 -38px
            display inline-block
            height 34px
            list-style none
            text-align center
            width 145px

            &:hover, &.active
                background url(../images/institucional/back_tabs_draclown.png) repeat-x 0 -1px

                a
                    background url(../images/institucional/arrow_tabs_draclown.png) no-repeat 50% 100%
            
            a
                font-family tbold
                display block
                height 24px
                list-style none
                padding 5px 10px 5px
                text-align center
                width 125px
                color #FFF
                font-size 1.2em
                font-weight 400
                margin 0 !important
                &:hover
                    background url(../images/institucional/arrow_tabs_draclown.png) no-repeat 50% 100%
                    text-decoration none

        li.ano_2013
            border-radius 10px 0 0 0

        li.ano_2012
            border-radius 0 10px 0 0

.content_anos
    width 100%
    background #FFF
    background rgba(255, 255, 255, .8)

    ul.visitas_draclown
        height 110px
        padding 15px 10px 5px
        margin 0 0 7px 0
        max-height 105px
        min-height 105px
        overflow hidden

        li
            display inline-block
            vertical-align top
            width 200px

            ul.lugares
                margin 0 0 5px 15px
                padding 0
                width 185px

                li
                    color #466b93
                    font-weight 700
                    font-size .9em
                    line-height .9em
                    list-style none
                    width 170px
                    margin 0

                li.items
                    background url(../images/institucional/bullet_ciudades.png) 0 4px no-repeat
                    color #6b6b6b
                    font-weight 300
                    font-size .7em
                    line-height 15px
                    margin 0
                    padding 0 0 0 10px

        li.border_dot
            border-right 1px dotted #CCC

section.content_preguntasf
    display block
    margin 0 0 0 0
    max-width 700px
    min-width 700px
    text-align left
    width 700

    div.top

        article.title01
            vertical-align top
            text-align center
            width 100%

            h2
                font-family tbold
                font-size 3em
                color #b7c72c
                font-weight 400
                line-height 1.2em
                letter-spacing -1px
                margin 0 0 10px

            p
                font-family tnormal
                font-size 1.1em
                line-height 1.1em
                color #466b93
                font-weight 300
                letter-spacing 0
                text-align center
    

    div.content
        margin 1em 0
        text-align center

        article.titles_top

            input.buscador
                margin 0 10px !important
                font-size .9em
                width 400px


        div.preguntas, div.respuestas
            display inline-block
            margin 30px 1px 0
            vertical-align top

        div.preguntas
            overflow-y auto
            overflow-x hidden
            text-align left
            width 340px
            height 320px

            ul
                margin 0
                padding 0
                width 100%

                li
                    list-style none
                    background #f2f2f2
                    padding 10px 10px 10px 10px
                    height 44px
                    max-height 44px
                    margin 0 !important
                    color #3f3f3f
                    font-size .85em
                    text-align left
                    line-height 1.3em
                    cursor pointer
                    
                    &:hover
                        background-color #e9e8e8

                    figure.items, p
                        display inline-block
                        vertical-align top

                    figure.items
                        font-family tbold
                        font-size 1.6em
                        font-weight 400
                        padding 0 5px 0 5px
                        width 20px
                        color #b7c72c

                    p
                        width 275px
                        text-align left

        div.respuestas
            overflow hidden
            text-align left
            width 300px
            height 300px
            padding 0 0 0 40px


            figure.items, h2
                display inline-block
                vertical-align top

            figure.items
                font-family tbold
                font-size 1.6em
                font-weight 400
                padding 5px 10px 0 5px
                width 20px
                color #b7c72c

            h2
                font-family tbold
                font-size 1.4em
                line-height 1.2em
                color #054884
                font-weight 400
                letter-spacing -1px
                text-align left
                width 260px
                margin 0 0 10px

            p
                color #808080
                font-size .85em
                font-weight 300
                letter-spacing 0
                line-height 1.3em
                text-align left

#pqrs_uno
    display block

#pqrs_dos
    display none

#pqrs_tres
    display none

#pqrs_cuatro
    display none

#main-content-inst
    vertical-align top
    width 100%
    height 100%
    max-height 700px
    overflow hidden
    margin 0 auto

    ul.bjqs
        position relative
        list-style none
        padding 0
        margin 0
        overflow hidden
        display none
        width 100%
        min-width 1024px !important

        li
            width 100%
            height 500px
            max-width 1300px
            min-width 1024px
            text-align left
            padding 200px 0 0 0

            article
                
                .a_marina
                    color #7ecdd8

                .a_oscuro
                    color #054884

        li.banner_01
            background url(../images/institucional/bg_02.jpg) no-repeat left top

        li.banner_02
            background url(../images/institucional/bg_03.jpg) no-repeat left top

        li.banner_03
            background url(../images/institucional/bg_04.jpg) no-repeat left top

        li.banner_04
            background url(../images/institucional/bg_05.jpg) no-repeat left top

        li.banner_05
            background url(../images/institucional/bg_06.jpg) no-repeat left top

    li.bjqs-slide
        position absolute
        display none
        width 100%
        min-width 1024px !important

    ul.bjqs-controls
        list-style none
        margin -350px auto 0
        padding 0
        z-index 300
        width 100% !important
        position relative


    ul.bjqs-controls.v-centered li
        width 1024px !important
        margin 0 auto
        
        a
            position absolute

    ol.bjqs-markers
        list-style none
        padding 0
        margin 0
        width 100%

    ol.bjqs-markers.h-centered
        text-align center

    ol.bjqs-markers li
        display inline

        a
            display inline-block

    p.bjqs-caption
        display block
        width 96%
        margin 0
        padding 2%
        position absolute
        bottom 0

    ul.bjqs-controls.v-centered li.bjqs-next a
        right 30px
        font-size 0 !important
        width 25px
        height 45px
        background url(../images/institucional/sprite_arrow.png) -1px -1px

    ul.bjqs-controls.v-centered li.bjqs-prev a
        left 190px
        font-size 0 !important
        width 25px
        height 45px
        background url(../images/institucional/sprite_arrow.png) -82px -1px

    ul.bjqs-controls.v-centered li.bjqs-next a:hover
        right 30px
        font-size 0 !important
        width 25px
        height 45px
        background url(../images/institucional/sprite_arrow.png)  -27px -1px

    ul.bjqs-controls.v-centered li.bjqs-prev a:hover
        left 190px
        font-size 0 !important
        width 25px
        height 45px
        background url(../images/institucional/sprite_arrow.png) -56px -1px