section.mwContent-top
	background  url("../images/mimundowinny/back-top.jpg") no-repeat center top
	display block
	height 450px
	margin 0 auto
	max-width 1300px
	min-width 1024px
	border 1px solid transparent
	width 100%
	&.restaurarPass
		height 850px

	.contentGeneral
		display block
		height auto
		margin 100px auto 10px
		width 1024px
		text-align center

		figure.mwlogo, article.mwcontent
			display inline-block
			vertical-align top
			margin 0 10px

		figure.mwlogo
			background url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat -4px -34px
			width 331px
			height 309px

		figure.mwlogo.dos
			background url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat -2px -815px
			width 331px
			height 255px

		article.mwcontent
			width 600px
			h1
				color #7ecdd8
				font-family tbold
				font-size 3em
				font-weight 400
				line-height 1em
				margin 10px auto 10px
			h1.tituloRegistro
				color #7ecdd8
				font-family tbold
				font-size 2em
				font-weight 400
				line-height 1em
				margin 50px auto 10px

				span.azul
					color #06437e

			p.parrafRegistro
				color #06437e
				font-family tnormal
				font-size 1.1em
				font-weight 400
				line-height 1.2em
				margin 20px auto 10px

			hr.separacion-dos
				display block
				border-top 2px dotted #06437e
				border-bottom 0
				border-right 0
				border-left 0
				height 0
				margin 20px auto
				width 100%

			p.y
				background #7ecdd8
				color #FFF
				display block
				font-family tbold
				font-size 1.5em
				line-height 1em
				font-weight 400
				text-align center
				border-radius 15px
				margin 0 auto
				height 30px
				position relative
				width 30px
				&.corazon
					background url("../images/s01_home.png") no-repeat -324px -129px
					border-radius 0px
				&:after
					background url("../images/mimundowinny/points.png") no-repeat
					content ""
					position absolute
					height 3px
					left 50px
					top 50%
					width 160px
				&:before
					background url("../images/mimundowinny/points.png") no-repeat
					content ""
					position absolute
					height 3px
					right 50px
					top 50%
					width 160px

			h2
				color #054884
				font-family tnormal
				font-size 1.8em
				font-weight 400
				line-height 1.1em
				margin 10px
				&.olvidoPass
					position relative
					&:before
						background url("../images/s01_home.png") no-repeat -543px -127px
						content ""
						display block
						position absolute
						width 51px
						height 51px
						top 50%
						left 20px
						margin -25px 0 0
				&.fontxs
					font-size 1.5em
			div.infoContactos
				background #FFF
				border 1px solid #ebeff1
				border-radius 10px
				display block
				padding 15px
				margin 30px auto
				width 320px
				p
					color gris_c
					font-family tnormal
					font-size 1em
					line-height 1.2em
					margin 0
					span
						color azul
						font-family tbold
						font-size 1.1em
			
			div.formulario
				width 600px
				form
					article.row
						width 260px
						select
							width 260px
						input
							width 250px
					article.row_100
						width 600px
						input.btn
							margin 10px 25px 0 0
						p.preguntas
							display block
							font-family tbold
							font-size 1.4em
							font-weight 400
							line-height 1.5em
							margin 5px auto
							width 450px
							&.text
								font-family tnormal
								font-size 1.1em
								line-height 1.5em

			a
				margin 10px auto

				span
					font-size 1.5em

			p.link
				color #7ecdd8
				display block
				font-family tnormal
				font-size 1.2em
				line-height 1em
				font-weight 400
				text-align center
				margin 10px auto 0

				a
					color #054884
					&:hover
						text-decoration underline

		ul.pasos_registro
			border-radius 10px
			box-shadow inset 0 1px 5px 0 rgba(0, 0, 0, .4)
			width 550px
			display block
			position relative
			height 12px
			background #144587
			margin 60px auto 40px
			list-style none
			padding 0
			text-align justify

			&:before
				background url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat -161px -627px;
				display block
				content ""
				position absolute
				top 300px
				left -200px
				height 121px
				width 62px

			&:after
				content: "."
				display inline-block
				width 100%
				height 0
				visibility hidden

			li
				display inline-block
				box-shadow -2px 1px 5px -2px rgba(0, 0, 0, 1)
				width 45px
				height 45px
				border-radius 25px
				position relative
				top -17px

				a
					font-family tbold
					font-size 2.2em
					line-height 1em
					font-weight 400
					display block
					color #FFF
					box-shadow inset -3px 3px 10px -5px rgba(0, 0, 0, .5)
					padding 4px 0 0 0
					width 41px
					height 37px
					border-radius 25px
					background #144587
					border 2px solid #00132d
					text-align center
					outline none

				p
					color #CCC
					font-family tnormal
					font-size 1em
					font-weight 400
					margin 5px 0 0 -50px
					text-align center
					text-transform uppercase
					width 135px
					position absolute

			li.active

				a
					background #0096d9
					border 2px solid #017fb8

				p
					color #0096d9

			li.check

				a
					background #18a393
					border 2px solid #98d2cb

				p
					color #18a393

section.mwContent-block
	display block
	height auto
	margin 0 auto 30px
	max-width 1300px
	min-width 700px
	border 1px solid transparent
	width 100%

	.contentGeneral
		display block
		height auto
		margin 0 auto 10px
		width 1024px
		text-align center

		h2.tituloFormularios
			color #06437e
			font-family tbold
			font-size 1.5em
			font-weight 400
			line-height 1em
			margin 30px 0 30px 20px
			text-align left

		ul.mwMenuTop
			display block
			margin 20px auto 10px
			width 700px
			text-align center

			li
				display inline-block
				vertical-align top

				a
					background #7bc7d1
					color #FFF
					display block
					padding 10px
					font-family tnormal
					font-size 1em
					font-weight 400
					line-height 1em
					vertical-align middle
					&:hover
						background #59a4bd

					figure
						display inline-block
						vertical-align middle
						margin 0 8px 0 0

					&.uno
						border-radius 20px 0 0 20px
						border-right 1px solid #5299b0
						padding 10px 10px 10px 20px
						figure
							background url('../images/mimundowinny/sprite-mimundowinny.png') no-repeat -4px -6px
							height 25px
							width 32px

					&.dos
						border-right 1px solid #5299b0
						figure
							background url('../images/mimundowinny/sprite-mimundowinny.png') no-repeat -45px -3px
							height 25px
							width 22px

					&.tres
						border-right 1px solid #5299b0
						figure
							background url('../images/mimundowinny/sprite-mimundowinny.png') no-repeat -77px -4px
							height 25px
							width 19px

					&.cuatro
						border-right 1px solid #5299b0
						figure
							background url('../images/mimundowinny/sprite-mimundowinny.png') no-repeat -106px -2px
							height 25px
							width 22px

					&.cinco
						border-right 1px solid #5299b0
						figure
							background url('../images/mimundowinny/sprite-mimundowinny.png') no-repeat -137px -4px
							height 25px
							width 19px

					&.seis
						border-radius 0 20px 20px 0
						padding 10px 20px 10px 10px
						figure
							background url('../images/mimundowinny/sprite-mimundowinny.png') no-repeat -162px -5px
							height 25px
							width 17px

		h2.tituloSlider
			color #054884
			display block
			font-family tnormal
			font-size 2em
			font-weight 400
			line-height 1.1em
			margin 30px auto 20px
			text-align center
			position relative
			&:after
				background url("../images/mimundowinny/points.png") no-repeat
				content ""
				position absolute
				height 3px
				left 10px
				top 50%
				width 242px
			&:before
				background url("../images/mimundowinny/points.png") no-repeat
				content ""
				position absolute
				height 3px
				right 10px
				top 50%
				width 242px

		article.contIngresoLeft, article.contIngresoRight
			display inline-block
			vertical-align top
			margin 0 5px
		
		article.contIngresoLeft
			width 580px
			padding 0 20px 0 0

			h2.tituloIngreso
				color #06437e
				font-family tbold
				font-size 1.5em
				font-weight 400
				line-height 1.2em
				margin 0 0 20px
				text-align left

			ul.tabs-ingreso
				display block
				list-style none
				text-align left

				li
					display inline-block
					vertical-align top
					width 165px
					margin 0 2px

					a
						display block
						width 145px
						height 35px
						border-radius 10px
						padding 10px

						&.rosa
							background rgb(239,210,226)
							background -moz-linear-gradient(top,  rgba(239,210,226,1) 0%, rgba(232,191,214,1) 100%)
							background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,210,226,1)), color-stop(100%,rgba(232,191,214,1)))
							background -webkit-linear-gradient(top,  rgba(239,210,226,1) 0%,rgba(232,191,214,1) 100%)
							background -o-linear-gradient(top,  rgba(239,210,226,1) 0%,rgba(232,191,214,1) 100%)
							background -ms-linear-gradient(top,  rgba(239,210,226,1) 0%,rgba(232,191,214,1) 100%)
							background linear-gradient(to bottom,  rgba(239,210,226,1) 0%,rgba(232,191,214,1) 100%)
							&:hover, &.active
								box-shadow  0 0 10px 0 rgba(0, 0, 0, .2)

						&.azul
							background rgb(171,214,236)
							background -moz-linear-gradient(top,  rgba(171,214,236,1) 0%, rgba(140,199,228,1) 100%)
							background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(171,214,236,1)), color-stop(100%,rgba(140,199,228,1)))
							background -webkit-linear-gradient(top,  rgba(171,214,236,1) 0%,rgba(140,199,228,1) 100%)
							background -o-linear-gradient(top,  rgba(171,214,236,1) 0%,rgba(140,199,228,1) 100%)
							background -ms-linear-gradient(top,  rgba(171,214,236,1) 0%,rgba(140,199,228,1) 100%)
							background linear-gradient(to bottom,  rgba(171,214,236,1) 0%,rgba(140,199,228,1) 100%)
							&:hover, &.active
								box-shadow  0 0 10px 0 rgba(0, 0, 0, .2)

						&.verde
							background rgb(110,225,229)
							background -moz-linear-gradient(top,  rgba(110,225,229,1) 0%, rgba(64,208,216,1) 100%)
							background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,225,229,1)), color-stop(100%,rgba(64,208,216,1)))
							background -webkit-linear-gradient(top,  rgba(110,225,229,1) 0%,rgba(64,208,216,1) 100%)
							background -o-linear-gradient(top,  rgba(110,225,229,1) 0%,rgba(64,208,216,1) 100%)
							background -ms-linear-gradient(top,  rgba(110,225,229,1) 0%,rgba(64,208,216,1) 100%)
							background linear-gradient(to bottom,  rgba(110,225,229,1) 0%,rgba(64,208,216,1) 100%)
							&:hover, &.active
								box-shadow  0 0 10px 0 rgba(0, 0, 0, .2)

						figure, p
							display inline-block
							vertical-align middle

						figure
							background none
							border 2px solid #FFF
							border-radius 25px
							color #FFF
							font-family tnormal
							font-size 1.5em
							font-weight 400
							line-height 1em
							text-align center
							padding 5px
							width 22px

						p
							color #FFF
							font-family tnormal
							font-size 1em
							font-weight 400
							line-height 1.2em
							margin 0 0 0 5px
							text-align left
							width 95px

							span
								display block
								text-transform uppercase

			div.contTabsIngreso
				display block
				margin 0 0 40px

				.contents
					display block

					ul
						display block
						list-style none
						margin 20px 0 0

						li
							color #505050
							display block
							vertical-align top
							margin 10px 0
							text-align left
							font-family tnormal
							font-size 1em
							font-weight 400
							line-height 1.2em
							margin 10px 50px
							padding 10px 0
							border-bottom 1px solid #c2c2c2
							position relative


							&.invitaciones

								&:before
									background url("../images/mimundowinny/sprite-mimundowinny.png") -2px -696px;
									content ""
									position absolute
									height 34px
									left -45px
									top 10px
									width 28px


							&.videoconf

								&:before
									background url("../images/mimundowinny/sprite-mimundowinny.png") -37px -697px;
									content ""
									position absolute
									height 33px
									left -45px
									top 0
									width 34px

							&.muestrasGratis

								&:before
									background url("../images/mimundowinny/sprite-mimundowinny.png") -74px -697px;
									content ""
									position absolute
									height 32px
									left -45px
									top 0
									width 36px

							span
								color #06437e
								font-family tbold
								font-weight 400

		article.contIngresoRight
			width 365px
			background #054d8c
			border-radius 15px
			min-height 360px
			margin 0 0 50px
			padding 10px

			.olvidePass02
				display none

			.ingreso01, .olvidePass02

				h2.tituloFormIngreso
					color #FFF
					display block
					font-family tbold
					font-size 2em
					font-weight 400
					margin 20px 0 0
					text-align center

				p.parraFormIngreso
					color #79c4cf
					display block
					font-family tnormal
					font-size 1.2em
					font-weight 400
					margin 0 0 20px
					text-align center

				a.btn-large
					padding .5em 5em !important

				a.olvidePass
					color #FFF
					display block
					font-family tnormal
					font-size 1em
					font-weight 400
					margin 20px 0 20px
					text-align center
					&:hover
						 text-decoration underline

				.contentLabel
					display inline-block
					vertical-align top
					text-align center

					label, input, select
						display inline-block
						vertical-align top
						margin 5px 10px

					label
						color #FFF
						font-family tnormal
						font-size 1em
						font-weight 400
						text-align left
						margin 10px 0 0
						width 90px

					select
						width 200px
						border-radius 5px

					input
						width 190px
						border-radius 5px

section.mwslider
	display block
	margin 0 auto
	position relative
	width 1024px

	&.miPerfil
		width 600px !important

	a.next
		background url("../images/mimundowinny/sprite-mimundowinny.png") -184px -346px
		display block
		position absolute
		height 63px
		right -60px
		top 50%
		width 35px
		&:hover
			background: url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat -223px -346px

	a.prev
		background url("../images/mimundowinny/sprite-mimundowinny.png") -304px -346px
		display block
		position absolute
		height 63px
		left -60px
		top 50%
		width 35px
		&:hover
			background: url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat -265px -346px


	.internasMiPerfil
		width 600px !important

	section.mwcontetnSlider
		display block
		margin 0 auto
		overflow-x auto
		position relative
		width 1020px


		ul
			display block
			white-space nowrap
			margin 20px 0

			li
				display inline-block
				max-width 385px
				min-width 180px
				margin 0 10px
				vertical-align top
				width auto

				a.pequeno, a.grande
					display block
					background #eff7f5
					border-radius 10px
					overflow hidden
					cursor pointer

					h2.seccionesPrin
						color #FFF
						display block
						text-align center
						margin 0 auto
						font-family tbold
						font-size 1.3em
						font-weight 400
						line-height 1.2em

					div.contentLogo
						background rgba(0, 0, 0, 0)
						border-radius 70px
						padding 20px
						margin 20% auto 10px
						width 75px
						height 75px
						text-align center
						transition all .5s

						figure.logoGrande
							background url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat
							display block
							height 74px
							margin 0 auto
							width 65px
							opacity .8

					&:hover
						div.contentLogo
							background rgba(0, 0, 0, .20)
							figure.logoGrande
								opacity 1

				a.pequeno
					background #CCC
					height 240px
					width 180px

				a.grande
					background #CCC
					height 240px
					width 385px

				a.zodiaco
					background rgb(255,190,34)
					background -moz-linear-gradient(top,  rgba(255,190,34,1) 0%, rgba(255,138,18,1) 100%)
					background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,190,34,1)), color-stop(100%,rgba(255,138,18,1)))
					background -webkit-linear-gradient(top,  rgba(255,190,34,1) 0%,rgba(255,138,18,1) 100%)
					background -o-linear-gradient(top,  rgba(255,190,34,1) 0%,rgba(255,138,18,1) 100%)
					background -ms-linear-gradient(top,  rgba(255,190,34,1) 0%,rgba(255,138,18,1) 100%)
					background linear-gradient(to bottom,  rgba(255,190,34,1) 0%,rgba(255,138,18,1) 100%)
					border-bottom 5px solid #ca7e12
					text-align center
					div.contentLogo
						figure.logoGrande
							background url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat  -88px -419px
							height 69px
							width 73px

				a.nombres
					background rgb(165,212,235)
					background -moz-linear-gradient(top,  rgba(165,212,235,1) 0%, rgba(102,180,221,1) 100%)
					background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(165,212,235,1)), color-stop(100%,rgba(102,180,221,1)))
					background -webkit-linear-gradient(top,  rgba(165,212,235,1) 0%,rgba(102,180,221,1) 100%)
					background -o-linear-gradient(top,  rgba(165,212,235,1) 0%,rgba(102,180,221,1) 100%)
					background -ms-linear-gradient(top,  rgba(165,212,235,1) 0%,rgba(102,180,221,1) 100%)
					background linear-gradient(to bottom,  rgba(165,212,235,1) 0%,rgba(102,180,221,1) 100%)
					border-bottom 5px solid #5b9dbf
					text-align center
					div.contentLogo
						figure.logoGrande
							background url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat  -182px -418px
							height 65px
							width 67px

				a.postales
					background rgb(73,220,227)
					background -moz-linear-gradient(top,  rgba(73,220,227,1) 0%, rgba(41,196,208,1) 100%)
					background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,220,227,1)), color-stop(100%,rgba(41,196,208,1)))
					background -webkit-linear-gradient(top,  rgba(73,220,227,1) 0%,rgba(41,196,208,1) 100%)
					background -o-linear-gradient(top,  rgba(73,220,227,1) 0%,rgba(41,196,208,1) 100%)
					background -ms-linear-gradient(top,  rgba(73,220,227,1) 0%,rgba(41,196,208,1) 100%)
					background linear-gradient(to bottom,  rgba(73,220,227,1) 0%,rgba(41,196,208,1) 100%)
					border-bottom 5px solid #218f99
					text-align center
					div.contentLogo
						figure.logoGrande
							background url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat  -3px -417px
							height 74px
							width 65px

				a.panales
					background rgb(248,190,202)
					background -moz-linear-gradient(top,  rgba(248,190,202,1) 0%, rgba(242,141,161,1) 100%)
					background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,190,202,1)), color-stop(100%,rgba(242,141,161,1)))
					background -webkit-linear-gradient(top,  rgba(248,190,202,1) 0%,rgba(242,141,161,1) 100%)
					background -o-linear-gradient(top,  rgba(248,190,202,1) 0%,rgba(242,141,161,1) 100%)
					background -ms-linear-gradient(top,  rgba(248,190,202,1) 0%,rgba(242,141,161,1) 100%)
					background linear-gradient(to bottom,  rgba(248,190,202,1) 0%,rgba(242,141,161,1) 100%)
					border-bottom 5px solid #c27786
					text-align center
					div.contentLogo
						figure.logoGrande
							background url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat  -280px -419px
							height 74px
							width 39px

				a.eventos
					background #e6f3fc
					border-bottom 5px solid #88a2b5
					position relative

					section.contenidoHover
						background #004888
						border-radius 10px
						box-shadow inset 0 0 10px 10px rgba(0, 0, 0, .1)
						display block
						padding 10px
						position absolute
						width 160px
						height 220px
						opacity 0
						transition all .3s
						top 240px
						left 0
						z-index 900

						h3.subtitulo
							color #FFF
							font-family tnormal
							font-size 1.1em
							font-weight 400
							line-height 1.1em
							white-space normal
							text-align left

						h2.titulo
							color #FFF
							font-family tbold
							font-size 1.2em
							font-weight 400
							white-space normal
							line-height 1em
							text-align left

						p.descripcion
							color #FFF
							font-family tnormal
							font-size .9em
							font-weight 400
							line-height 1.1em
							white-space normal
							text-align left
							margin 0 0 20px

					&:hover
						section.contenidoHover
							opacity .95
							top 0
					
					figure.fechaAzul, figure.fechaRoja
						background url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat -55px -345px
						height 61px
						position absolute
						padding 5px
						right 10px
						top 0
						width 43px

						span
							color #FFF
							font-family tnormal
							font-size 1.25em
							font-weight 400
							line-height 1em
							text-align center
							white-space normal
					
					figure.fechaRoja
						background url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat 0 -345px


					figure.imagenPrin
						display block
						width 100%
						height 160px
						overflow hidden
						img
							width 100%
							height 160px

					figure.videoConferencia
						background url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat -111px -346px
						height 53px
						position absolute
						right 70px
						top 120px
						width 53px

					article.informacion
						display block
						padding 10px
						position relative

						figure.flecha
							background url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat -188px 0
							bottom 10px
							height 28px
							position absolute
							right 10px
							width 28px

						h2.nombreEvento
							color #6798bc
							font-family tbold
							font-size 1em
							font-weight 400
							line-height 1.2em
							text-align left
							margin 0
							white-space normal

						p.descripcion
							color #6798bc
							font-family tnormal
							font-size .9em
							font-weight 400
							line-height 1.2em
							text-align left
							white-space normal
							margin 5px 0 5px

				a.actividadesPrincipales
					background #e6f3fc
					border-bottom 5px solid #c2c2c2
					position relative

					section.contenidoHover
						background #004888
						border-radius 10px
						box-shadow inset 0 0 10px 10px rgba(0, 0, 0, .1)
						display block
						padding 10px
						position absolute
						width 365px
						height 220px
						opacity 0
						transition all .3s
						top 240px
						left 0
						z-index 900

						h3.subtitulo
							color #FFF
							font-family tnormal
							font-size 1.1em
							font-weight 400
							line-height 1.1em
							white-space normal
							text-align left

						h2.titulo
							color #FFF
							font-family tbold
							font-size 1.2em
							font-weight 400
							white-space normal
							line-height 1em
							text-align left

						p.descripcion
							color #FFF
							font-family tnormal
							font-size .9em
							font-weight 400
							line-height 1.1em
							white-space normal
							text-align left
							margin 0 0 20px

					&:hover
						section.contenidoHover
							opacity .95
							top 0

					figure.cinta
						display block
						position absolute
						background url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat -2px -502px
						height 87px
						width 87px
						top -5px
						left -5px
						z-index 900

					figure.imagen
						height 240px
						overflow hidden
						width 385px

						img
							display block
							width 385px
							height auto

/*PERFIL PDF PARA IMPRIMIR ********************/

section.perfil-pdf-imprimir
	display block
	margin 10px auto 0
	width 1000px

	div.contenidos
		display block
		margin 0 auto
		width 840px

		div.top
			background url("../images/mimundowinny/sprite-mimundowinny.png") -2px -815px
			display inline-block
			height 255px
			position relative
			vertical-align top
			width 272px
			&:before
				background url("../images/mimundowinny/sprite-mimundowinny.png") -233px -761px
				bottom -50px
				content ""
				height 50px
				left -20px
				position absolute
				width 50px
		article.text
			display inline-block
			text-align center
			position relative
			vertical-align top
			width 560px
			&:after
				background url("../images/mimundowinny/sprite-mimundowinny.png") -69px -595px
				content ""
				height 98px
				position absolute
				right -60px
				top 30px
				width 79px
			h2
				color #79c4cf
				font-family tbold
				font-size 1.8em
				line-height 1.1em
				margin 80px 0 0
				span
					color azul_i
			hr
				border-top 2px dotted azul_i
				display block
				margin 20px 20px
				height 0
		
		h3.titulo
			display block
			font-family tbold
			font-size 2em
			line-height 1.5em
			margin 40px 0 20px
		h4.subtitulo
			color #79c4cf
			display block
			font-family tnormal
			font-size 1.6em
			line-height 1.5em
			text-align left
			margin 30px 0 0
		table
			width 800px
			margin 0 0 20px 0
			tr
				&.title
					td
						color azul_i
						font-family tbold
						font-size 1em
						padding 15px 10px 2px 10px
				&.content
					td
						color gris_c
						padding 2px 10px 2px 10px
						width 200px
						font-family tnormal
						font-size 1.2em
						border-bottom 1px solid #e9e9e9
						border-left 1px solid #e9e9e9

		div.foot-calendar-pdf
			display block
			text-align center
			margin 140px 0 0

			figure.logo-pie
				background url("../images/foot-error.png") no-repeat -2px -151px
				display inline-block
				height 112px
				width 330px
				vertical-align top

			article.info-tel
				display inline-block
				vertical-align top
				width 500px
				h3
					color #8fc9e6
					font-family tnormal
					font-size 1.5em
					line-height 1.2em
					margin 0
					position relative
					&:before
						background url("../images/sprite_internas.png") no-repeat -210px -324px
						content ""
						display block
						height 52px
						position absolute
						top 3px
						left 50px
						width 56px
				h4
					font-family tbold
					color azul_i
					font-size 2.2em
					line-height 1.2em
					margin 0
					position relative
					&:after
						background url("../images/mimundowinny/sprite-mimundowinny.png") no-repeat -3px -593px
						content ""
						display block
						height 54px
						position absolute
						top -40px
						right 30px
						width 59px
				p
					color gris_c
					font-family tnormal
					font-size 1em
					text-align center
