//IMPORTACION DE LAS FUENTES

@font-face
	font-family 'VAGRounded-BT'
	src url("fonts/VAGRounded-BT/10915-webfont.eot")
	src url("fonts/VAGRounded-BT/10915-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/VAGRounded-BT/10915-webfont.woff") format('woff'), url("fonts/VAGRounded-BT/10915-webfont.ttf") format('truetype'), url("fonts/VAGRounded-BT/10915-webfont.svg#vagrounded_btregular") format('svg')
	font-weight 400
	font-style normal
@font-face
	font-family 'VAGRounded-LT'
	src url("fonts/VAGRounded-LT/VAGRounded-Light.eot")
	src url("fonts/VAGRounded-LT/VAGRounded-Light.eot?#iefix") format('embedded-opentype'), url("fonts/VAGRounded-LT/VAGRounded-Light.woff") format('woff'), url("fonts/VAGRounded-LT/VAGRounded-Light.ttf") format('truetype'), url("fonts/VAGRounded-LT/VAGRounded-Light.svg#vagrounded_btregular") format('svg')
	font-weight 400
	font-style normal

transition()
	-webkit-transition arguments
	-moz-transition arguments
	transition arguments

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

linear-gradient()
    -webkit-linear-gradient(arguments)
	-moz-linear-gradient(arguments)
	linear-gradient(arguments)
	
support-for-ie ?= true

opacity(n)
	opacity n
	if support-for-ie
		filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

tbold = VAGRounded-BT, sans-serif !important
tnormal = VAGRounded-LT, sans-serif !important

azul = #0096d9
azul_i = #06437e
gris_c = #969696
gris_o = #5a5a5a

.mt_10
	margin-top 10px !important
.mt_20
	margin-top 20px !important
.mt_30
	margin-top 30px !important
.mt_40
	margin-top 40px !important
.mt_50
	margin-top 50px !important
.ml_10
	margin-left 10px !important
.ml_20
	margin-left 20px !important
.ml_30
	margin-left 30px !important
.ml_40
	margin-left 40px !important
.ml_50
	margin-left 50px !important
.mr_10
	margin-right 10px !important
.mr_20
	margin-right 20px !important
.mr_30
	margin-right 30px !important
.mr_40
	margin-right 40px !important
.mr_50
	margin-right 50px !important
.mnl_01
	margin-left -1px !important
.mnl_02
	margin-left -2px !important
.mnl_03
	margin-left -3px !important
.mnl_04
	margin-left -4px !important
.mnl_05
	margin-left -5px !important

/* ESTILOS GENERALES PARA LOS INPUT, SELET Y CHECKBOX ************************************************************************************/

h1, h2, h3, h4, h5, h6
	text-align center
	font-weight 400

a, p, span
	font-weight 400

a
	outline 0
	text-decoration none

	&:active, &:focus, &:hover
		text-decoration none

input, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
	color #999999
	display inline-block
	font-size .9em
	height 20px
	line-height 20px
	margin-bottom 10px !important
	padding 4px 6px
	vertical-align middle
	box-shadow inset 0 0 10px -2px rgba(0, 0, 0, 0.1)
	outline none

select
	font-size .9em
	height 30px
	line-height 20px
	box-shadow inset 0 0 10px -2px rgba(0, 0, 0, 0.1)

input[type="file"]
	font-size .8em !important
	height 21px
	line-height 20px
	box-shadow inset 0 0 10px -2px rgba(0, 0, 0, 0.1)

select
	background-color #FFFFFF
	border 1px solid #CCCCCC
	width 135px
	border-radius 5px

input
	background-color #FFFFFF
	border 1px solid #CCCCCC
	width 120px
	border-radius 10px

input:focus, select:focus
	border 1px solid #cce8f7
	box-shadow 0 1px 4px rgba(0,105,214,0.5)
	outline 0 !important

.checkbox
	width 20px
	margin 0 auto
	position relative

.checkbox input[type=checkbox]:checked + label:after
	opacity 1

button.line
	display inline-block !important
	margin 10px 5px 0

/* END OFF ESTILOS GENERALES PARA LOS INPUT Y LOS SELEY */
