#sem-sem-menu
    background url(../images/productos/bg-sem-sem-menu.jpg) no-repeat
    height 39px
    margin auto
    width 952px

    div
        display inline-block
        font-weight bold
        margin-top 6px

    #prod-winny-btn
        font-family tbold
        font-weight 400
        font-size 1em
        line-height 1.6em
        background url(../images/productos/prod-winny-bt.png) no-repeat
        color #FFF
        display inline-block
        height 22px
        text-align center
        text-transform uppercase
        width 168px

    .message
        font-family tbold
        font-weight 400
        font-size 1.2em
        width 570px
        margin-right 20px
        text-align center

    #click-aqui-btn
        font-family tnormal
        font-weight 100
        background url(../images/productos/click-aqui-btn.png) -1px -2px no-repeat
        color #FFF
        cursor pointer
        display inline-block
        height 20px
        text-align center
        text-transform uppercase
        width 114px
        font-size .8em
        line-height 1.6em

    #click-aqui-btnhover
        background url(../images/productos/click-aqui-btn.png) -1px -23px no-repeat

#main-content
    min-height 534px
    margin-top 150px

    .video
        margin 320px 0 0 740px
        margin-top 250px
        position absolute
        width 250px

    figure.nube
        background url(../images/productos/panales/sensitive/back_nube_title.png) no-repeat 0 0
        margin 30px 0 0 22px
        position absolute
        width 176px
        height 129px

        p
            font-family tbold
            font-weight 400
            color #004687
            font-size 1.1em
            line-height 1.1em
            padding 40px 0 0
            text-align center

            strong
                font-size 1.2em
                font-weight 400 !important

    .img-franja
        float left
        width 250px
        text-align left
        position absolute
        margin 75px 0 0 44px

    .left-message
        float left
        font-weight bold
        margin-top 80px
        margin-left 50px
        width 250px
        text-align left
        position absolute

        h2
            font-family tbold
            font-weight 400
            color #5fadc4
            line-height 1.2em
            font-size 1.3em
            margin 0

            figure.right
                background url(../images/productos/products-arrows.png) 0 0 no-repeat
                height 11px
                width 11px
                display inline-block

        span
            font-family tnormal
            line-height .9em
            font-size 1em
            font-weight 400

    .right-message
        float right
        font-weight bold
        margin 150px 0 0 800px
        width 180px
        text-align left
        position absolute

        h2
            font-family tbold
            font-weight 400
            color #5fadc4
            line-height 1.1em
            font-size 1.4em
            margin 5px 0

            figure.left
                background url(../images/productos/products-arrows.png) -38px 0 no-repeat
                height 11px
                width 11px
                display inline-block
                margin-right 5px

        span
            line-height 12px
            font-size 13px
            font-weight lighter

.product-info
    float left
    min-height 494px
    max-width 979px
    position relative
    display none
    width 979px

    .footer-prod
        float left
        font-weight bold
        margin-top 200px
        width 190px
        text-align left
        position absolute
        bottom 0
        margin-left 50px

        span
            display block

        .text-2
            color #6f6f6f
            font-weight lighter
            font-size .8em

    .ref-point
        background url("../images/productos/plus-circlu-bt.png") no-repeat scroll 0 0 transparent
        cursor pointer
        float left
        height 41px
        position absolute
        right 0
        width 39px

    .ref-point-toallitas
        background url("../images/productos/plus-circlu-bt.png") no-repeat scroll 0 0 transparent
        cursor pointer
        float left
        height 41px
        position absolute
        right 0
        width 39px
        z-index 50

    .product-properties
        float left
        display none
        position absolute
        z-index 20
        cursor pointer

    .product-properties-ifo-tapa
        float left
        position absolute
        z-index 20
        left 740px
        top 85px

    .left-message

        h3
            font-family tbold
            font-weight 400
            color #4da7e0
            line-height 17px
            font-size 1.3em
            margin 0
            padding 0

        ul
            padding 0
            margin 0

            li
                list-style-image url(../images/productos/bullet-aqua.png)
                color #6f6f6f
                font-size 1em
                font-family Verdana

#winny-sensitive-cintura-00, #winny-sensitive-cintura-01
    background url(../images/productos/panales/sensitive/flecha-cintura.png) no-repeat left top
    width 250px
    padding 0 0 0 340px
    text-align left
    left 373px
    top 119px
    height 50px
    text-transform uppercase
    font-weight 700

    h3
        font-family tbold
        font-weight 400
        font-size 1.3em
        color #63b2e5
        margin 30px 0 0
        line-height 1.3em
        text-align left

    p
        font-family tnormal
        font-weight 400
        font-size 1em
        color #63b2e5
        margin 0 0
        line-height 1em
        text-align left

#winny-sensitive-cubierta-00, #winny-sensitive-cubierta-01
    background url(../images/productos/panales/sensitive/hover_bullets.png) no-repeat right top
    font-weight 700
    height 50px
    left 73px
    padding 0 70px 0 0
    text-align left
    text-transform uppercase
    top 243px
    width 340px

    figure
        background url(../images/productos/products-arrows.png) no-repeat 0 0
        width 10px
        height 10px
        float right
        margin 20px 0 0

    h3
        font-family tbold
        font-weight 400
        font-size 1.3em
        color #63b2e5
        margin 0 0 0
        line-height 1.3em
        text-align center

    p
        font-family tnormal
        font-weight 400
        font-size 1em
        color #63b2e5
        margin 0 0 0
        line-height 1em
        text-align center

#winny-sensitive-indicador-00, #winny-sensitive-indicador-01
    background url(../images/productos/panales/sensitive/hover_bullets.png) no-repeat right top
    font-weight 700
    height 50px
    left 349px
    padding 0 123px 0 0
    text-align left
    text-transform uppercase
    top 378px
    width 150px

    figure
        background url(../images/productos/products-arrows.png) no-repeat 0 0
        width 10px
        height 10px
        float right
        margin 20px 0 0

    h3
        font-family tbold
        font-weight 400
        font-size 1.3em
        color #63b2e5
        margin 0 0 0
        line-height 1.3em
        text-align center

    p
        font-size 1em
        color #63b2e5
        margin 0 0 0
        line-height 1em
        text-align center

#winny-sec-cintura-etp1, #winny-sec-cintura-etp2, #winny-sec-cintura-etp3, #winny-sec-cintura-etp4, #winny-sec-cintura-etp5
    width 258px
    height 65px
    left 396px
    top 102px

    figure
        background url(../images/productos/panales/sec/cintura-etapa-1.png) no-repeat
        width 258px
        height 70px

#winny-sec-pierna-etp1, #winny-sec-pierna-etp2, #winny-sec-pierna-etp3, #winny-sec-pierna-etp4, #winny-sec-pierna-etp5
    width 345px
    height 112px
    left 638px
    top 118px

    figure
        background url(../images/productos/panales/sec/banda-respirable-etapa-1.png) no-repeat
        float left
        width 117px
        height 112px

#winny-sec-pierna-etp1 h3, #winny-sec-pierna-etp2 h3, #winny-sec-pierna-etp3 h3, #winny-sec-pierna-etp4 h3, #winny-sec-pierna-etp5 h3
    font-family tbold
    font-weight 400
    color #004283
    float left
    font-size 1.3em
    line-height 1em
    margin 25px 0 0 32px
    text-align center

#winny-sec-tiro-etp1, #winny-sec-tiro-etp2, #winny-sec-tiro-etp3, #winny-sec-tiro-etp4, #winny-sec-tiro-etp5
    background url(../images/productos/panales/sec/hover_bullets.png)
    width 44px
    height 44px
    left 658px
    top 253px

    article
        float left
        margin -100px 0 0 120px
        width 200px

        h3
            font-family tbold
            font-weight 400
            font-size 1.2em
            color #004283
            margin 0 0 0
            line-height 1.1em
            text-align left

        p
            font-family tnormal
            font-weight 400
            font-size .9em
            color #989898
            margin 0 0 0
            line-height 1.1em
            text-align left

#winny-sec-entrepierna-etp1, #winny-sec-entrepierna-etp2, #winny-sec-entrepierna-etp3, #winny-sec-entrepierna-etp4, #winny-sec-entrepierna-etp5
    background url(../images/productos/panales/sec/hover_bullets.png)
    width 44px
    height 44px
    left 498px
    top 297px

    article
        float left
        margin -112px 0 0 -400px
        width 200px

        h3
            font-family tbold
            font-weight 400
            font-size 1.2em
            color #004283
            margin 0 0 0
            line-height 1.1em
            text-align left

        p
            font-family tnormal
            font-weight 400
            font-size .9em
            color #989898
            margin 0 0 0
            line-height 1.1em
            text-align left

#winny-sec-sec-ultraabsorbente-etp1, #winny-sec-sec-ultraabsorbente-etp2, #winny-sec-sec-ultraabsorbente-etp3, #winny-sec-sec-ultraabsorbente-etp4, #winny-sec-sec-ultraabsorbente-etp5
    background url(../images/productos/panales/sec/hover_bullets.png)
    width 44px
    height 44px
    left 504px
    top 192px

    article
        float left
        margin -41px 0 0 279px
        width 200px

        h3
            font-family tbold
            font-weight 400
            font-size 1.2em
            color #004283
            margin 0 0 0
            line-height 1.1em
            text-align left

        p
            font-family tnormal
            font-weight 400
            font-size .9em
            color #989898
            margin 0 0 0
            line-height 1.1em
            text-align left

#winny-sec-sec-barreras-etp1, #winny-sec-sec-barreras-etp2, #winny-sec-sec-barreras-etp3, #winny-sec-sec-barreras-etp4, #winny-sec-sec-barreras-etp5
    background url(../images/productos/panales/sec/hover_bullets.png)
    width 44px
    height 44px
    left 449px
    top 228px

    article
        float left
        margin -7px 0 0 -351px
        width 200px
        
        h3
            font-family tbold
            font-weight 400
            font-size 1.2em
            color #004283
            margin 0 0 0
            line-height 1.1em
            text-align left

        p
            font-family tnormal
            font-weight 400
            font-size .9em
            color #989898
            margin 0 0 0
            line-height 1.1em
            text-align left

//CONTENEDOR DE PRODUCTOS*************************************************************

.products-continer
    background url(../images/productos/bg-prod-panal-gold.png) center top no-repeat
    margin 0 auto
    padding 10px 0 0
    width 100%
    overflow hidden
    height 500px

    div
        div.title
            font-family tbold
            font-size 2em
            float left
            font-weight 400
            width 980px
            text-align center
            position absolute
            margin-top 10px

        div.subtitle
            font-family tbold
            color #5fadc4
            font-size 1.3em
            float left
            font-weight 400
            width 980px
            text-align center
            position absolute
            margin-top 40px

        div.menu-etapas-inner
            float left
            font-weight bold
            width 980px
            text-align center
            position absolute
            margin-top 70px

            ul
                li
                    display inline-block
                    line-height 28px
                    height 33px
                    width 37px
                    font-weight bold
                    text-align center

                    a
                        background url(../images/productos/bg-etapas-menu-inner.png) -3px 0 no-repeat
                        font-weight 100
                        color #92aecf
                        cursor pointer
                        display block
                        height 33px
                        width 37px

                li.etapa02

                    a:hover, a.selected
                        background url(../images/productos/bg-etapas-menu-inner.png) -3px -34px no-repeat
                        color #FFF !important

                li.etapa03

                    a:hover, a.selected
                        background url(../images/productos/bg-etapas-menu-inner.png) -41px -34px no-repeat
                        color #FFF !important

                li.etapa04

                    a:hover, a.selected
                        background url(../images/productos/bg-etapas-menu-inner.png) -78px -34px no-repeat
                        color #FFF !important

                li.etapa05

                    a:hover, a.selected
                        background url(../images/productos/bg-etapas-menu-inner.png) -117px -34px no-repeat
                        color #FFF !important

                li.etapa06

                    a:hover, a.selected
                        background url(../images/productos/bg-etapas-menu-inner.png) -154px -34px no-repeat
                        color #FFF !important

                li.first
                    width auto !important

.products-continer-sec
    background url(../images/productos/bg-prod-panal-sec.jpg) center top no-repeat
    margin 0 auto
    padding 10px 0 0
    width 100%
    overflow hidden
    height 500px

    div
        div.title
            font-family tbold
            font-size 2em
            float left
            font-weight 400
            width 980px
            text-align center
            position absolute
            margin-top 0

        div.subtitle
            font-family tbold
            color #5fadc4
            font-size 1.6em
            float left
            font-weight 400
            width 980px
            text-align center
            position absolute
            margin 30px 0 0

        div.menu-etapas-inner
            float left
            font-weight bold
            width 980px
            text-align center
            position absolute
            margin-top 65px

            ul
                li
                    display inline-block
                    line-height 28px
                    height 33px
                    width 37px
                    font-weight bold
                    text-align center

                    a
                        background url(../images/productos/bg-etapas-menu-inner.png) -3px 0 no-repeat
                        font-weight 100
                        color #92aecf
                        cursor pointer
                        display block
                        height 33px
                        width 37px
                
                li.etapa01

                    a:hover, a.selected
                        background url(../images/productos/bg-etapas-menu-inner.png) -3px -34px no-repeat
                        color #FFF !important

                li.etapa02

                    a:hover, a.selected
                        background url(../images/productos/bg-etapas-menu-inner.png) -41px -34px no-repeat
                        color #FFF !important

                li.etapa03

                    a:hover, a.selected
                        background url(../images/productos/bg-etapas-menu-inner.png) -78px -34px no-repeat
                        color #FFF !important

                li.etapa04

                    a:hover, a.selected
                        background url(../images/productos/bg-etapas-menu-inner.png) -117px -34px no-repeat
                        color #FFF !important

                li.etapa05

                    a:hover, a.selected
                        background url(../images/productos/bg-etapas-menu-inner.png) -154px -34px no-repeat
                        color #FFF !important

                li.first
                    width auto !important

div.menu-select-etapas
    text-align center
    display block
    margin 0 auto

    ul
        li
            display inline-block
            line-height 28px
            height 33px
            width 37px
            font-weight bold
            text-align center

            a
                background url(../images/productos/bg-etapas-menu-inner.png) -3px 0 no-repeat
                font-weight 100
                color #92aecf
                cursor pointer
                display block
                height 33px
                width 37px

        li.first
            width auto !important

        li.etapa00
            
            a:hover, a.selected
                background url(../images/productos/bg-etapas-menu-inner.png) -41px 0 no-repeat
                color #FFF !important

        li.etapa01
            
            a:hover, a.selected
                background url(../images/productos/bg-etapas-menu-inner.png) -78px 0 no-repeat
                color #FFF !important

        li.etapa02
            
            a:hover, a.selected
                background url(../images/productos/bg-etapas-menu-inner.png) -3px -34px no-repeat
                color #FFF !important

        li.etapa03
            
            a:hover, a.selected
                background url(../images/productos/bg-etapas-menu-inner.png) -41px -34px no-repeat
                color #FFF !important

        li.etapa04
            
            a:hover, a.selected
                background url(../images/productos/bg-etapas-menu-inner.png) -78px -34px no-repeat
                color #FFF !important

        li.etapa05
            
            a:hover, a.selected
                background url(../images/productos/bg-etapas-menu-inner.png) -117px -34px no-repeat
                color #FFF !important

        li.etapa06
            
            a:hover, a.selected
                background url(../images/productos/bg-etapas-menu-inner.png) -154px -34px no-repeat
                color #FFF !important

        li.etapa_sec01
            a:hover, a.selected
                background url(../images/productos/bg-etapas-menu-inner.png) -3px -67px no-repeat
                color #FFF !important

        li.etapa_sec02
            a:hover, a.selected
                background url(../images/productos/bg-etapas-menu-inner.png) -41px -67px no-repeat
                color #FFF !important

        li.etapa_sec03
            a:hover, a.selected
                background url(../images/productos/bg-etapas-menu-inner.png) -78px -67px no-repeat
                color #FFF !important

        li.etapa_sec04
            a:hover, a.selected
                background url(../images/productos/bg-etapas-menu-inner.png) -117px -67px no-repeat
                color #FFF !important

        li.etapa_sec05
            a:hover, a.selected
                background url(../images/productos/bg-etapas-menu-inner.png) -155px -67px no-repeat
                color #FFF !important

.content-block
    width 1024px
    margin 0 auto
    text-align center

    div
        h1
            color #054783
            font-family tbold
            font-weight 400
            font-size 1.8em
            line-height 1.1em
            text-align left
            margin 15px 0 10px


    .comments-block
        width 645px
        display inline-block
        margin-right 10px
        vertical-align top
        text-align left

        .comments-form
            margin-top 40px

            .form-field
                margin-bottom 10px
                color #6b6b6b
                font-weight bold

            input
                border 1px solid #CCC
                border-radius 5px
                font-size .9em
                padding-left 10px
                padding-right 10px
                height 30px
                line-height 28px
                color #CCC
                width 295px

            textarea
                border 1px solid #CCC
                border-radius 5px
                height 130px
                font-size .9em
                width 97%
                color #CCC

    .right-block
        width 319px
        display inline-block
        vertical-align top

        .cont-tabs-panel
            border-radius 8px
            background #cae3f6
            min-height 500px
            width 307px
            float right
            padding 0

            h1
                color #054783
                font-family tbold
                font-weight 400
                font-size 1.3em
                line-height 1.2em
                padding 0 10px
                text-align center
                margin 10px 0

            h2
                color #054783
                font-family tnormal
                font-size 1em
                font-weight 400
                line-height 14px
                color #6db9c5
                padding 0 10px
                text-align center
                margin 10px 0

        .cont-tabs-panel-sec
            border-radius 8px
            background #FAEDCF
            min-height 500px
            width 307px
            float right
            padding 0 0 10px 0

            h1
                color #054783
                font-family tbold
                font-weight 400
                font-size 1.3em
                line-height 1.2em
                padding 0 10px
                text-align center
                margin 10px 0

            h2
                font-family tnormal
                font-size 1em
                font-weight 400
                line-height 1.3em
                color #6db9c5
                padding 0 10px

.title-aguam
    color #6db9c5

.user-comments
    margin-top 25px

label.comentario
    font-size 1em
    font-weight 700
    color #6b6b6b

.comment-item

    .user-name
        font-family Verdana
        color #054884
        font-weight bold
        margin-left 15px
        height 26px
        margin-top 25px
        vertical-align middle

        .comment-date
            text-align right
            color #636363
            font-weight lighter
            font-size .7em
            float right

    .user-comentary
        background url(../images/productos/white-down-arrow.png) 20px -1px no-repeat #f0f0f0
        font-size .8em
        color #636363
        border-radius 7px
        padding 12px


.blue-block-100-perc
    background #eef7fd
    height 370px
    max-height 360px
    overflow hidden
    width 100%
    margin 40px 0 20px

#peso-etapa-tab-container

    .etabs
        margin 0
        padding 0

    .tab
        display inline-block
        *display inline
        background url(../images/productos/bg-peso-etapa-tab-blue.png)
        border 0
        border-bottom none
        margin-right 0
        border-radius 5px 5px 0 0
        height 35px

        a
            font-family tnormal
            font-weight 400
            font-size 1em
            line-height 2em
            display block
            padding 5px 10px 0
            outline none
            color #FFF
            text-align center
            &:hover
                text-decoration none
                color #054884
            &.active
                font-family tbold
                font-weight 400
                color #054884
                p
                    color #054884 !important

            p
                color #FFF !important
                &:hover
                    text-decoration none
                    color #054884


    .etapas
        width 117px

    .bebes
        width 165px

    .tab.active
        background #fff
        color #054884
        padding-top 6px
        position relative
        top 1px
        border-color #666


    .tab-container

        .panel-container
            background #fff
            border solid #666 1px
            padding 10px
            border-radius 0 4px 4px 4px

    .contenidos
        background #FFF
        border-radius 0 0 5px 5px
        padding 10px
        width 267px
        margin 0 auto
        height 320px
        min-height 320px
        max-height 320px

        .text1
            text-align center
            color #ababab

        figure.prod
            width 180px
            height auto
            text-align center
            margin 10px auto

            img
                width 180px
                height auto

        h3
            text-align center
            font-size 1.1em
            margin 0 0
            padding 0 0
            line-height 1.1em

        p.text2
            text-align center
            color #6db9c5
            margin .5em 0
            font-size .8em
            line-height 1.1em

        ul.presentaciones_pan
            border 0
            border-collapse collapse
            margin 0
            padding 0
            width 267px

            li
                border 0
                border-collapse collapse
                border-spacing 0 !important
                display inline-block
                list-style none
                margin 0 0 !important
                text-align center

                a
                    background url(../images/productos/presentaciones_pan.jpg) repeat-x 0 0
                    display block
                    padding 10px 10px
                    height 25px
                    width auto

                    &:hover, &:active, &.active
                        background url(../images/productos/presentaciones_pan.jpg) repeat-x 0 -51px
                        text-decoration none

                h3
                    font-family tbold
                    font-weight 400
                    color #054884
                    font-size 1.2em
                    line-height 1em

                p
                    font-family tnormal
                    color #054884
                    font-size .8em
                    line-height 1.1em

        p.seleccion
            color #989898
            font-size .9em
            line-height 1.2em
            margin 10px 0

        article
            background #6db9c5
            border-radius 15px
            padding 7px

            h4
                font-family tbold
                color #FFF
                font-size 1.4em
                font-weight 400
                line-height 1em
                margin 0

#presentacion_etapa0
    display block

#presentacion_etapa2
    display block

#presentacion_etapa1, #presentacion_etapa3, #presentacion_etapa4, #presentacion_etapa5, #presentacion_etapa6, #presentacion_etapa7
    display none

.right-block

    .fb-block
        margin-top 20px
        border-radius 8px
        background #e8e8e8
        min-height 192px
        width 307px
        float right

        .fb-message
            font-family tbold
            text-align center
            width 250px
            color #4f8fcd
            margin auto
            margin-top 30px
            text-transform uppercase
            font-weight 400

#otros_temas .bx-wrapper .bx-prev, #otros_temas .bx-wrapper .bx-next
    width 45px
    height 43px

#otros_temas .bx-wrapper .bx-prev
    left 0
    top -50px
    background url(../images/sprite_arrow.png) no-repeat 0 -45px

#otros_temas .bx-wrapper .bx-next
    right 0
    top -50px
    background url(../images/sprite_arrow.png) no-repeat 0 0

#otros_temas .bx-wrapper .bx-prevhover
    background-position -45px -45px

#otros_temas .bx-wrapper .bx-nexthover
    background-position -45px 0

#peso-tab .bx-wrapper .bx-prev, #peso-tab .bx-wrapper .bx-next
    width 26px
    height 26px

#peso-tab .bx-wrapper .bx-prev
    left 5px
    top 55px
    background url(../images/sprite_arrow.png) no-repeat -4px -114px

#peso-tab .bx-wrapper .bx-next
    right 5px
    top 55px
    background url(../images/sprite_arrow.png) no-repeat -4px -87px

#peso-tab .bx-wrapper .bx-prevhover
    background-position -32px -114px

#peso-tab .bx-wrapper .bx-nexthover
    background-position -32px -87px

#otros_productos_content
    display none

    ul
        display block
        margin 0 auto
        padding 0 20px
        width 1024px

        li
            background #FFF
            display inline-block
            margin 20px 0
            padding 0 10px
            width 300px
            text-align center
            vertical-align top

            article.cnt_text
                height 205px
                overflow hidden

            figure.prod
                width 180px
                height auto
                margin 0 auto

                img
                    width 180px
                    height auto
                    margin 0 auto

            h3
                font-family tbold
                font-weight 400
                text-align center
                font-size 1.3em
                margin 0 0
                padding 0 0
                line-height 1.1em

            h4
                font-family tbold
                font-weight 400
                text-align center
                font-size 1.3em
                margin 0 0 .5em
                padding 0 0
                line-height 1em
                color #6db9c5

            p
                font-family tnormal
                font-weight 400
                text-align center
                color #949494
                margin .5em 0
                font-size .9em
                line-height 1.1em

        li.border_lf
            border-left 1px dotted #c6c6c6

.content_models
    float left
    display block
    position relative
    text-align center
    width 400px
    margin 450px 0 0 300px

    ul.modelos
        display block
        width 400px
        margin 0
        padding 0

        li
            display inline-block
            list-style none
            padding 0 5px
            vertical-align top

            p.txt_modelos
                font-size 1.2em
                font-weight 300
                line-height 1em

            div.disenos_panales
                display block
                width 19px
                height 19px
                border-radius 10px
                background #b5c978
                cursor pointer

            div.disenos_panaleshover
                background #FFF
                border 4px solid #aed3e3
                width 11px
                height 11px

.disenos_panales
    display block
    font-size .9em
    line-height 1.4
    opacity 1
    position relative
    visibility visible
    z-index 1030


#bfade-home-panales

    ul.bjqs
        position relative
        list-style none
        padding 0
        margin 0
        overflow hidden
        display none
        width 100%
        min-width 1024px !important

        li
            width 100%
            height 470px !important
            max-width 1300px
            min-width 1024px !important
            text-align left

            article
                display block
                margin 150px 0 0 20%
                height 200px
                width 380px

                .a_marina
                    color #7ecdd8

                .a_oscuro
                    color #054884

                .blue
                    color #5281c0

                .soft_blue
                    color #4dace4

                p.paraf_banner
                    font-size 2.2em
                    font-family tbold
                    letter-spacing 0
                    line-height 1em

                p.paraf_banner_l
                    font-family tnormal
                    font-size 1.8em
                    font-weight 300
                    letter-spacing 0
                    line-height .9em

        li.bjqs-slide
            position absolute
            display none
            width 100%
            min-width 1024px !important

    ul.bjqs-controls
        list-style none
        margin -220px auto 0
        padding 0
        z-index 900
        width 1024px !important
        position relative

    ul.bjqs-controls.v-centered

        li
            width 1024px !important
            margin 0 auto

            a
                position absolute

        li.bjqs-next

            a
                right 10px
                font-size 0 !important
                width 35px
                height 63px
                background url(../images/s01_home.png) -369px -4px
                
                &:hover
                    right 10px
                    font-size 0 !important
                    width 35px
                    height 63px
                    background url(../images/s01_home.png)  -406px -4px

        li.bjqs-prev

            a
                left 10px
                font-size 0 !important
                width 35px
                height 63px
                background url(../images/s01_home.png) -485px -4px
                
                &:hover
                    left 10px
                    font-size 0 !important
                    width 35px
                    height 63px
                    background url(../images/s01_home.png)  -450px -4px

    ol.bjqs-markers
        list-style none
        padding 0
        margin 0
        width 100%

        li
            display inline

            a
                display inline-block

    ol.bjqs-markers.h-centered
        text-align center

        li
            a
                display inline-block

    p.bjqs-caption
        display block
        width 96%
        margin 0
        padding 2%
        position absolute
        bottom 0

    .bjqs

        li

            article

                .slider-title
                    font-family tbold
                    font-size 1.8em
                    font-weight 400
                    line-height 1.2em

                .slider-title-28
                    font-family tbold
                    font-size 2em
                    font-weight 400
                    line-height 1.2em

                .slider-medium-title
                    font-family tbold
                    font-weight 400
                    font-size 2.1em
                    line-height 1.2em

                .slider-big-title
                    font-family tbold
                    font-size 2.5em
                    font-weight 400
                    line-height 1.2em

                .text
                    font-family tnormal
                    padding-top 15px
                    font-size 1.2em
                    font-weight 400

                .text2
                    font-family tnormal
                    padding-top 15px
                    font-size 1.3em
                    line-height 1.1em

                    strong
                        font-family tbold
                        font-weight 400 !important
                        padding-top 15px
                        font-size 1.5em
                        line-height 1.1em

.home-products-panel
    width 1068px
    height auto
    max-height 363px
    margin auto
    text-align center

    section.item
        vertical-align top
        height auto
        max-height 363px
        width 327px
        display inline-block

        h1
            font-family tbold
            font-size 1.6em
            margin 0
            padding 0
            font-weight 400
            line-height 1.3em

        .green-title
            color #5bbdab

        .orange-title
            color #d9773d

        .description
            font-family tnormal
            width 180px
            color #7fc4d6
            margin auto
            text-align center
            padding-bottom 13px

        .description-blue
            font-family tnormal
            width 200px
            color #5281c0
            margin auto
            text-align center
            padding-bottom 13px

        div.product-photo-info
            text-align center
            display none
            height auto
            max-height 240px
            float left
            width 100%
            position relative

            .photo-description
                color #7a7a7a
                margin-bottom 10px
                font-size .9em

.aquamarine-block-100-perc
    background #e9f4f2
    height 370px
    max-height 360px
    overflow hidden
    width 100%
    margin 40px 0 20px

.bg-prod-green
    background url(../images/productos/bg-prod-green.png) center top no-repeat
    height 500px
    margin 0 auto
    overflow hidden
    padding 10px 0 0
    width 100%

.bg-prod-blue
    background url(../images/productos/bg-prod-blue.png) center top no-repeat
    height 500px
    margin 0 auto
    overflow hidden
    padding 10px 0 0
    width 100%

.bg-prod-yellow
    background url(../images/productos/bg-prod-yellow.png) center top no-repeat
    height 500px
    margin 0 auto
    overflow hidden
    padding 10px 0 0
    width 100%

#products-continer

    div

        div.title-blue-stroke
            font-family tbold
            font-size 2.2em
            float left
            font-weight 400
            width 980px
            text-align center
            position absolute
            margin-top 10px
            color #5980bb

        div.text
            font-family tnormal
            font-size 1.4em
            font-weight 400
            line-height 1.2em
            position absolute
            text-align center
            width 980px

div.dark-blue
    color #054884
    font-size 1em
    font-family Verdana !important
    font-weight bold

div.t_aqua
    color #24a78f
    font-size 1em
    font-family Verdana !important
    font-weight bold

div.t_orange
    color #F47F43
    font-size 1em
    font-family Verdana !important
    font-weight bold

div.t_gray
    color #6f6f6f
    font-size 1em
    font-family Verdana !important

.toallas-panel
    width 900px
    margin auto

    div
        width 290px
        display inline-block
        margin 0
        padding 0

    div.item1

        h1
            font-family tbold
            font-weight 400
            color #004783
            font-size 1.3em
            text-align center

        .bottom
            height 10px
            background #cfe6f6
            vertical-align bottom

    div.item2

        h1
            font-family tbold
            font-weight 400
            color #5bbdab
            font-size 1.3em
            text-align center

        .bottom
            height 10px
            background #8db071
            vertical-align bottom

    div.item3

        h1
            font-family tbold
            font-weight 400
            color #da7e48
            font-size 1.3em
            text-align center

        .bottom
            height 10px
            background #f0e5d4
            vertical-align bottom

.content-etapas

    div

        h3
            font-size 1em
            font-weight lighter

.right-block

    .cont-tabs-panel-softblue
        border-radius 8px
        background #eef7fd
        min-height 460px
        width 307px
        float right

        div

            h2.blue
                color #4f8fcd
                font-size 1em
                line-height 1.1em
                font-weight lighter