/* CONTENIDOS DE LOS MIXINS */
@font-face {
  font-family: 'VAGRounded-BT';
  src: url("fonts/VAGRounded-BT/10915-webfont.eot");
  src: url("fonts/VAGRounded-BT/10915-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/VAGRounded-BT/10915-webfont.woff") format('woff'), url("fonts/VAGRounded-BT/10915-webfont.ttf") format('truetype'), url("fonts/VAGRounded-BT/10915-webfont.svg#vagrounded_btregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VAGRounded-LT';
  src: url("fonts/VAGRounded-LT/VAGRounded-Light.eot");
  src: url("fonts/VAGRounded-LT/VAGRounded-Light.eot?#iefix") format('embedded-opentype'), url("fonts/VAGRounded-LT/VAGRounded-Light.woff") format('woff'), url("fonts/VAGRounded-LT/VAGRounded-Light.ttf") format('truetype'), url("fonts/VAGRounded-LT/VAGRounded-Light.svg#vagrounded_btregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #04335e;
  font-size: 14px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
body.home {
  background: #054884;
  font-size: 14px;
}
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  display: block;
  outline: none;
}
.logo {
  margin: 10% auto 0 !important;
  max-width: 404px;
  width: 40%;
}
.registro {
  margin: 10% auto 0;
  text-align: left;
}
.registro h2 {
  font-family: VAGRounded-BT;
  font-size: 2em;
  font-weight: normal;
  line-height: 1em;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.registro h3 {
  font-size: 1.3em;
  line-height: 1em;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.registro a {
  margin: 1em 0 0;
  text-decoration: none;
  outline: none;
}
.logo_top {
  background: #eee;
  padding: 0.5em 0em;
}
.consultas {
  background: #054884;
  background: -moz-linear-gradient(top, #054884 52%, #04335e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(52%, #054884), color-stop(100%, #04335e));
  background: -webkit-linear-gradient(top, #054884 52%, #04335e 100%);
  background: -o-linear-gradient(top, #054884 52%, #04335e 100%);
  background: -ms-linear-gradient(top, #054884 52%, #04335e 100%);
  background: background-image: -o-linear-gradient(to bottom #054884 52% #04335e 100%);;
  padding: 0.5em 0em;
  outline: none;
}
.consultas h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
  margin: 0.3em 0;
  outline: none;
  text-decoration: none;
}
.consultas h3 {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1em;
  color: #7bbbe7;
  margin: 0 0 1em;
  outline: none;
  text-decoration: none;
}
.consultas a {
  color: #ebebeb;
  font-family: VAGRounded-BT;
  font-size: 1.8em;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  outline: none;
  position: relative;
}
.consultas a:hover {
  color: #fff;
  text-decoration: none;
}
.consultas a.ingresar {
  color: #ebebeb;
  font-family: VAGRounded-BT;
  font-size: 1.8em;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  outline: none;
  position: relative;
}
.consultas a.ingresar:hover {
  text-decoration: none;
  color: #fff;
}
.consultas a.ingresar:after {
  content: '';
  display: inline-block;
  background: url("../images/sprite_iconos.png");
  position: absolute;
  height: 33px;
  width: 46px;
  margin: 0 0.6em;
  outline: none;
}
.botones_pie {
  background: #054884;
  background: -moz-linear-gradient(top, #054884 52%, #04335e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(52%, #054884), color-stop(100%, #04335e));
  background: -webkit-linear-gradient(top, #054884 52%, #04335e 100%);
  background: -o-linear-gradient(top, #054884 52%, #04335e 100%);
  background: -ms-linear-gradient(top, #054884 52%, #04335e 100%);
  background: background-image: -o-linear-gradient(to bottom #054884 52% #04335e 100%);;
  padding: 0.5em 0em;
  bottom: 0px;
  width: 100%;
  outline: none;
  text-decoration: none;
}
.botones_pie .btn_footer {
  text-align: center;
  display: block;
  margin: 0.5em 0;
  outline: none;
  text-decoration: none;
}
.botones_pie .btn_footer a {
  display: inline-block;
  height: 74px;
  width: 74px;
  margin: 0 0.2em;
  outline: none;
  border: none;
  outline: none;
  text-decoration: none;
}
.botones_pie .btn_footer a.buscar {
  background: url("../images/iconos_foot.png") no-repeat 0 0;
  outline: none;
  text-decoration: none;
}
.botones_pie .btn_footer a.buscar:hover,
.botones_pie .btn_footer a.buscar.active {
  background-position: 0px -76px;
}
.botones_pie .btn_footer a.actualizar {
  background: url("../images/iconos_foot.png") no-repeat -93px 0;
  outline: none;
  text-decoration: none;
}
.botones_pie .btn_footer a.actualizar:hover,
.botones_pie .btn_footer a.actualizar.active {
  background-position: -93px -76px;
}
.botones_pie .btn_footer a.volver {
  background: url("../images/iconos_foot.png") no-repeat -187px 0;
  outline: none;
  text-decoration: none;
}
.botones_pie .btn_footer a.volver:hover,
.botones_pie .btn_footer a.volver.active {
  background-position: -187px -76px;
}
section.consultas_items {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #fff;
  outline: none;
}
section.consultas_items .items {
  background: #fff;
  background: -moz-linear-gradient(top, #fff 24%, #f5f5f5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(24%, #fff), color-stop(100%, #f5f5f5));
  background: -webkit-linear-gradient(top, #fff 24%, #f5f5f5 100%);
  background: -o-linear-gradient(top, #fff 24%, #f5f5f5 100%);
  background: -ms-linear-gradient(top, #fff 24%, #f5f5f5 100%);
  background: background-image: -o-linear-gradient(to bottom #fff 24% #f5f5f5 100%);;
  padding: 0.5em 0em;
  outline: none;
  text-decoration: none;
}
section.consultas_items .items p.fecha {
  color: #737373;
  display: block;
  font-size: 0.8em;
  line-height: 1em;
  margin: 0.2em 0em;
  text-align: right;
  outline: none;
  text-decoration: none;
}
section.consultas_items .items section.consulta {
  display: block;
  padding: 0.2em;
}
section.consultas_items .items section.consulta figure,
section.consultas_items .items section.consulta article {
  display: inline-block;
  vertical-align: top;
}
section.consultas_items .items section.consulta figure.consulta {
  background: url("../images/aprobado.png");
  height: 36px;
  width: 36px;
}
section.consultas_items .items section.consulta figure.pendiente {
  background: url("../images/pendiente.png");
  height: 36px;
  width: 36px;
}
section.consultas_items .items section.consulta article {
  width: 78%;
  max-width: 450px;
  min-width: 125px;
}
section.consultas_items .items section.consulta article h2 {
  color: #646364;
  font-size: 1.8em;
  line-height: 1em;
  margin: 0px;
  outline: none;
  text-decoration: none;
}
section.consultas_items .items section.consulta article h3 {
  color: #7bbbe7;
  font-size: 1.1em;
  line-height: 1em;
  margin: 0.2em 0em;
  outline: none;
  text-decoration: none;
}
section.consultas_items .items section.consulta article p {
  color: #737373;
  font-size: 1em;
  line-height: 0.9em;
  margin: 0em 0em;
  outline: none;
  text-decoration: none;
}
/* PERFIL DEL DOCTOR - PANEL IZQUIERDO */
section.perfil_doctor {
  display: block;
  position: fixed;
  height: 100%;
  width: 90%;
  max-width: 330px;
  background: #fff;
  left: -330px;
  z-index: 900;
}
.estado_consultas {
  margin: 0.5em 0 0 !important;
}
.estado_consultas p {
  font-size: 1em;
  line-height: 1em;
  color: #646364;
  text-align: left;
  text-decoration: none;
  outline: none;
}
.estado_consultas p.numero {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  color: #7bbbe7;
  text-align: left;
  text-decoration: none;
  outline: none;
}
.estado_consultas a.cerrar {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  color: #db4621;
  text-align: left;
  text-decoration: none;
  outline: none;
}
.estado_consultas a.cerrar:hover {
  text-decoration: underline;
  outline: none;
}
.buscador {
  width: 100%;
  background: #fff;
  padding: 0.6em 0 0;
  display: none;
}
.internas {
  background: #fff;
  padding: 1em 0;
}
.internas h2.titulo_internas {
  font-size: 1.8em;
  line-height: 1em;
  font-weight: bold;
  color: #054883;
  text-align: left;
  text-decoration: none;
  outline: none;
}
.internas h3.responder {
  font-size: 1.3em;
  line-height: 1em;
  font-weight: bold;
  color: #7b7b7b;
  text-align: left;
  text-decoration: none;
  outline: none;
}
.internas p.parrafo_internas {
  font-size: 1em;
  line-height: 1.3em;
  font-weight: normal;
  color: #646364;
  text-align: left;
  text-decoration: none;
  outline: none;
}
.internas button {
  margin: 1em 0;
}
