/* CONTENIDOS DE LOS MIXINS */
@import "mixins.styl"

body
	background #04335e
	font-size 14px
	width 100%
	max-width 1300px
	margin 0 auto

body.home
	background #054884
	font-size 14px

.row
	margin-left 0px !important
	margin-right 0px !important
	display block
	outline none

.logo
	margin 10% auto 0 !important
	max-width 404px
	width 40%

.registro
	margin 10% auto 0
	text-align left

	h2
		font-family VAGRounded-BT
		font-size 2em
		font-weight normal
		line-height 1em
		color #FFF
		text-align center
		text-decoration none

	h3
		font-size 1.3em
		line-height 1em
		color #FFF
		text-align center
		text-decoration none

	a
		margin 1em 0 0;
		text-decoration none
		outline none

.logo_top
	background #eeeeee
	padding 0.5em 0em

.consultas
	background rgb(5,72,132)
	background -moz-linear-gradient(top,  rgba(5,72,132,1) 52%, rgba(4,51,94,1) 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(52%,rgba(5,72,132,1)), color-stop(100%,rgba(4,51,94,1)))
	background -webkit-linear-gradient(top,  rgba(5,72,132,1) 52%,rgba(4,51,94,1) 100%)
	background -o-linear-gradient(top,  rgba(5,72,132,1) 52%,rgba(4,51,94,1) 100%)
	background -ms-linear-gradient(top,  rgba(5,72,132,1) 52%,rgba(4,51,94,1) 100%)
	background linear-gradient(to bottom,  rgba(5,72,132,1) 52%,rgba(4,51,94,1) 100%)
	padding 0.5em 0em
	outline none

	h2
		font-size 1.5em
		font-weight bold
		line-height 1em
		color #FFF
		margin 0.3em 0
		outline none
		text-decoration none

	h3
		font-size 1.3em
		font-weight bold
		line-height 1em
		color #7bbbe7
		margin 0 0 1em
		outline none
		text-decoration none

	a
		color #ebebeb
		font-family VAGRounded-BT
		font-size 1.8em
		font-weight normal
		text-align left
		text-decoration none
		outline none
		position relative

		&:hover
			color #FFF
			text-decoration none

	a.ingresar
		color #ebebeb
		font-family VAGRounded-BT
		font-size 1.8em
		font-weight normal
		text-align left
		text-decoration none
		outline none
		position relative

		&:hover
			text-decoration none
			color #FFF

		&:after
			content ''
			display inline-block
			background url("../images/sprite_iconos.png")
			position absolute
			height 33px
			width 46px
			margin 0 0.6em
			outline none

.botones_pie
	background rgb(5,72,132)
	background -moz-linear-gradient(top,  rgba(5,72,132,1) 52%, rgba(4,51,94,1) 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(52%,rgba(5,72,132,1)), color-stop(100%,rgba(4,51,94,1)))
	background -webkit-linear-gradient(top,  rgba(5,72,132,1) 52%,rgba(4,51,94,1) 100%)
	background -o-linear-gradient(top,  rgba(5,72,132,1) 52%,rgba(4,51,94,1) 100%)
	background -ms-linear-gradient(top,  rgba(5,72,132,1) 52%,rgba(4,51,94,1) 100%)
	background linear-gradient(to bottom,  rgba(5,72,132,1) 52%,rgba(4,51,94,1) 100%)
	padding 0.5em 0em
	bottom 0px
	width 100%
	outline none
	text-decoration none

	.btn_footer
		text-align center
		display block
		margin 0.5em 0
		outline none
		text-decoration none

		a
			display inline-block
			height 74px
			width 74px
			margin 0 0.2em
			outline none
			border none
			outline none
			text-decoration none

		a.buscar
			background url("../images/iconos_foot.png") no-repeat 0 0
			outline none
			text-decoration none

			&:hover, &.active
				background-position 0px -76px

		a.actualizar
			background url("../images/iconos_foot.png") no-repeat -93px 0
			outline none
			text-decoration none

			&:hover, &.active
				background-position -93px -76px

		a.volver
			background url("../images/iconos_foot.png") no-repeat -187px 0
			outline none
			text-decoration none

			&:hover, &.active
				background-position -187px -76px

section.consultas_items
	width 100%
	margin 0px
	padding 0px
	background #FFF
	outline none

	.items	
		background rgb(255,255,255)
		background -moz-linear-gradient(top,  rgba(255,255,255,1) 24%, rgba(245,245,245,1) 100%)
		background -webkit-gradient(linear, left top, left bottom, color-stop(24%,rgba(255,255,255,1)), color-stop(100%,rgba(245,245,245,1)))
		background -webkit-linear-gradient(top,  rgba(255,255,255,1) 24%,rgba(245,245,245,1) 100%)
		background -o-linear-gradient(top,  rgba(255,255,255,1) 24%,rgba(245,245,245,1) 100%)
		background -ms-linear-gradient(top,  rgba(255,255,255,1) 24%,rgba(245,245,245,1) 100%)
		background linear-gradient(to bottom,  rgba(255,255,255,1) 24%,rgba(245,245,245,1) 100%)
		padding 0.5em 0em
		outline none
		text-decoration none

		p.fecha
			color #737373
			display block
			font-size 0.8em
			line-height 1em
			margin 0.2em 0em
			text-align right
			outline none
			text-decoration none

		section.consulta
			display block
			padding 0.2em

			figure, article
				display inline-block
				vertical-align top

			figure.consulta
				background url("../images/aprobado.png")
				height 36px
				width 36px

			figure.pendiente
				background url("../images/pendiente.png")
				height 36px
				width 36px

			article
				width 78%
				max-width 450px
				min-width 125px

				h2
					color #646364
					font-size 1.8em
					line-height 1em
					margin 0px
					outline none
					text-decoration none

				h3
					color #7bbbe7
					font-size 1.1em
					line-height 1em
					margin 0.2em 0em
					outline none
					text-decoration none

				p
					color #737373
					font-size 1em
					line-height 0.9em
					margin 0em 0em
					outline none
					text-decoration none

/* PERFIL DEL DOCTOR - PANEL IZQUIERDO */

section.perfil_doctor
	display block
	position fixed
	height 100%
	width 90%
	max-width 330px
	background #FFF
	left -330px
	z-index 900

.estado_consultas
	margin 0.5em 0 0 !important
	
	p
		font-size 1em
		line-height 1em
		color #646364
		text-align left
		text-decoration none
		outline none

	p.numero
		font-size 1em
		line-height 1em
		font-weight bold
		color #7bbbe7
		text-align left
		text-decoration none
		outline none

	a.cerrar
		font-size 1em
		line-height 1em
		font-weight bold
		color #db4621
		text-align left
		text-decoration none
		outline none

		&:hover
			text-decoration underline
			outline none

.buscador
	width 100%
	background #FFF
	padding 0.6em 0 0
	display none

.internas
	background #FFF
	padding 1em 0

	h2.titulo_internas
		font-size 1.8em
		line-height 1em
		font-weight bold
		color #054883
		text-align left
		text-decoration none
		outline none

	h3.responder
		font-size 1.3em
		line-height 1em
		font-weight bold
		color #7b7b7b
		text-align left
		text-decoration none
		outline none

	p.parrafo_internas
		font-size 1em
		line-height 1.3em
		font-weight normal
		color #646364
		text-align left
		text-decoration none
		outline none

	button
		margin 1em 0