//IMPORTACION DE LAS FUENTES

@font-face
	font-family 'VAGRounded-BT'
	src url("fonts/VAGRounded-BT/10915-webfont.eot")
	src url("fonts/VAGRounded-BT/10915-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/VAGRounded-BT/10915-webfont.woff") format('woff'), url("fonts/VAGRounded-BT/10915-webfont.ttf") format('truetype'), url("fonts/VAGRounded-BT/10915-webfont.svg#vagrounded_btregular") format('svg')
	font-weight normal
	font-style normal
@font-face
	font-family 'VAGRounded-LT'
	src url("fonts/VAGRounded-LT/VAGRounded-Light.eot")
	src url("fonts/VAGRounded-LT/VAGRounded-Light.eot?#iefix") format('embedded-opentype'), url("fonts/VAGRounded-LT/VAGRounded-Light.woff") format('woff'), url("fonts/VAGRounded-LT/VAGRounded-Light.ttf") format('truetype'), url("fonts/VAGRounded-LT/VAGRounded-Light.svg#vagrounded_btregular") format('svg')
	font-weight normal
	font-style normal

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-ms-border-radius arguments
	-o-border-radius arguments
	border-radius arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-ms-box-shadow arguments
	-o-box-shadow arguments
	box-shadow arguments

linear-gradient()
	background-image: -webkit-linear-gradient(arguments)
	background-image: -moz-linear-gradient(arguments)
	background-image: -ms-linear-gradient(arguments)
	background-image: -o-linear-gradient(arguments)
