.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9
    position relative
    min-height 1px
    padding-right 15px
    padding-left 15px

.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9
    float left

.col-xs
    &-1
        width 8.3333%
    &-2
        width 16.666%
    &-3
        width 25%
    &-4
        width 33.333%
    &-5
        width 41.66666667%
    &-6
        width 50%
    &-7
        width 58.33333333%
    &-8
        width 66.66666667%
    &-9
        width 75%
    &-10
        width 83.33333333%
    &-11
        width 91.66666667%
    &-12
        width 100%
    &-offset-1
        margin-left 8.3333%
    &-offset-2
        margin-left 16.666%
    &-offset-3
        margin-left 25%
    &-offset-4
        margin-left 33.333%
    &-offset-5
        margin-left 41.66666667%
    &-offset-6
        margin-left 50%
    &-offset-7
        margin-left 58.33333333%
    &-offset-8
        margin-left 66.66666667%
    &-offset-9
        margin-left 75%
    &-offset-10
        margin-left 83.33333333%
    &-offset-11
        margin-left 91.66666667%
    &-offset-12
        margin-left 100%
.text
    &-left
        text-align left !important
    &-right
        text-align right !important
    &-center
        text-align center !important
    &-justify
        text-align justify !important
.center-block
    display block
    margin-right auto
    margin-left auto
.pull
    &-right
        float right !important
    &-left
        float left !important
.dis
    &-inl
        display inline-block
        position relative
.form-control
  display block
  width 100%
  height 34px
  padding 6px 12px
  font-size 14px
  line-height 1.42857143
  color #555
  background-color #fff
  background-image none
  border 1px solid #ccc
  border-radius 4px
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
          box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
  -webkit-transition border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s
       -o-transition border-color ease-in-out .15s, box-shadow ease-in-out .15s
          transition border-color ease-in-out .15s, box-shadow ease-in-out .15s

.form-control:focus
  border-color #66afe9
  outline 0
  -webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6)
          box-shadow inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6)

.form-control::-moz-placeholder
  color #999
  opacity 1

.form-control:-ms-input-placeholder
  color #999

.form-control::-webkit-input-placeholder
  color #999

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control
  cursor not-allowed
  background-color #eee
  opacity 1

textarea.form-control
  height auto

input[type="search"]
  -webkit-appearance none

@media screen and (-webkit-min-device-pixel-ratio: 0)
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"]
    line-height 34px
  
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"]
    line-height 30px
  
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"]
    line-height 46px
  

.form-group
  margin-bottom 15px

.radio,
.checkbox
  position relative
  display block
  margin-top 10px
  margin-bottom 10px

.radio label,
.checkbox label
  min-height 20px
  padding-left 20px
  margin-bottom 0
  font-weight normal
  cursor pointer

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"]
  position absolute
  margin-top 4px \9
  margin-left -20px

.radio + .radio,
.checkbox + .checkbox
  margin-top -5px

.radio-inline,
.checkbox-inline
  display inline-block
  padding-left 20px
  margin-bottom 0
  font-weight normal
  vertical-align middle
  cursor pointer

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline
  margin-top 0
  margin-left 10px

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"]
  cursor not-allowed

.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline
  cursor not-allowed

.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label
  cursor not-allowed

.form-control-static
  padding-top 7px
  padding-bottom 7px
  margin-bottom 0

.form-control-static.input-lg,
.form-control-static.input-sm
  padding-right 0
  padding-left 0

.input-sm
  height 30px
  padding 5px 10px
  font-size 12px
  line-height 1.5
  border-radius 3px

select.input-sm
  height 30px
  line-height 30px

textarea.input-sm,
select[multiple].input-sm
  height auto

.form-group-sm .form-control
  height 30px
  padding 5px 10px
  font-size 12px
  line-height 1.5
  border-radius 3px

select.form-group-sm .form-control
  height 30px
  line-height 30px

textarea.form-group-sm .form-control,
select[multiple].form-group-sm .form-control
  height auto

.form-group-sm .form-control-static
  height 30px
  padding 5px 10px
  font-size 12px
  line-height 1.5

.input-lg
  height 46px
  padding 10px 16px
  font-size 18px
  line-height 1.3333333
  border-radius 6px

select.input-lg
  height 46px
  line-height 46px

textarea.input-lg,
select[multiple].input-lg
  height auto

.form-group-lg .form-control
  height 46px
  padding 10px 16px
  font-size 18px
  line-height 1.3333333
  border-radius 6px

select.form-group-lg .form-control
  height 46px
  line-height 46px

textarea.form-group-lg .form-control,
select[multiple].form-group-lg .form-control
  height auto

.form-group-lg .form-control-static
  height 46px
  padding 10px 16px
  font-size 18px
  line-height 1.3333333

.has-feedback
  position relative

.has-feedback .form-control
  padding-right 42.5px

.form-control-feedback
  position absolute
  top 0
  right 0
  z-index 2
  display block
  width 34px
  height 34px
  line-height 34px
  text-align center
  pointer-events none

.input-lg + .form-control-feedback
  width 46px
  height 46px
  line-height 46px

.input-sm + .form-control-feedback
  width 30px
  height 30px
  line-height 30px

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label
  color #3c763d

.has-success .form-control
  border-color #3c763d
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
          box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)

.has-success .form-control:focus
  border-color #2b542c
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168
          box-shadow inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168

.has-success .input-group-addon
  color #3c763d
  background-color #dff0d8
  border-color #3c763d

.has-success .form-control-feedback
  color #3c763d

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label
  color #8a6d3b

.has-warning .form-control
  border-color #8a6d3b
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
          box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)

.has-warning .form-control:focus
  border-color #66512c
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b
          box-shadow inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b

.has-warning .input-group-addon
  color #8a6d3b
  background-color #fcf8e3
  border-color #8a6d3b

.has-warning .form-control-feedback
  color #8a6d3b

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label
  color #a94442

.has-error .form-control
  border-color #a94442
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
          box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)

.has-error .form-control:focus
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;

.has-error .input-group-addon
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;

.has-error .form-control-feedback
  color: #a94442;

.has-feedback label ~ .form-control-feedback
  top: 25px;

.has-feedback label.sr-only ~ .form-control-feedback
  top: 0;

.help-block
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;

@media (min-width: 768px)
  .form-inline .form-group
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  
  .form-inline .form-control
    display: inline-block;
    width: auto;
    vertical-align: middle;
  
  .form-inline .form-control-static
    display: inline-block;
  
  .form-inline .input-group
    display: inline-table;
    vertical-align: middle;
  
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control
    width: auto;
  
  .form-inline .input-group > .form-control
    width: 100%;
  
  .form-inline .control-label
    margin-bottom: 0;
    vertical-align: middle;
  
  .form-inline .radio,
  .form-inline .checkbox
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  
  .form-inline .radio label,
  .form-inline .checkbox label
    padding-left: 0;
  
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"]
    position: relative;
    margin-left: 0;
  
  .form-inline .has-feedback .form-control-feedback
    top: 0;
  

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;

.form-horizontal .radio,
.form-horizontal .checkbox
  min-height: 27px;

.form-horizontal .form-group
  margin-right: -15px;
  margin-left: -15px;

@media (min-width: 768px)
  .form-horizontal .control-label
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  

.form-horizontal .has-feedback .form-control-feedback
  right: 15px;

@media (min-width: 768px)
  .form-horizontal .form-group-lg .control-label
    padding-top: 14.333333px;
  

@media (min-width: 768px)
  .form-horizontal .form-group-sm .control-label 
    padding-top: 6px;
.row
  margin-right: -15px;
  margin-left: -15px;
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after 
  display: table;
  content: " ";
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after 
  clear: both;
.pagination 
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;

.pagination > li 
  display: inline;

.pagination > li > a,
.pagination > li > span 
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;

.pagination > li:first-child > a,
.pagination > li:first-child > span 
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

.pagination > li:last-child > a,
.pagination > li:last-child > span 
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus 
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus 
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus 
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;

.pagination-lg > li > a,
.pagination-lg > li > span 
  padding: 10px 16px;
  font-size: 18px;

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span 
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span 
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

.pagination-sm > li > a,
.pagination-sm > li > span 
  padding: 5px 10px;
  font-size: 12px;

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span 
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span 
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;