.btn
	outline none !important
	border-radius 5px
	&-azul
		background url("../../images/calendario/btn-azul.png") 0 -1px repeat-x
		color white
		font-family textBold
		text-transform uppercase
		transition all 100ms linear
		&:hover, &:focus, &:active
			background url("../../images/calendario/btn-azul.png") 0 -1px repeat-x
			box-shadow 0 5px 10px -5px rgba(0,0,0,.8)
			color white
	&-verde
		background url("../../images/calendario/btn-verde.png") 0 -1px repeat-x
		color white
		font-family textBold
		text-transform uppercase
		transition all 100ms linear
		&:hover, &:focus, &:active
			background url("../../images/calendario/btn-verde.png") 0 -1px repeat-x
			box-shadow 0 5px 10px -5px rgba(0,0,0,.8)
			color white
	&-mora
		background url("../../images/calendario/btn-mora.png") 0 -1px repeat-x
		color white
		font-family textBold
		text-transform uppercase
		transition all 100ms linear
		&:hover, &:focus, &:active
			background url("../../images/calendario/btn-mora.png") 0 -1px repeat-x
			box-shadow 0 5px 10px -5px rgba(0,0,0,.8)
			color white
	&-gris
		background url("../../images/calendario/btn-gris.png") 0 -1px repeat-x
		color white
		font-family textBold
		text-transform uppercase
		transition all 100ms linear
		&:hover, &:focus, &:active
			background url("../../images/calendario/btn-gris.png") 0 -1px repeat-x
			box-shadow 0 5px 10px -5px rgba(0,0,0,.8)
			color white
	&-rosa
		background url("../../images/calendario/btn-rosa.png") 0 -1px repeat-x
		color white
		font-family textBold
		text-transform uppercase
		transition all 100ms linear
		&:hover, &:focus, &:active
			background url("../../images/calendario/btn-rosa.png") 0 -1px repeat-x
			box-shadow 0 5px 10px -5px rgba(0,0,0,.8)
			color white
	&-defaul
		background #ececec
		color gris
		font-family text
		transition all 100ms linear
		&:hover, &:focus, &:active
			background #e5e5e5
			color gris
	&-xlg
		border-radius 10px
		font-size 30px
		padding-left 3em
		padding-right 3em
	&-xxlg
		font-size 1.8em
	&-xs
		font-family textLite
		font-size .9em
	&--facebook
		padding-left 2em
		position relative
		&:before
			background url("../../images/calendario/sprite.png") no-repeat -152px -70px
			content ""
			height 33px
			position absolute
			left .5em
			margin-top -16.5px
			top 50%
			width 18px
	&-topper
		position absolute
		top 1em
		right 0