.calendario
	margin-bottom 3em
	&-bloqPics
		margin-top 1em
	&-imgGrande
		display block
		height 651px
		margin 0 auto
		position relative
		width 695px
		&:before
			content ""
			display block
			height 651px
			left 0
			position absolute
			top 0
			width 695px
			z-index 900
		&.hombre
			&:before
				background url("../../images/calendario/calendario/calendar-nino-1.png")
		&.mujer
			&:before
				background url("../../images/calendario/calendario/calendar-nina-1.png")
		&-textos
			bottom 70px
			left 50%
			margin-left -50px
			position absolute
			width 150px
			z-index 910
	&-imgMed
		display block
		height 495px
		margin 0 auto
		position relative
		width 525px
		&:before
			content ""
			display block
			height 495px
			left 0
			position absolute
			top 0
			width 525px
			z-index 900
		&.hombre
			&:before
				background url("../../images/calendario/calendario/calendar-nino-2.png")
		&.mujer
			&:before
				background url("../../images/calendario/calendario/calendar-nina-2.png")
		&-textos
			bottom 40px
			left 50%
			margin-left -50px
			position absolute
			width 150px
			z-index 910
	&-uno
		display block
		height 476px
		margin 0 auto
		width 679px
		&.hombre
			background url("../../images/calendario/calendario/calendario-nino-1.jpg")
		&.mujer
			background url("../../images/calendario/calendario/calendario-nina-1.jpg")
	&-dos
		display block
		height 476px
		margin 0 auto
		width 679px
		&.hombre
			background url("../../images/calendario/calendario/calendario-nino-2.jpg")
		&.mujer
			background url("../../images/calendario/calendario/calendario-nina-2.jpg")

	&-unoPeq
		display block
		height 352px
		margin 0 auto
		width 502px
		&.hombre
			background url("../../images/calendario/calendario/calendario-nino-p1.png")
		&.mujer
			background url("../../images/calendario/calendario/calendario-nina-p1.png")
	&-dosPeq
		display block
		height 352px
		margin 0 auto
		width 502px
		&.hombre
			background url("../../images/calendario/calendario/calendario-nino-p2.png")
		&.mujer
			background url("../../images/calendario/calendario/calendario-nina-p2.png")
	&-nube1
		display block
		height 273px
		left 50%
		margin 0 0 0 -192px
		overflow hidden
		position absolute
		top 46px
		width 383px
		&:before
			content ""
			display block
			height 273px
			left 0
			position absolute
			top 0
			width 383px
			z-index 900
		&.hombre
			&:before
				background url("../../images/calendario/calendario/calendar-nino-p.png")
		&.mujer
			&:before
				background url("../../images/calendario/calendario/calendar-nina-p.png")
	&-nube2
		display block
		height 201px
		left 50%
		margin 0 0 0 -140px
		overflow hidden
		position absolute
		top 33px
		width 283px
		&:before
			content ""
			display block
			height 201px
			left 0
			position absolute
			top 0
			width 283px
			z-index 900
		&.hombre
			&:before
				background url("../../images/calendario/calendario/calendar-nino-p2.png")
		&.mujer
			&:before
				background url("../../images/calendario/calendario/calendar-nina-p2.png")


.pasos_registro
	border-radius 10px
	box-shadow inset 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
	width 515px !important
	display block
	position relative
	height 12px
	background #e1e1e1
	margin 2em auto 5em
	list-style none
	padding 0
	text-align justify
	&:after
		content: "."
		display inline-block
		width 100%
		height 0
		visibility hidden
	& > li
		display inline-block
		width 66px
		height 63px
		position relative
		top -25px
		& > p
			color #7ba8e0
			font-family textBold
			font-size 1.4em
			left 50%
			line-height 1.2em
			margin 5px 0 0 -75px
			position absolute
			text-align center
			text-transform uppercase
			width 150px
		& > figure
			background url("../../images/calendario/sprite.png") no-repeat -70px -339px
			font-family textBold
			font-size 2em
			line-height 2.1em
			font-weight normal
			display block
			color #FFF
			padding 0
			width 66px
			height 63px
			text-align center
		&:active, &.active
			& > figure
				background url("../../images/calendario/sprite.png") no-repeat -2px -339px
			& > p
				color verde
		&:first-child
			margin-left -1em
		&:last-child
			margin-right -1em
.contenidosMiPerfil
	&-calendario
		width 730px !important
		overflow visible !important
.block
	&-img
		&-form
			width 248px
		&-choose
			width 350px
			display inline-block
	&-form
		width 440px
	&-progress-bar
		margin-top 33px