.form
	margin-bottom 2em
	.form-control
		border 2px solid
		border-color #f0f0f0
		border-radius 5px
		box-shadow inset 2px 5px 10px -8px rgba(0,0,0,.2)
	label
		color azul
	.info-addon
		background #fff5cf
		color #eba632
		border-color #f0f0f0

.ui-datepicker
	z-index 999 !important

.tooltip-inner
	background #fffbeb
	border 1px solid #fbf5d9
	color gris

