.memory
	margin-bottom 5em
	margin-top 7em
	&-grid
		display block
		margin 0
		padding 0
		text-align right
		& > li
			display inline-block
			margin .1em
			padding 0
			& > a
				background #f9f9f9
				border-radius 15px
				border 1px solid #b8b9b9
				box-shadow 0 5px 5px -3px rgba(0,0,0,.3)
				color #cdcdcd
				display block
				font-size 5em
				height 128px
				line-height 1.6em
				overflow hidden
				width 128px
				&:hover, &:active, &:focus
					background #e3f0ff
					border 1px solid #d9e8f9
					text-decoration none
	&:after
		background url("../../images/calendario/sprite.png") no-repeat -116px -1px
		content ""
		height 63px
		position absolute
		right -100px
		bottom 0px
		width 65px

.puzzle
	height auto
	margin-bottom 3em
	margin-top 3em
	&-grid
		display block
		border 8px solid mora
		border-radius 15px
		box-shadow 0 5px 5px -3px rgba(0,0,0,.5)
		overflow hidden
		padding 0
		text-align right
		max-width 648px
		&-item
			border 1px solid white
			padding 0
	&:after
		background url("../../images/calendario/sprite.png") no-repeat -116px -1px
		content ""
		height 63px
		position absolute
		right -100px
		bottom 0px
		width 65px

.rompecabezas
	height auto
	margin-bottom 3em
	margin-top 4em
	&-grid
		background #f6f6f6
		display block
		border 3px solid white
		border-radius 5px
		box-shadow 0 0 5px -2px rgba(0,0,0,.5)
		height 450px
		overflow hidden
		padding 0
		position relative
		width 630px
	&:after
		background url("../../images/calendario/sprite.png") no-repeat -116px -1px
		content ""
		height 63px
		position absolute
		right -100px
		bottom 0px
		width 65px

.panal
	height auto
	margin-bottom 3em
	margin-top 2em
	&-grid
		background url("../../images/calendario/games/panal/back.png") no-repeat 0 0
		display block
		border 3px solid white
		border-radius 5px
		box-shadow 0 0 5px -2px rgba(0,0,0,.5)
		height 700px
		overflow hidden
		padding 0
		position relative
		width 630px
		&-panal
			height 345px
			left 147px
			position absolute
			top 80px
			width 471px
			&-cintura
				display block
				height 100px
				left 45px
				position absolute
				top -65px
				width 245px
				&.active
					background url("../../images/calendario/games/panal/cintura-active.png") 0 0
				&.focus
					background url("../../images/calendario/games/panal/cintura-focus.png") 0 0
			&-pierna
				display block
				height 145px
				left -83px
				position absolute
				top 163px
				width 171px
				&.active
					background url("../../images/calendario/games/panal/pierna-active.png") 0 0
				&.focus
					background url("../../images/calendario/games/panal/pierna-focus.png") 0 0
			&-entrepierna
				display block
				height 104px
				left 122px
				position absolute
				top 315px
				width 208px
				&.active
					background url("../../images/calendario/games/panal/entrepierna-active.png") 0 0
				&.focus
					background url("../../images/calendario/games/panal/entrepierna-focus.png") 0 0
			&-tiro
				display block
				height 161px
				left 280px
				position absolute
				top 115px
				width 174px
				&.active
					background url("../../images/calendario/games/panal/tiro-active.png") 0 0
				&.focus
					background url("../../images/calendario/games/panal/tiro-focus.png") 0 0

		&-items
			position absolute
			bottom 30px
	&:after
		background url("../../images/calendario/sprite.png") no-repeat -116px -1px
		content ""
		height 63px
		position absolute
		right -100px
		bottom 0px
		width 65px

/* Medium devices (large desktops, 1100px and up) */
@media screen and (max-width:1100px)

	.memory
		&-grid
			& > li
				& > a
					height 115px
					width 115px
					
					

