@import "fonts.styl"
@import "bootstrap.styl"
@import "mixins.styl"
@import "botones.styl"
@import "text.styl"
// @import "form.styl"
// @import "games.styl"
@import "calendario.styl"

.head
	position relative
	z-index 900
	&--foot
		margin-bottom 2em
	&-log
		background url("../../images/calendario/btn-azul.png") repeat 0 0
		border-radius 0 0 10px 10px
		padding-bottom .6em
		padding-top .8em
		width 280px
		div:first-child
			border-right 1px solid white

.registroBloq
	margin-top 2em
	&-right
		&:before
			background url("../../images/calendario/sprite.png") no-repeat -62px -1px
			content ""
			height 46px
			position absolute
			right 0
			top 0
			width 44px
		&:after
			background url("../../images/calendario/sprite.png") no-repeat -21px -1px
			content ""
			height 32px
			position absolute
			right -35px
			bottom 300px
			width 32px
		&--short
			min-height 770px
	&-bebe
		border 1px solid #edeeee
		border-radius 10px
		margin-top 1.5em
		padding-bottom 1em
		padding-top 1em
		&.inscrito
			background #e1f7f9
	&-uploads
		margin-top 0
		margin-bottom 3em
			
.alert
	&--home
		background #dcf1ee
		border-radius 15px
		margin-top 3em
		margin-left auto
		margin-right auto
		padding .2em
		width 400px
		.counter
			display inline-block
			margin 0 1em
			position relative
			width 84px
			&:before
				background url("../../images/calendario/sprite.png") no-repeat -1px -165px
				color white
				font-family textBold
				font-size 2em
				height 83px
				left 0
				line-height 1.2em
				position absolute
				padding .5em 0
				top -42px
				width 84px
		.medalla
			display inline-block
			position relative
			width 79px
			img
				position absolute
				top -45px
				left 0
	&--form
		background #e7eff9
		border none
		border-radius 10px
		padding-bottom 1.5em
		padding-top 1.5em
		&--border
			border 2px solid #e0eafa
		&--border2
			border 2px solid #f1f1f1
		&-corazones1
			position relative
			&:before
				background url("../../images/calendario/sprite.png") no-repeat 0 -36px
				content ""
				display block
				height 66px
				position absolute
				right -100px
				top -150px
				width 59px
		&--verde
			background #a2d8d0
		&--mora
			background #b2a0df
		&--azul
			background #7eaae1
		&--formend
			background white
			border 3px dashed #f1edfe
			margin-bottom 0
		&--conquistas1
			background #fff7ec
		&--conquistas2
			background #f1f7ff
		&--conquistas3
			background #fff6fb
		&--conquistas4
			background #f6f4ff
		&--conquistas5
			background #f5fdfc
		&--conquistas6
			background #fffef1
	&--formularioFin
		background white
		border-radius 15px
		box-shadow -5px 5px 10px -5px rgba(0,0,0,.2)
		padding-bottom 1em
		padding-top 1em
		position absolute
		top 30%
		&:before
			background url("../../images/calendario/sprite.png") no-repeat -195px -341px
			content ""
			display block
			height 50px
			margin-left -15px
			position absolute
			left 50%
			top -15px
			width 30px
			z-index 999

	&--info
		background #e7eff9
		margin-top 1em
		padding-bottom 1em
		padding-top 1em
	&--war
		background #f8f3e0
		margin-top 1em
		padding-left 80px
		.icon
			background url("../../images/calendario/sprite.png") no-repeat -1px -253px
			display block
			height 41px
			left 40px
			margin-top -20.5px
			position absolute
			top 50%
			width 41px
.separador
	height 2em
	margin-bottom 1em
	margin-top 1em
	position relative
	text-align center
	.divisor
		background azul
		border-radius 50%
		color white
		display block
		font-family textBold
		height 2em
		left 50%
		margin-left -1em
		padding .2em
		position absolute
		width 2em
	&:before
		border-top 3px dotted azul
		content ""
		display block
		left 50%
		margin-left -40%
		position absolute
		top 50%
		width 30%
	&:after
		border-top 3px dotted azul
		content ""
		display block
		right 50%
		margin-right -40%
		position absolute
		top 50%
		width 30%

.sep
	display block
	margin-bottom .8em
	margin-top .8em

.progress
	margin-bottom 0
	margin-top .4em

.perfilBloq
	&-title
		margin-bottom 2em
		// &:before
		// 	background url("../../images/calendario/sprite.png") no-repeat -183px -1px
		// 	content ""
		// 	height 99px
		// 	position absolute
		// 	left 0
		// 	top 0
		// 	width 90px
	&-left
		&--pending
			background #fffff9
			border 1px solid #f7f2d9
			border-radius 15px
			padding-bottom 1em
			padding-top 1em
		&--active
			background #e9f9f7
			border 1px solid #e1f4f6
			border-radius 15px
			padding-bottom 1em
			padding-top 1em
		&--war
			background #f9eff2
			border 1px solid #f5e9ed
			border-radius 15px
			padding-bottom 1em
			padding-top 1em
		// &:before
		// 	background url("../../images/calendario/sprite.png") no-repeat -21px -1px
		// 	content ""
		// 	height 32px
		// 	position absolute
		// 	left -60px
		// 	top 60%
		// 	width 32px
	&-tabs
		background white
		border 1px solid #f3f4f4
		border-radius 0 10px 10px 10px
		margin-top -2px
		padding-top 2em
		padding-bottom 2em
		// &:after
		// 	background url("../../images/calendario/sprite.png") no-repeat -116px -1px
		// 	content ""
		// 	height 63px
		// 	position absolute
		// 	right -100px
		// 	bottom -100px
		// 	width 65px
		&-text
			display table
	&-imgNube
		display block
		height 420px
		position relative
		width 540px
		// &:before
		// 	background url("../../images/calendario/over-img1.png")
		// 	content ""
		// 	display block
		// 	height 420px
		// 	left 0
		// 	position absolute
		// 	top 0
		// 	width 540px
	&-imgNubeFoto
		display block
		height 340px
		position relative
		width 400px
		.bloqPendi
			background rgba(255,255,255,.7)
			display none
			height 340px
			left 0
			position absolute
			top 0
			width 400px
			z-index 10
			&:after
				background url("../../images/calendario/foto-pendiente.png")
				content ""
				display block
				height 111px
				left 55%
				margin -55.5px 0 0 -60px
				position absolute
				top 50%
				width 120px
		&:before
			background url("../../images/calendario/over-foto.png")
			content ""
			display block
			height 340px
			left 0
			position absolute
			top 0
			width 400px
			z-index 20
		&.pendiente
			.bloqPendi
				display block
	&-imgNubeVideo
		background url("../../images/calendario/over-video.png")
		display block
		height 340px
		position relative
		width 400px
		iframe
			margin-top 77px
			margin-left 47px
		.bloqPendi
			background rgba(255,255,255,.7)
			display none
			height 180px
			left 47px
			position absolute
			top 77px
			width 320px
			z-index 10
			&:after
				background url("../../images/calendario/video-pendiente.png")
				content ""
				display block
				height 105px
				left 55%
				margin -52.5px 0 0 -80px
				position absolute
				top 50%
				width 160px
		&.pendiente
			.bloqPendi
				display block
	&-imgNubeVideo2
		background url("../../images/calendario/over-img2.png")
		display block
		height 420px
		position relative
		width 540px
		iframe
			margin-top 112px
			margin-left 46px

	// &-head1
	// 	&:before
	// 		background url("../../images/calendario/sprite.png") no-repeat -183px -1px
	// 		content ""
	// 		display block
	// 		height 99px
	// 		position absolute
	// 		right -100px
	// 		top 200px
	// 		width 90px
	// &-head2
	// 	&:before
	// 		background url("../../images/calendario/sprite.png") no-repeat -116px -1px
	// 		content ""
	// 		display block
	// 		height 63px
	// 		position absolute
	// 		right -100px
	// 		top 200px
	// 		width 65px
	// &-head3
	// 	&:before
	// 		background url("../../images/calendario/sprite.png") no-repeat -183px -1px
	// 		content ""
	// 		display block
	// 		height 99px
	// 		position absolute
	// 		right -110px
	// 		top 50px
	// 		width 90px
	// &-head4
	// 	&:before
	// 		background url("../../images/calendario/sprite.png") no-repeat -62px -1px
	// 		content ""
	// 		display block
	// 		height 46px
	// 		position absolute
	// 		right 0
	// 		top 200px
	// 		width 44px
	// 	&:after
	// 		background url("../../images/calendario/sprite.png") no-repeat 0 -72px
	// 		content ""
	// 		display block
	// 		height 30px
	// 		position absolute
	// 		left 0
	// 		bottom -50px
	// 		width 31px
	// &-head5
	// 	&:before
	// 		background url("../../images/calendario/sprite.png") no-repeat -116px -1px
	// 		content ""
	// 		display block
	// 		height 63px
	// 		position absolute
	// 		right -100px
	// 		bottom 100px
	// 		width 65px
	&-tabs-ganadores
		display none
		height 293px
		&.active
			display block
		&:before
			background url("../../images/calendario/sprite.png") no-repeat -183px -1px
			content ""
			height 99px
			left -120px
			position absolute
			top 150px
			width 90px
		&:after
			background url("../../images/calendario/sprite.png") no-repeat -116px -1px
			content ""
			height 63px
			right -120px
			position absolute
			top 250px
			width 65px
	&-conquistas
		margin-bottom 5em
		&-item
			height 465px
			&:before
				background url("../../images/calendario/sprite.png") no-repeat -1px -302px
				content ""
				display block
				height 31px
				position absolute
				right -70px
				top 0
				width 148px
			&-boton
				position absolute
				bottom 0px
				width 100%
			&:last-child
				&:before
					background none
					display none
			figure
				position relative
				height 241px
				margin 0 auto
				width 240px
			&.active
				figure
					&:after
						display block
						content ""
						left 0
						height 56px
						position absolute
						top 20px
						width 57px
				&.uno
					figure
						&:after
							background url("../../images/calendario/sprite.png") no-repeat -179px -222px
				&.dos
					figure
						&:after
							background url("../../images/calendario/sprite.png") no-repeat -239px -222px
				&.tres
					figure
						&:after
							background url("../../images/calendario/sprite.png") no-repeat -238px -280px
	&--instrucciones
		margin-bottom 3em
		&-item
			border-right 2px solid #ececec
			height 220px
			&:last-child
				border-right none
				border-color none
	&-trivia
		margin-top 5em
				
.participantes
	&-bloq
		background #f5f2ff
		border-radius 15px
		overflow hidden
		margin-top 1em
		padding-top 1em
		&-btn
			background #e7dbff
			border-top 2px solid white
			padding-bottom 1em
			padding-top 1em
	&:after
		background url("../../images/calendario/sprite.png") no-repeat -62px -1px
		content ""
		height 46px
		position absolute
		right -100px
		bottom 300px
		width 44px

.premiosBloq
	margin-top 6em
	margin-bottom 3em
	&-bloq
		border 2px solid #eaf1f3
		border-radius 15px
		margin-top 2em
		padding-bottom 1em
		padding-top 1.5em
		&--verde
			background url("../../images/calendario/line-verde.png") repeat-x 0 0
		&--mora
			background url("../../images/calendario/line-mora.png") repeat-x 0 0
		&--azul
			background url("../../images/calendario/line-azul.png") repeat-x 0 0
	&-heart
		&:after
			background url("../../images/calendario/sprite.png") no-repeat -116px -1px
			content ""
			height 63px
			position absolute
			right -100px
			bottom 500px
			width 65px
		
.img
	&-border
		border 5px solid white
		box-shadow -5px 5px 5px -5px rgba(0,0,0,.2)

ul.pagination
	background none
	li
		a
			background #e5e5e5
			border-color #cacaca
			color gris
			outline none
			&:hover
				border-color #cacaca
				color gris
			&:active, &:focus, &.active
				background azul
				color white

.table
	&-result
		& tbody > tr:nth-child(2n+1) > th
			background azul2
			border 2px solid white
			padding-bottom .6em
			padding-top .6em
		& tbody > tr:nth-child(2n+1) > td
			background #C1E3FB
			border 2px solid white
	&-mora
		& tbody > tr:nth-child(2n+1) > th
			background #aa98e0
			border 2px solid white
			padding-bottom .6em
			padding-top .6em
		& tbody > tr:nth-child(2n+1) > td
			background #f6f3ff
			border 2px solid white
	&-azul
		& tbody > tr:nth-child(2n+1) > th
			background #2f59a0
			border 2px solid white
			padding-bottom .6em
			padding-top .6em
		& tbody > tr:nth-child(2n+1) > td
			background #dbe8ff
			border 2px solid white
	&-verde
		& tbody > tr:nth-child(2n+1) > th
			background #80bab2
			border 2px solid white
			padding-bottom .6em
			padding-top .6em
		& tbody > tr:nth-child(2n+1) > td
			background #dcf1ee
			border 2px solid white
	&-azulClaro
		& tbody > tr:nth-child(2n+1) > th
			background #7daae1
			border 2px solid white
			padding-bottom .6em
			padding-top .6em
		& tbody > tr:nth-child(2n+1) > td
			background #e8f2ff
			border 2px solid white

.icon
	display inline-block
	&--open
		background url("../../images/calendario/sprite.png") no-repeat -151px -249px
		content ""
		height 19px
		position relative
		width 27px
	&--close
		background url("../../images/calendario/sprite.png") no-repeat -151px -274px
		content ""
		height 19px
		position relative
		width 27px
	
.hide
	display none

.popUp
	background #fdfeff
	border-radius 15px
	border 2px solid #def1f1
	max-width 520px
	margin 2em auto
	padding-bottom 2em
	padding-top 1em
	position relative
	&-close
		background url("../../images/calendario/sprite.png") no-repeat -243px -108px
		height 25px
		position absolute
		right 5px
		top 5px
		width 25px
		z-index 900
	&:before
		background url("../../images/calendario/sprite.png") no-repeat 0 -36px
		content ""
		height 66px
		position absolute
		left 20px
		bottom 10px
		width 59px
.content
	& .calendario-pdf
		display none
	&.girl .calendario-pdf.girl 
		display block !important
	&.boy .calendario-pdf.boy 
		display block !important
.calendario-pdf
	&-first
		transform rotate(270deg)
		margin 70px 0px 0px 0px
		&-baby
			position absolute
			top 90px
			left 80px
			z-index 1
		&-sky
			position relative
			z-index 2
			width 850px
		&-text
			position absolute
			top 600px
			left 274px
			z-index 2
			width 309px
			z-index 2
	&-second
		position relative
		top 120px
		&-baby
			position absolute
			top 176px
			left 271px
			z-index 2
			width 315px
		&-calendar
			position relative
			z-index 1
			width 850px
		&-sky
			position absolute
			z-index 3
			left 218px
			top 171px
			width 420px
	&-third
		position relative
		&-baby
			position absolute
			top 303px
			left 271px
			z-index 2
			width 315px
		&-calendar
			position relative
			z-index 1
			width 850px
		&-sky
			position absolute
			z-index 3
			left 218px
			top 303px
			width 420px