@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype'), url("../fonts/glyphicons-halflings-regular.woff2") format('woff2'), url("../fonts/glyphicons-halflings-regular.woff") format('woff'), url("../fonts/glyphicons-halflings-regular.ttf") format('truetype'), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-remove:before {
  content: "\e083";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}
.col-xs-1 {
  width: 8.3333%;
}
.col-xs-2 {
  width: 16.666%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.333%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-offset-1 {
  margin-left: 8.3333%;
}
.col-xs-offset-2 {
  margin-left: 16.666%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-4 {
  margin-left: 33.333%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify !important;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.dis-inl {
  display: inline-block;
  position: relative;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-control -webkit-box-shadow inset 0 1px 1px rgba(0,
.form-control 0,
.form-control .075) {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.form-control -webkit-transition border-color ease-in-out .15s -o-transition border-color ease-in-out .15s,
.form-control -webkit-box-shadow ease-in-out .15s -o-transition border-color ease-in-out .15s,
.form-control -webkit-transition border-color ease-in-out .15s box-shadow ease-in-out .15s,
.form-control -webkit-box-shadow ease-in-out .15s box-shadow ease-in-out .15s {
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
}
.form-control:focus -webkit-box-shadow inset 0 1px 1px rgba(0,
.form-control:focus 0,
.form-control:focus .075),
.form-control:focus 0 0 8px rgba(102,
.form-control:focus 175,
.form-control:focus 233,
.form-control:focus .6) {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    line-height: 34px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }
}
.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px 9;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
}
.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-right: 0;
  padding-left: 0;
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-sm {
  height: 30px;
  line-height: 30px;
}
textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}
.form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.form-group-sm .form-control {
  height: 30px;
  line-height: 30px;
}
textarea.form-group-sm .form-control,
select[multiple].form-group-sm .form-control {
  height: auto;
}
.form-group-sm .form-control-static {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select.input-lg {
  height: 46px;
  line-height: 46px;
}
textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}
.form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select.form-group-lg .form-control {
  height: 46px;
  line-height: 46px;
}
textarea.form-group-lg .form-control,
select[multiple].form-group-lg .form-control {
  height: auto;
}
.form-group-lg .form-control-static {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 42.5px;
}
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
.input-lg + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.input-sm + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #3c763d;
}
.has-success .form-control {
  border-color: #3c763d;
}
.has-success .form-control -webkit-box-shadow inset 0 1px 1px rgba(0,
.has-success .form-control 0,
.has-success .form-control .075) {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.has-success .form-control:focus {
  border-color: #2b542c;
}
.has-success .form-control:focus -webkit-box-shadow inset 0 1px 1px rgba(0,
.has-success .form-control:focus 0,
.has-success .form-control:focus .075),
.has-success .form-control:focus 0 0 6px #67b168 {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #3c763d;
}
.has-success .form-control-feedback {
  color: #3c763d;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #8a6d3b;
}
.has-warning .form-control {
  border-color: #8a6d3b;
}
.has-warning .form-control -webkit-box-shadow inset 0 1px 1px rgba(0,
.has-warning .form-control 0,
.has-warning .form-control .075) {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.has-warning .form-control:focus {
  border-color: #66512c;
}
.has-warning .form-control:focus -webkit-box-shadow inset 0 1px 1px rgba(0,
.has-warning .form-control:focus 0,
.has-warning .form-control:focus .075),
.has-warning .form-control:focus 0 0 6px #c0a16b {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #8a6d3b;
}
.has-warning .form-control-feedback {
  color: #8a6d3b;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}
.has-error .form-control {
  border-color: #a94442;
}
.has-error .form-control -webkit-box-shadow inset 0 1px 1px rgba(0,
.has-error .form-control 0,
.has-error .form-control .075) {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}
.has-error .form-control-feedback {
  color: #a94442;
}
.has-feedback label ~ .form-control-feedback {
  top: 25px;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}
.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }
}
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 14.333333px;
  }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.btn {
  outline: none !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-azul {
  background: url("../../images/calendario/btn-azul.png") 0 -1px repeat-x;
  color: #fff;
  font-family: 'VAGRounded-BT', sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
.btn-azul:hover,
.btn-azul:focus,
.btn-azul:active {
  background: url("../../images/calendario/btn-azul.png") 0 -1px repeat-x;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8);
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8);
  color: #fff;
}
.btn-verde {
  background: url("../../images/calendario/btn-verde.png") 0 -1px repeat-x;
  color: #fff;
  font-family: 'VAGRounded-BT', sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
.btn-verde:hover,
.btn-verde:focus,
.btn-verde:active {
  background: url("../../images/calendario/btn-verde.png") 0 -1px repeat-x;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8);
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8);
  color: #fff;
}
.btn-mora {
  background: url("../../images/calendario/btn-mora.png") 0 -1px repeat-x;
  color: #fff;
  font-family: 'VAGRounded-BT', sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
.btn-mora:hover,
.btn-mora:focus,
.btn-mora:active {
  background: url("../../images/calendario/btn-mora.png") 0 -1px repeat-x;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8);
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8);
  color: #fff;
}
.btn-gris {
  background: url("../../images/calendario/btn-gris.png") 0 -1px repeat-x;
  color: #fff;
  font-family: 'VAGRounded-BT', sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
.btn-gris:hover,
.btn-gris:focus,
.btn-gris:active {
  background: url("../../images/calendario/btn-gris.png") 0 -1px repeat-x;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8);
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8);
  color: #fff;
}
.btn-rosa {
  background: url("../../images/calendario/btn-rosa.png") 0 -1px repeat-x;
  color: #fff;
  font-family: 'VAGRounded-BT', sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
.btn-rosa:hover,
.btn-rosa:focus,
.btn-rosa:active {
  background: url("../../images/calendario/btn-rosa.png") 0 -1px repeat-x;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8);
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8);
  color: #fff;
}
.btn-defaul {
  background: #ececec;
  color: #a0a0a0;
  font-family: Verdana, sans-serif;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
.btn-defaul:hover,
.btn-defaul:focus,
.btn-defaul:active {
  background: #e5e5e5;
  color: #a0a0a0;
}
.btn-xlg {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 30px;
  padding-left: 3em;
  padding-right: 3em;
}
.btn-xxlg {
  font-size: 1.8em;
}
.btn-xs {
  font-family: 'VAGRounded-LT', sans-serif;
  font-size: 0.9em;
}
.btn--facebook {
  padding-left: 2em;
  position: relative;
}
.btn--facebook:before {
  background: url("../../images/calendario/sprite.png") no-repeat -152px -70px;
  content: "";
  height: 33px;
  position: absolute;
  left: 0.5em;
  margin-top: -16.5px;
  top: 50%;
  width: 18px;
}
.btn-topper {
  position: absolute;
  top: 1em;
  right: 0;
}
.text {
  color: #000;
  font-family: Verdana, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2em;
}
.text--azul {
  color: #3967ad;
}
.text--azulCla {
  color: #7eaae1;
}
.text--blanco {
  color: #fff;
}
.text--mora {
  color: #9c89d3;
}
.text--rosa {
  color: #a08dd5;
}
.text--azul2 {
  color: #50bce9;
}
.text--verde {
  color: #589990;
}
.text--verde1 {
  color: #afddd6;
}
.text--gris {
  color: #a0a0a0;
}
.text--naranja {
  color: #ff9c00;
}
.text--rojo {
  color: #ff8a8a;
}
.text--xxs {
  font-size: 0.8em;
}
.text--xs {
  font-size: 0.9em;
}
.text--sm {
  font-size: 1.2em;
}
.text--md {
  font-size: 1.6em;
}
.text--lg {
  font-size: 2.2em;
}
.text--xlg {
  font-size: 3em;
}
.text--lite {
  font-family: 'VAGRounded-LT', sans-serif;
  font-weight: 400;
}
.text--bold {
  font-family: 'VAGRounded-BT', sans-serif;
  font-weight: 400;
}
.text--line1 {
  line-height: 1.1em;
}
.text--marg0 {
  margin: 0;
}
.text--marg1 {
  margin-top: 1em;
}
.text--marg2 {
  margin-top: 2em;
}
.text--marg3 {
  margin-top: 3em;
}
.text--marg4 {
  margin-top: 1em;
  margin-bottom: 0;
}
.text--marg5 {
  margin-top: 0;
  margin-bottom: 1em;
}
.text--marg6 {
  margin-top: 1.3em;
}
.text--numForm {
  background: url("../../images/calendario/sprite.png") no-repeat -136px -191px;
  color: #fff;
  display: inline-block;
  height: 44px;
  line-height: 1.4em;
  margin-right: 0.5em;
  width: 45px;
}
.text--numForm2 {
  background: url("../../images/calendario/sprite.png") no-repeat -186px -283px;
  color: #fff;
  display: inline-block;
  height: 44px;
  line-height: 1.4em;
  margin-right: 0.5em;
  width: 45px;
}
.text--iconAlert {
  background: url("../../images/calendario/sprite.png") no-repeat -45px -254px;
  display: inline-block;
  height: 40px;
  margin-bottom: -0.2em;
  width: 40px;
}
.text strong {
  font-weight: 700;
}
.list--center {
  text-align: center;
  color: #589990;
}
.list--center li {
  margin-top: 0.5em;
  list-style: none;
}
.list--social li {
  padding: 0;
}
.list--standar {
  margin: 0.5em 0 0 1em;
  padding: 0;
}
.list--standar > li > a {
  color: #a0a0a0;
  outline: none;
}
.list--standar > li.active {
  color: #3967ad;
}
.list--standar > li.active > a {
  color: #3967ad;
  font-weight: bold;
}
.link {
  outline: none;
}
.link--azul {
  color: #3967ad;
}
.link--azul:hover,
.link--azul:focus,
.link--azul:active {
  color: #3967ad;
  text-decoration: underline;
}
.link--verde {
  color: #589990;
}
.link--verde:hover,
.link--verde:focus,
.link--verde:active {
  color: #589990;
  text-decoration: underline;
}
.link--gris {
  color: #a0a0a0;
}
.link--gris:hover,
.link--gris:focus,
.link--gris:active {
  color: #a0a0a0;
  text-decoration: underline;
}
.link--blanco {
  color: #fff;
}
.link--blanco:hover,
.link--blanco:focus,
.link--blanco:active {
  color: #fff;
  text-decoration: underline;
}
.icons--alert {
  background: #fceba8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 80px;
  margin: 1em auto 0;
  position: relative;
  width: 80px;
}
.icons--alert:before {
  background: url("../../images/calendario/sprite.png") no-repeat -88px -247px;
  content: "";
  height: 48px;
  left: 50%;
  margin: -24px 0 0 -26.75px;
  position: absolute;
  top: 45%;
  width: 55px;
}
.icons--active {
  background: #bee8e2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 80px;
  margin: 1em auto 0;
  position: relative;
  width: 80px;
}
.icons--active img {
  display: none;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -ms-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
}
.icons--warning {
  background: #f5dfe7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 80px;
  margin: 1em auto 0;
  position: relative;
  width: 80px;
}
.icons--warning:before {
  background: url("../../images/calendario/sprite.png") no-repeat -184px -106px;
  content: "";
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 50%;
  width: 50px;
}
.icons--cerrarPerfil {
  margin-top: -0.7em;
  position: absolute;
  right: 0.5em;
  top: 50%;
}
.calendario {
  margin-bottom: 3em;
}
.calendario-bloqPics {
  margin-top: 1em;
}
.calendario-imgGrande {
  display: block;
  height: 651px;
  margin: 0 auto;
  position: relative;
  width: 695px;
}
.calendario-imgGrande:before {
  content: "";
  display: block;
  height: 651px;
  left: 0;
  position: absolute;
  top: 0;
  width: 695px;
  z-index: 900;
}
.calendario-imgGrande.hombre:before {
  background: url("../../images/calendario/calendario/calendar-nino-1.png");
}
.calendario-imgGrande.mujer:before {
  background: url("../../images/calendario/calendario/calendar-nina-1.png");
}
.calendario-imgGrande-textos {
  bottom: 70px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  width: 150px;
  z-index: 910;
}
.calendario-imgMed {
  display: block;
  height: 495px;
  margin: 0 auto;
  position: relative;
  width: 525px;
}
.calendario-imgMed:before {
  content: "";
  display: block;
  height: 495px;
  left: 0;
  position: absolute;
  top: 0;
  width: 525px;
  z-index: 900;
}
.calendario-imgMed.hombre:before {
  background: url("../../images/calendario/calendario/calendar-nino-2.png");
}
.calendario-imgMed.mujer:before {
  background: url("../../images/calendario/calendario/calendar-nina-2.png");
}
.calendario-imgMed-textos {
  bottom: 40px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  width: 150px;
  z-index: 910;
}
.calendario-uno {
  display: block;
  height: 476px;
  margin: 0 auto;
  width: 679px;
}
.calendario-uno.hombre {
  background: url("../../images/calendario/calendario/calendario-nino-1.jpg");
}
.calendario-uno.mujer {
  background: url("../../images/calendario/calendario/calendario-nina-1.jpg");
}
.calendario-dos {
  display: block;
  height: 476px;
  margin: 0 auto;
  width: 679px;
}
.calendario-dos.hombre {
  background: url("../../images/calendario/calendario/calendario-nino-2.jpg");
}
.calendario-dos.mujer {
  background: url("../../images/calendario/calendario/calendario-nina-2.jpg");
}
.calendario-unoPeq {
  display: block;
  height: 352px;
  margin: 0 auto;
  width: 502px;
}
.calendario-unoPeq.hombre {
  background: url("../../images/calendario/calendario/calendario-nino-p1.png");
}
.calendario-unoPeq.mujer {
  background: url("../../images/calendario/calendario/calendario-nina-p1.png");
}
.calendario-dosPeq {
  display: block;
  height: 352px;
  margin: 0 auto;
  width: 502px;
}
.calendario-dosPeq.hombre {
  background: url("../../images/calendario/calendario/calendario-nino-p2.png");
}
.calendario-dosPeq.mujer {
  background: url("../../images/calendario/calendario/calendario-nina-p2.png");
}
.calendario-nube1 {
  display: block;
  height: 273px;
  left: 50%;
  margin: 0 0 0 -192px;
  overflow: hidden;
  position: absolute;
  top: 46px;
  width: 383px;
}
.calendario-nube1:before {
  content: "";
  display: block;
  height: 273px;
  left: 0;
  position: absolute;
  top: 0;
  width: 383px;
  z-index: 900;
}
.calendario-nube1.hombre:before {
  background: url("../../images/calendario/calendario/calendar-nino-p.png");
}
.calendario-nube1.mujer:before {
  background: url("../../images/calendario/calendario/calendar-nina-p.png");
}
.calendario-nube2 {
  display: block;
  height: 201px;
  left: 50%;
  margin: 0 0 0 -140px;
  overflow: hidden;
  position: absolute;
  top: 33px;
  width: 283px;
}
.calendario-nube2:before {
  content: "";
  display: block;
  height: 201px;
  left: 0;
  position: absolute;
  top: 0;
  width: 283px;
  z-index: 900;
}
.calendario-nube2.hombre:before {
  background: url("../../images/calendario/calendario/calendar-nino-p2.png");
}
.calendario-nube2.mujer:before {
  background: url("../../images/calendario/calendario/calendar-nina-p2.png");
}
.pasos_registro {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.4);
  box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.4);
  width: 515px !important;
  display: block;
  position: relative;
  height: 12px;
  background: #e1e1e1;
  margin: 2em auto 5em;
  list-style: none;
  padding: 0;
  text-align: justify;
}
.pasos_registro:after {
  content: ".";
  display: inline-block;
  width: 100%;
  height: 0;
  visibility: hidden;
}
.pasos_registro > li {
  display: inline-block;
  width: 66px;
  height: 63px;
  position: relative;
  top: -25px;
}
.pasos_registro > li > p {
  color: #7ba8e0;
  font-family: 'VAGRounded-BT', sans-serif;
  font-size: 1.4em;
  left: 50%;
  line-height: 1.2em;
  margin: 5px 0 0 -75px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 150px;
}
.pasos_registro > li > figure {
  background: url("../../images/calendario/sprite.png") no-repeat -70px -339px;
  font-family: 'VAGRounded-BT', sans-serif;
  font-size: 2em;
  line-height: 2.1em;
  font-weight: normal;
  display: block;
  color: #fff;
  padding: 0;
  width: 66px;
  height: 63px;
  text-align: center;
}
.pasos_registro > li:active > figure,
.pasos_registro > li.active > figure {
  background: url("../../images/calendario/sprite.png") no-repeat -2px -339px;
}
.pasos_registro > li:active > p,
.pasos_registro > li.active > p {
  color: #589990;
}
.pasos_registro > li:first-child {
  margin-left: -1em;
}
.pasos_registro > li:last-child {
  margin-right: -1em;
}
.contenidosMiPerfil-calendario {
  width: 730px !important;
  overflow: visible !important;
}
.block-img-form {
  width: 248px;
}
.block-img-choose {
  width: 350px;
  display: inline-block;
}
.block-form {
  width: 440px;
}
.block-progress-bar {
  margin-top: 33px;
}
.head {
  position: relative;
  z-index: 900;
}
.head--foot {
  margin-bottom: 2em;
}
.head-log {
  background: url("../../images/calendario/btn-azul.png") repeat 0 0;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  padding-bottom: 0.6em;
  padding-top: 0.8em;
  width: 280px;
}
.head-log div:first-child {
  border-right: 1px solid #fff;
}
.registroBloq {
  margin-top: 2em;
}
.registroBloq-right:before {
  background: url("../../images/calendario/sprite.png") no-repeat -62px -1px;
  content: "";
  height: 46px;
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
}
.registroBloq-right:after {
  background: url("../../images/calendario/sprite.png") no-repeat -21px -1px;
  content: "";
  height: 32px;
  position: absolute;
  right: -35px;
  bottom: 300px;
  width: 32px;
}
.registroBloq-right--short {
  min-height: 770px;
}
.registroBloq-bebe {
  border: 1px solid #edeeee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 1.5em;
  padding-bottom: 1em;
  padding-top: 1em;
}
.registroBloq-bebe.inscrito {
  background: #e1f7f9;
}
.registroBloq-uploads {
  margin-top: 0;
  margin-bottom: 3em;
}
.alert--home {
  background: #dcf1ee;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em;
  width: 400px;
}
.alert--home .counter {
  display: inline-block;
  margin: 0 1em;
  position: relative;
  width: 84px;
}
.alert--home .counter:before {
  background: url("../../images/calendario/sprite.png") no-repeat -1px -165px;
  color: #fff;
  font-family: 'VAGRounded-BT', sans-serif;
  font-size: 2em;
  height: 83px;
  left: 0;
  line-height: 1.2em;
  position: absolute;
  padding: 0.5em 0;
  top: -42px;
  width: 84px;
}
.alert--home .medalla {
  display: inline-block;
  position: relative;
  width: 79px;
}
.alert--home .medalla img {
  position: absolute;
  top: -45px;
  left: 0;
}
.alert--form {
  background: #e7eff9;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}
.alert--form--border {
  border: 2px solid #e0eafa;
}
.alert--form--border2 {
  border: 2px solid #f1f1f1;
}
.alert--form-corazones1 {
  position: relative;
}
.alert--form-corazones1:before {
  background: url("../../images/calendario/sprite.png") no-repeat 0 -36px;
  content: "";
  display: block;
  height: 66px;
  position: absolute;
  right: -100px;
  top: -150px;
  width: 59px;
}
.alert--form--verde {
  background: #a2d8d0;
}
.alert--form--mora {
  background: #b2a0df;
}
.alert--form--azul {
  background: #7eaae1;
}
.alert--form--formend {
  background: #fff;
  border: 3px dashed #f1edfe;
  margin-bottom: 0;
}
.alert--form--conquistas1 {
  background: #fff7ec;
}
.alert--form--conquistas2 {
  background: #f1f7ff;
}
.alert--form--conquistas3 {
  background: #fff6fb;
}
.alert--form--conquistas4 {
  background: #f6f4ff;
}
.alert--form--conquistas5 {
  background: #f5fdfc;
}
.alert--form--conquistas6 {
  background: #fffef1;
}
.alert--formularioFin {
  background: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: -5px 5px 10px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: -5px 5px 10px -5px rgba(0,0,0,0.2);
  box-shadow: -5px 5px 10px -5px rgba(0,0,0,0.2);
  padding-bottom: 1em;
  padding-top: 1em;
  position: absolute;
  top: 30%;
}
.alert--formularioFin:before {
  background: url("../../images/calendario/sprite.png") no-repeat -195px -341px;
  content: "";
  display: block;
  height: 50px;
  margin-left: -15px;
  position: absolute;
  left: 50%;
  top: -15px;
  width: 30px;
  z-index: 999;
}
.alert--info {
  background: #e7eff9;
  margin-top: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}
.alert--war {
  background: #f8f3e0;
  margin-top: 1em;
  padding-left: 80px;
}
.alert--war .icon {
  background: url("../../images/calendario/sprite.png") no-repeat -1px -253px;
  display: block;
  height: 41px;
  left: 40px;
  margin-top: -20.5px;
  position: absolute;
  top: 50%;
  width: 41px;
}
.separador {
  height: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
  position: relative;
  text-align: center;
}
.separador .divisor {
  background: #3967ad;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-family: 'VAGRounded-BT', sans-serif;
  height: 2em;
  left: 50%;
  margin-left: -1em;
  padding: 0.2em;
  position: absolute;
  width: 2em;
}
.separador:before {
  border-top: 3px dotted #3967ad;
  content: "";
  display: block;
  left: 50%;
  margin-left: -40%;
  position: absolute;
  top: 50%;
  width: 30%;
}
.separador:after {
  border-top: 3px dotted #3967ad;
  content: "";
  display: block;
  right: 50%;
  margin-right: -40%;
  position: absolute;
  top: 50%;
  width: 30%;
}
.sep {
  display: block;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
}
.progress {
  margin-bottom: 0;
  margin-top: 0.4em;
}
.perfilBloq-title {
  margin-bottom: 2em;
}
.perfilBloq-left--pending {
  background: #fffff9;
  border: 1px solid #f7f2d9;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding-bottom: 1em;
  padding-top: 1em;
}
.perfilBloq-left--active {
  background: #e9f9f7;
  border: 1px solid #e1f4f6;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding-bottom: 1em;
  padding-top: 1em;
}
.perfilBloq-left--war {
  background: #f9eff2;
  border: 1px solid #f5e9ed;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding-bottom: 1em;
  padding-top: 1em;
}
.perfilBloq-tabs {
  background: #fff;
  border: 1px solid #f3f4f4;
  -webkit-border-radius: 0 10px 10px 10px;
  -moz-border-radius: 0 10px 10px 10px;
  border-radius: 0 10px 10px 10px;
  margin-top: -2px;
  padding-top: 2em;
  padding-bottom: 2em;
}
.perfilBloq-tabs-text {
  display: table;
}
.perfilBloq-imgNube {
  display: block;
  height: 420px;
  position: relative;
  width: 540px;
}
.perfilBloq-imgNubeFoto {
  display: block;
  height: 340px;
  position: relative;
  width: 400px;
}
.perfilBloq-imgNubeFoto .bloqPendi {
  background: rgba(255,255,255,0.7);
  display: none;
  height: 340px;
  left: 0;
  position: absolute;
  top: 0;
  width: 400px;
  z-index: 10;
}
.perfilBloq-imgNubeFoto .bloqPendi:after {
  background: url("../../images/calendario/foto-pendiente.png");
  content: "";
  display: block;
  height: 111px;
  left: 55%;
  margin: -55.5px 0 0 -60px;
  position: absolute;
  top: 50%;
  width: 120px;
}
.perfilBloq-imgNubeFoto:before {
  background: url("../../images/calendario/over-foto.png");
  content: "";
  display: block;
  height: 340px;
  left: 0;
  position: absolute;
  top: 0;
  width: 400px;
  z-index: 20;
}
.perfilBloq-imgNubeFoto.pendiente .bloqPendi {
  display: block;
}
.perfilBloq-imgNubeVideo {
  background: url("../../images/calendario/over-video.png");
  display: block;
  height: 340px;
  position: relative;
  width: 400px;
}
.perfilBloq-imgNubeVideo iframe {
  margin-top: 77px;
  margin-left: 47px;
}
.perfilBloq-imgNubeVideo .bloqPendi {
  background: rgba(255,255,255,0.7);
  display: none;
  height: 180px;
  left: 47px;
  position: absolute;
  top: 77px;
  width: 320px;
  z-index: 10;
}
.perfilBloq-imgNubeVideo .bloqPendi:after {
  background: url("../../images/calendario/video-pendiente.png");
  content: "";
  display: block;
  height: 105px;
  left: 55%;
  margin: -52.5px 0 0 -80px;
  position: absolute;
  top: 50%;
  width: 160px;
}
.perfilBloq-imgNubeVideo.pendiente .bloqPendi {
  display: block;
}
.perfilBloq-imgNubeVideo2 {
  background: url("../../images/calendario/over-img2.png");
  display: block;
  height: 420px;
  position: relative;
  width: 540px;
}
.perfilBloq-imgNubeVideo2 iframe {
  margin-top: 112px;
  margin-left: 46px;
}
.perfilBloq-tabs-ganadores {
  display: none;
  height: 293px;
}
.perfilBloq-tabs-ganadores.active {
  display: block;
}
.perfilBloq-tabs-ganadores:before {
  background: url("../../images/calendario/sprite.png") no-repeat -183px -1px;
  content: "";
  height: 99px;
  left: -120px;
  position: absolute;
  top: 150px;
  width: 90px;
}
.perfilBloq-tabs-ganadores:after {
  background: url("../../images/calendario/sprite.png") no-repeat -116px -1px;
  content: "";
  height: 63px;
  right: -120px;
  position: absolute;
  top: 250px;
  width: 65px;
}
.perfilBloq-conquistas {
  margin-bottom: 5em;
}
.perfilBloq-conquistas-item {
  height: 465px;
}
.perfilBloq-conquistas-item:before {
  background: url("../../images/calendario/sprite.png") no-repeat -1px -302px;
  content: "";
  display: block;
  height: 31px;
  position: absolute;
  right: -70px;
  top: 0;
  width: 148px;
}
.perfilBloq-conquistas-item-boton {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.perfilBloq-conquistas-item:last-child:before {
  background: none;
  display: none;
}
.perfilBloq-conquistas-item figure {
  position: relative;
  height: 241px;
  margin: 0 auto;
  width: 240px;
}
.perfilBloq-conquistas-item.active figure:after {
  display: block;
  content: "";
  left: 0;
  height: 56px;
  position: absolute;
  top: 20px;
  width: 57px;
}
.perfilBloq-conquistas-item.active.uno figure:after {
  background: url("../../images/calendario/sprite.png") no-repeat -179px -222px;
}
.perfilBloq-conquistas-item.active.dos figure:after {
  background: url("../../images/calendario/sprite.png") no-repeat -239px -222px;
}
.perfilBloq-conquistas-item.active.tres figure:after {
  background: url("../../images/calendario/sprite.png") no-repeat -238px -280px;
}
.perfilBloq--instrucciones {
  margin-bottom: 3em;
}
.perfilBloq--instrucciones-item {
  border-right: 2px solid #ececec;
  height: 220px;
}
.perfilBloq--instrucciones-item:last-child {
  border-right: none;
  border-color: none;
}
.perfilBloq-trivia {
  margin-top: 5em;
}
.participantes-bloq {
  background: #f5f2ff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 1em;
  padding-top: 1em;
}
.participantes-bloq-btn {
  background: #e7dbff;
  border-top: 2px solid #fff;
  padding-bottom: 1em;
  padding-top: 1em;
}
.participantes:after {
  background: url("../../images/calendario/sprite.png") no-repeat -62px -1px;
  content: "";
  height: 46px;
  position: absolute;
  right: -100px;
  bottom: 300px;
  width: 44px;
}
.premiosBloq {
  margin-top: 6em;
  margin-bottom: 3em;
}
.premiosBloq-bloq {
  border: 2px solid #eaf1f3;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-top: 2em;
  padding-bottom: 1em;
  padding-top: 1.5em;
}
.premiosBloq-bloq--verde {
  background: url("../../images/calendario/line-verde.png") repeat-x 0 0;
}
.premiosBloq-bloq--mora {
  background: url("../../images/calendario/line-mora.png") repeat-x 0 0;
}
.premiosBloq-bloq--azul {
  background: url("../../images/calendario/line-azul.png") repeat-x 0 0;
}
.premiosBloq-heart:after {
  background: url("../../images/calendario/sprite.png") no-repeat -116px -1px;
  content: "";
  height: 63px;
  position: absolute;
  right: -100px;
  bottom: 500px;
  width: 65px;
}
.img-border {
  border: 5px solid #fff;
  -webkit-box-shadow: -5px 5px 5px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: -5px 5px 5px -5px rgba(0,0,0,0.2);
  box-shadow: -5px 5px 5px -5px rgba(0,0,0,0.2);
}
ul.pagination {
  background: none;
}
ul.pagination li a {
  background: #e5e5e5;
  border-color: #cacaca;
  color: #a0a0a0;
  outline: none;
}
ul.pagination li a:hover {
  border-color: #cacaca;
  color: #a0a0a0;
}
ul.pagination li a:active,
ul.pagination li a:focus,
ul.pagination li a.active {
  background: #3967ad;
  color: #fff;
}
.table-result tbody > tr:nth-child(2n+1) > th {
  background: #50bce9;
  border: 2px solid #fff;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
}
.table-result tbody > tr:nth-child(2n+1) > td {
  background: #c1e3fb;
  border: 2px solid #fff;
}
.table-mora tbody > tr:nth-child(2n+1) > th {
  background: #aa98e0;
  border: 2px solid #fff;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
}
.table-mora tbody > tr:nth-child(2n+1) > td {
  background: #f6f3ff;
  border: 2px solid #fff;
}
.table-azul tbody > tr:nth-child(2n+1) > th {
  background: #2f59a0;
  border: 2px solid #fff;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
}
.table-azul tbody > tr:nth-child(2n+1) > td {
  background: #dbe8ff;
  border: 2px solid #fff;
}
.table-verde tbody > tr:nth-child(2n+1) > th {
  background: #80bab2;
  border: 2px solid #fff;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
}
.table-verde tbody > tr:nth-child(2n+1) > td {
  background: #dcf1ee;
  border: 2px solid #fff;
}
.table-azulClaro tbody > tr:nth-child(2n+1) > th {
  background: #7daae1;
  border: 2px solid #fff;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
}
.table-azulClaro tbody > tr:nth-child(2n+1) > td {
  background: #e8f2ff;
  border: 2px solid #fff;
}
.icon {
  display: inline-block;
}
.icon--open {
  background: url("../../images/calendario/sprite.png") no-repeat -151px -249px;
  content: "";
  height: 19px;
  position: relative;
  width: 27px;
}
.icon--close {
  background: url("../../images/calendario/sprite.png") no-repeat -151px -274px;
  content: "";
  height: 19px;
  position: relative;
  width: 27px;
}
.hide {
  display: none;
}
.popUp {
  background: #fdfeff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid #def1f1;
  max-width: 520px;
  margin: 2em auto;
  padding-bottom: 2em;
  padding-top: 1em;
  position: relative;
}
.popUp-close {
  background: url("../../images/calendario/sprite.png") no-repeat -243px -108px;
  height: 25px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 25px;
  z-index: 900;
}
.popUp:before {
  background: url("../../images/calendario/sprite.png") no-repeat 0 -36px;
  content: "";
  height: 66px;
  position: absolute;
  left: 20px;
  bottom: 10px;
  width: 59px;
}
.content .calendario-pdf {
  display: none;
}
.content.girl .calendario-pdf.girl {
  display: block !important;
}
.content.boy .calendario-pdf.boy {
  display: block !important;
}
.calendario-pdf-first {
  transform: rotate(270deg);
  margin: 70px 0px 0px 0px;
}
.calendario-pdf-first-baby {
  position: absolute;
  top: 90px;
  left: 80px;
  z-index: 1;
}
.calendario-pdf-first-sky {
  position: relative;
  z-index: 2;
  width: 850px;
}
.calendario-pdf-first-text {
  position: absolute;
  top: 600px;
  left: 274px;
  z-index: 2;
  width: 309px;
  z-index: 2;
}
.calendario-pdf-second {
  position: relative;
  top: 120px;
}
.calendario-pdf-second-baby {
  position: absolute;
  top: 176px;
  left: 271px;
  z-index: 2;
  width: 315px;
}
.calendario-pdf-second-calendar {
  position: relative;
  z-index: 1;
  width: 850px;
}
.calendario-pdf-second-sky {
  position: absolute;
  z-index: 3;
  left: 218px;
  top: 171px;
  width: 420px;
}
.calendario-pdf-third {
  position: relative;
}
.calendario-pdf-third-baby {
  position: absolute;
  top: 303px;
  left: 271px;
  z-index: 2;
  width: 315px;
}
.calendario-pdf-third-calendar {
  position: relative;
  z-index: 1;
  width: 850px;
}
.calendario-pdf-third-sky {
  position: absolute;
  z-index: 3;
  left: 218px;
  top: 303px;
  width: 420px;
}
