transition()
    -webkit-transition arguments
    -moz-transition arguments
    -ms-transition arguments
    -o-transition arguments
    transition arguments

border-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    border-radius arguments

box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    box-shadow arguments

text-shadow()
    -webkit-text-shadow arguments
    -moz-text-shadow arguments
    text-shadow arguments

border-box()
    -moz-box-sizing arguments
    -webkit-box-sizing arguments
    box-sizing arguments

linear-gradient()
    -webkit-linear-gradient(arguments)
    -moz-linear-gradient(arguments)
    linear-gradient(arguments)
    
support-for-ie ?= true

opacity(n)
    opacity n
    if support-for-ie
        filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

azul = #3967ad
azulCla = #7eaae1
azul2 = #50bce9
fucsia = #a08dd5
verde = #589990
gris = #a0a0a0
mora = #9c89d3
rojo = #FF8A8A