.nav
	&-top
		background url("../../images/calendario/linemenu.png") 0 0 repeat
		border-radius 8px
		text-align center
		& > li
			display inline-block
			float none
			& > a
				background none
				border none !important
				color verde
				font-family textBold
				font-size 1.5em
				outline none
				position relative
				padding-left 50px
				padding-right 50px
				&:hover, &:focus, &:active
					background none
				&.logo
					display block
					height 1.5em
					margin 0 auto
					padding 0
					position relative
					width 285px
					img
						display block
						margin 0
						position absolute
						top -60px
				.icon
					background url("../../images/calendario/sprite.png") no-repeat -2px -1px
					display none
					height 15px
					left 1em
					margin-top -7.5px
					position absolute
					top 50%
					width 15px
					z-index 900
				&.active
					color azul
					.icon
						display block
				&:hover
					color mora
		&:before
			background url("../../images/calendario/sprite.png") no-repeat -21px -1px
			content ""
			height 32px
			right 1em
			position absolute
			bottom -5em
			width 32px
	&-slide
		background none
		text-align center
		margin-top -5.5em
		z-index 910
		&:before
			background url("../../images/calendario/sprite.png") no-repeat -116px -1px
			content ""
			height 63px
			right 1em
			position absolute
			top -1em
			width 65px
		&:after
			background url("../../images/calendario/sprite.png") no-repeat -62px -1px
			content ""
			height 46px
			left 1em
			position absolute
			top 4em
			width 44px
		& > li
			display inline-block
			vertical-align top
			& > a
				background url("../../images/calendario/nav.png")
				background-color none
				border none !important
				color white
				height 139px
				line-height 1.1em
				outline none
				padding 2em 2em 2em 3.6em
				width 208px
				&:active, &:focus
					background url("../../images/calendario/nav.png")
					&:after
						background url("../../images/calendario/sprite.png") no-repeat -2px -107px
						color mora
				&.active
					background url("../../images/calendario/nav-hover.png")
					&:after
						background url("../../images/calendario/sprite.png") no-repeat -59px -107px
						color #a2d8d0
					&:hover
						background url("../../images/calendario/nav-hover.png")
						&:after
							background url("../../images/calendario/sprite.png") no-repeat -59px -107px
							color #a2d8d0
				&:hover
					background url("../../images/calendario/nav-hovered.png")
					&:after
						background url("../../images/calendario/sprite.png") no-repeat -121px -135px
						color #bfb2e6
				p
					margin-top .5em
				&:after
					background url("../../images/calendario/sprite.png") no-repeat -2px -107px
					content "1"
					color mora
					font-family textBold
					font-size 1.6em
					height 52px
					left 50%
					line-height 1.2em
					margin-left -36.5px
					position absolute
					padding .5em 0
					top -1em
					width 53px
			&.uno
				z-index 904
				& > a
					padding 2em 2em 2em 2em
					p
						margin-top 1em
					&:after
						content "1"
			&.dos
				z-index 903
				margin-left -58px
				& > a
					&:after
						content "2"
			&.tres
				z-index 902
				margin-left -58px
				& > a
					&:after
						content "3"
			&.cuatro
				z-index 901
				margin-left -58px
				& > a
					p
						margin-top 1em
					&:after
						content "4"
	&-interna
		display block
		margin-left auto
		margin-right auto
		margin-top 2em
		max-width 300px
		position relative
		& > li
			display block
			margin-top 1em
			& > a
				background url("../../images/calendario/nav-int.png") no-repeat 0 0
				display table-cell
				height 101px
				padding-left 3em
				position relative
				vertical-align middle
				width 300px
				&:hover, &:active, &:focus
					background url("../../images/calendario/nav-int.png") no-repeat 0 0
					color white
				&:before
					background url("../../images/calendario/sprite.png") no-repeat -88px -189px
					content ""
					color #e5e5e5
					font-family textLite
					font-size 1.5em
					height 44px
					left 1em
					line-height 1.6em
					margin-top -22px
					position absolute
					top 50%
					width 45px
			&.active
				& > a
					background url("../../images/calendario/nav-int-active.png") no-repeat 0 0
					&:hover, &:active, &:focus
						background url("../../images/calendario/nav-int-active.png") no-repeat 0 0
					&:before
						color mora
			&.uno
				& > a
					&:before
						content "1"
			&.dos
				& > a
					&:before
						content "2"
			&.tres
				& > a
					&:before
						content "3"
		&:before
			background url("../../images/calendario/sprite.png") no-repeat 0 -36px
			content ""
			height 66px
			position absolute
			width 59px
			bottom -200px
			left 20%
		&:after
			background url("../../images/calendario/sprite.png") no-repeat -116px -1px
			content ""
			height 63px
			position absolute
			width 65px
			top -70px
			left -80px
	&-terminos
		border 1px solid #e6e6e6
		border-radius 15px
		overflow hidden
		& > li
			margin-top 0px !important
			border-top 1px solid #e6e6e6
			& > a
				border-radius 0
				color gris
				outline none
				&:active, &:focus, &:hover
					background #d8e9ff
					color azul
			&:first-child
				background #d8e9ff
				border-top 0
		&:before
			background url("../../images/calendario/sprite.png") no-repeat 0 -36px
			content ""
			height 66px
			position absolute
			width 59px
			bottom -200px
			left 20%
		&:after
			background url("../../images/calendario/sprite.png") no-repeat -116px -1px
			content ""
			height 63px
			position absolute
			width 65px
			top -70px
			left -80px
	&-state
		& > li
			p
				color gris
				padding .2em 1em
			&.rechazada
				p
					background #fdf4cc
					border-radius 5px
					padding .2em 1em
					span
						color fucsia

	&-bandEnt
		border-bottom 0
		position relative
		z-index 100
		& > li
			a
				background #e8e9e9
				color gris
				outline none
				&:hover
					border-bottom 0
			&.active
				& > a
					border-bottom 1px solid white
					border-color #F3F4F4 #F3F4F4 transparent !important
					color mora
					font-family textBold
					&:hover, &:focus, &:active
						color mora
						border-color #F3F4F4 #F3F4F4 transparent !important
			&.disabled
				& > a
					color gris
					border-bottom 1px solid white
					border-color #F3F4F4 #F3F4F4 transparent !important
					&:hover, &:focus, &:active
						color gris
						border-color #F3F4F4 #F3F4F4 transparent !important

.panel-group
	&-pqrs
		margin-top 3em
		.panel-heading
			background none
			padding 0
		.panel-title
			a
				background #f0f0f0
				display block
				color gris
				font-family textLite
				font-size 1.4em
				outline none
				padding .5em 1.5em
				&:hover,&:focus,&:active
					background #e8e8e8
					text-decoration none
				&.active
					background #c3dbf9
					color #7da9e1
					&:hover,&:focus,&:active
						background #c3dbf9
						text-decoration none

/* Medium devices (large desktops, 1100px and up) */
@media screen and (max-width:1100px)

	.nav
		&-top
			& > li
				& > a
					padding-left 38px
					padding-right 38px

