@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .calendario-imgGrande-PDF {
    display: block;
    padding-bottom: 10px;
  }
  .calendario-bg img {
    margin: -59px 0px 0px -68px;
  }
  article.menuPresentacion {
    font-family: verdana, sans-serif;
    font-size: 14px;
    color: #054783;
    background: #fff;
    padding: 0;
    margin: 0;
  }
  article.menuPresentacion h3 {
    padding: 0px;
    margin: 0px;
  }
  article.menuPresentacion div.comidasContent {
    display: inline-block;
    vertical-align: top;
    width: 260px;
    padding: 0px;
    margin: 20px 10px;
  }
  article.menuPresentacion div.comidasContent h2 {
    color: #00a986;
    font-family: VAGRounded-BT, sans-serif !important;
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 0;
    padding: 0 0 0 50px;
    position: relative;
    text-align: left;
  }
  article.menuPresentacion div.comidasContent p {
    color: #00a986;
    font-family: VAGRounded-LT, sans-serif !important;
    font-size: 1.2em;
    line-height: 1em;
    margin: 5px 0;
    padding: 0 0 0 50px;
  }
  article.menuPresentacion div.comidasContent figure,
  article.menuPresentacion div.comidasContent article {
    display: inline-block;
    vertical-align: top;
  }
  article.menuPresentacion div.comidasContent figure {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #00a986;
    height: 136px;
    overflow: hidden;
    width: 200px;
  }
  article.menuPresentacion div.comidasContent figure img {
    margin: 5px;
    width: 100%;
    height: 100%;
  }
  article.menuPresentacion div.comidasContent article {
    display: block;
    margin: 0px;
  }
  article.menuPresentacion div.comidasContent article ul {
    list-style: default;
  }
  article.menuPresentacion div.comidasContent article ul li {
    list-style: default;
    color: #969696;
    display: inline-block, list-item;
    margin: 0 0 0 10px;
  }
  article.menuPresentacion div.comidasContent article ul li a {
    color: #969696;
    font-size: 0.8em;
    line-height: 1.4em;
    text-align: left;
  }
  article.menuPresentacion div.comidasContent article ul li a:hover {
    text-decoration: underline;
  }
  article.menuPresentacion div.menuTablaSemanal {
    display: block;
    text-align: center;
  }
  article.menuPresentacion div.menuTablaSemanal table {
    width: 660px;
    border: 1px solid #cce8ee;
  }
  article.menuPresentacion div.menuTablaSemanal table td {
    padding: 5px 5px;
    border: 1px solid #fff;
    vertical-align: middle;
    background: #f8fffe;
  }
  article.menuPresentacion div.menuTablaSemanal table td ul.itemsMenu {
    display: block;
    list-style: none;
    right: 20px;
    position: relative;
  }
  article.menuPresentacion div.menuTablaSemanal table td ul.itemsMenu li {
    display: block;
    color: #414141;
    text-align: center;
    font-size: 0.7em;
    line-height: 1.3em;
    margin: 0px;
  }
  article.menuPresentacion div.menuTablaSemanal table h2 {
    color: #fff;
    font-family: VAGRounded-LT, sans-serif !important;
    font-size: 1em;
    line-height: 1.1em;
    margin: 0;
    text-align: center;
  }
  article.menuPresentacion div.menuTablaSemanal table td.subtitle_left {
    background: #d8f4ee;
    width: 45px;
    height: 65px !important;
  }
  article.menuPresentacion div.menuTablaSemanal table td.subtitle_left h2 {
    color: #71b3a5;
    font-size: 1.2em;
    font-family: VAGRounded-BT, sans-serif !important;
    margin: 0;
    text-align: center;
  }
  article.menuPresentacion div.menuTablaSemanal table td.title_top {
    background: #00a986;
    padding: 13px;
  }
  article.menuPresentacion div.menuTablaSemanal table td.title_top h1 {
    font-size: 1.3em;
    text-align: center;
    color: #fff;
    line-height: 1.2em;
  }
  article.menuPresentacion div.menuTablaSemanal table td.subtitle_top {
    background: #d8f4ee;
    width: 50px;
  }
  article.menuPresentacion div.menuTablaSemanal table td.subtitle_top h2 {
    color: #71b3a5;
  }
  article.menuPresentacion div.menuTablaSemanal table td.vacunas_top {
    background: #71b3a5;
  }
}
