@media print
	*
		-webkit-print-color-adjust exact
		print-color-adjust exact
	.calendario
		&-imgGrande-PDF
			display block
			padding-bottom 10px
		&-bg
			& img
				margin -59px 0px 0px -68px
	article.menuPresentacion
		font-family verdana,sans-serif
		font-size 14px
		color #054783
		background #fff
		padding 0
		margin 0
		& h3
			padding 0px
			margin 0px
		& div.comidasContent
			display inline-block
			vertical-align top
			width 260px
			// height 280px
			padding 0px
			margin 20px 10px
			& h2
				color #00a986
				font-family VAGRounded-BT,sans-serif !important
				font-size 1.5em
				line-height 1.2em
				margin 0
				padding 0 0 0 50px
				position relative
				text-align left
				// &.desayuno:before
				// 	background url("../images/sprite_internas.png") no-repeat -1px -323px
				// 	content ""
				// 	display block
				// 	position absolute
				// 	height 23px
				// 	left 5px
				// 	top 2px
				// 	width 24px
				// &.almuerzo:before
				// 	background url("../images/sprite_internas.png") no-repeat -30px -324px
				// 	content ""
				// 	display block
				// 	position absolute
				// 	height 23px
				// 	left 5px
				// 	top 2px
				// 	width 27px
				// &.refrigerio:before
				// 	background url("../images/sprite_internas.png") no-repeat -62px -323px
				// 	content ""
				// 	display block
				// 	position absolute
				// 	height 23px
				// 	left 8px
				// 	top 0
				// 	width 20px
				// &.comida:before
				// 	background:url("../images/sprite_internas.png") no-repeat -85px -327px
				// 	content:""
				// 	display:block
				// 	position:absolute
				// 	height:23px
				// 	left:0
				// 	top:5px
				// 	width:44px
				// &.cena:before
				// 	background url("../images/sprite_internas.png") no-repeat -132px -323px
				// 	content ""
				// 	display block
				// 	position absolute
				// 	height 26px
				// 	left 5px
				// 	top 5px
				// 	width 30px
			& p
				color #00a986
				font-family VAGRounded-LT,sans-serif !important
				font-size 1.2em
				line-height 1em
				margin 5px 0
				padding 0 0 0 50px
			& figure, & article
				display inline-block
				vertical-align top
			& figure
				-webkit-border-radius 10px
				-moz-border-radius 10px
				border-radius 10px
				border 2px solid #00a986
				height 136px
				overflow hidden
				width 200px
				& img
					margin 5px
					width 100%
					height 100%
			& article
				display block
				margin 0px
				& ul
					list-style default
					& li
						list-style default
						color #969696
						display inline-block,list-item
						margin 0 0 0 10px
						& a
							color #969696
							font-size .8em
							line-height 1.4em
							text-align left
							&:hover
								text-decoration underline
		& div.menuTablaSemanal
			display block
			text-align center
			& table
				width 660px
				border 1px solid #cce8ee
				& td
					padding 5px 5px
					border 1px solid #fff
					vertical-align middle
					background #f8fffe
					& ul.itemsMenu
						display block
						list-style none
						right 20px
						position relative
						& li
							display block
							color #414141
							text-align center
							font-size .7em
							line-height 1.3em
							margin 0px
				& h2
					color #fff
					font-family VAGRounded-LT,sans-serif !important
					font-size 1em
					line-height 1.1em
					margin 0
					text-align center
				& td.subtitle_left
					background #d8f4ee
					width 45px
					height 65px !important
					& h2
						color #71b3a5
						font-size 1.2em
						font-family VAGRounded-BT,sans-serif !important
						margin 0
						text-align center
				& td.title_top
					background #00a986
					padding 13px
					& h1
						font-size 1.3em
						text-align center
						color #fff
						line-height 1.2em
				& td.subtitle_top
					background #d8f4ee
					width 50px
					& h2
						color #71b3a5
				& td.vacunas_top
					background #71b3a5
