.text
	color black
	font-family text
	font-size 1em
	font-weight 400
	line-height 1.2em
	&--azul
		color azul
	&--azulCla
		color azulCla
	&--blanco
		color white
	&--mora
		color mora
	&--rosa
		color fucsia
	&--azul2
		color azul2
	&--verde
		color verde
	&--verde1
		color #afddd6
	&--gris
		color #a0a0a0
	&--naranja
		color #ff9c00
	&--rojo
		color rojo
	&--xxs
		font-size .8em
	&--xs
		font-size .9em
	&--sm
		font-size 1.2em
	&--md
		font-size 1.6em
	&--lg
		font-size 2.2em
	&--xlg
		font-size 3em
	&--lite
		font-family textLite
		font-weight 400
	&--bold
		font-family textBold
		font-weight 400
	&--line1
		line-height 1.1em
	&--marg0
		margin 0
	&--marg1
		margin-top 1em
	&--marg2
		margin-top 2em
	&--marg3
		margin-top 3em
	&--marg4
		margin-top 1em
		margin-bottom 0
	&--marg5
		margin-top 0
		margin-bottom 1em
	&--marg6
		margin-top 1.3em
	&--numForm
		background url("../../images/calendario/sprite.png") no-repeat -136px -191px
		color white
		display inline-block
		height 44px
		line-height 1.4em
		margin-right .5em
		width 45px
	&--numForm2
		background url("../../images/calendario/sprite.png") no-repeat -186px -283px
		color white
		display inline-block
		height 44px
		line-height 1.4em
		margin-right .5em
		width 45px
	&--iconAlert
		background url("../../images/calendario/sprite.png") no-repeat -45px -254px
		display inline-block
		height 40px
		margin-bottom -.2em
		width 40px
	strong
		font-weight 700

.list
	&--center
		text-align center
		color verde
		li
			margin-top .5em
			list-style none
	&--social
		li
			padding 0
	&--standar
		margin .5em 0 0 1em
		padding 0
		& > li
			& > a
				color gris
				outline none
			&.active
				color azul
				& > a
					color azul
					font-weight bold

.link
	outline none
	&--azul
		color azul
		&:hover, &:focus, &:active
			color azul
			text-decoration underline
	&--verde
		color verde
		&:hover, &:focus, &:active
			color verde
			text-decoration underline
	&--gris
		color #a0a0a0
		&:hover, &:focus, &:active
			color #a0a0a0
			text-decoration underline
	&--blanco
		color white
		&:hover, &:focus, &:active
			color white
			text-decoration underline

.icons
	&--alert
		background #fceba8
		border-radius 50%
		display block
		height 80px
		margin 1em auto 0
		position relative
		width 80px
		&:before
			background url("../../images/calendario/sprite.png") no-repeat -88px -247px
			content ""
			height 48px
			left 50%
			margin -24px 0 0 -26.75px
			position absolute
			top 45%
			width 55px
	&--active
		background #bee8e2
		border-radius 50%
		display block
		height 80px
		margin 1em auto 0
		position relative
		width 80px
		img
			display none
			left 50%
			position absolute
			top 50%
			transition all 250ms linear
	&--warning
		background #f5dfe7
		border-radius 50%
		display block
		height 80px
		margin 1em auto 0
		position relative
		width 80px
		&:before
			background url("../../images/calendario/sprite.png") no-repeat -184px -106px
			content ""
			height 50px
			left 50%
			margin -25px 0 0 -25px
			position absolute
			top 50%
			width 50px
	&--cerrarPerfil
		margin-top -.7em
		position absolute
		right .5em
		top 50%


